<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns">
      <div class="column">
        <div class="tile" id="yes" (click)="product.isWarrantied = true; additionalControls = true; handleWarranty(); nextOn = true">
          Oui.
        </div>
      </div>

      <div class="column">
        <div class="tile" id="no" (click)="product.isWarrantied = false; additionalControls = true; handleWarranty(); nextOn = true">
          Non, pas de garantie.
        </div>
      </div>
    </div>

    <div class="has-text-centered">
      <button class="button is-light" (click)="product.isWarrantied = false; nextOn = true; additionalControls = true;">Je suis particulier, cela ne me concerne pas</button>
    </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [additionalControls]=additionalControls
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
