<div class="box has-text-centered">
  <h2 class="subtitle has-text-weight-bold">Le produit</h2>

  <div class="columns">
    <div id="product-image" class="column">
      <img src="http://ekipr-media-dev.loutillerie.com/7ghonda18de2e/Groupe-electrogene-HONDA-4000W-0.jpg">
    </div>

    <div id="product-description" class="column">
      <h2 id="product-title" class="subtitle has-text-left">Groupe électrogène HONDA 4000W</h2>

      <table class="table">
        <tr>
          <td class="product-field"><fa-icon [icon]="['fas', 'tag']"></fa-icon> Marque :</td>
          <td>Honda</td>
        </tr>

        <tr>
          <td class="product-field"><fa-icon [icon]="['fas', 'search']"></fa-icon> Etat :</td>
          <td>Bon</td>
        </tr>

        <tr>
          <td class="product-field"><fa-icon [icon]="['fas', 'weight-hanging']"></fa-icon> Poids :</td>
          <td>1000</td>
        </tr>

        <tr>
          <td class="product-field"><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> Localisation :</td>
          <td>Paris</td>
        </tr>
      </table>

      <div class="content has-text-centered">
        Prix : <span class="price">300€</span>
      </div>
    </div>
  </div>
</div>
