#product-description {
  margin-top: 40px;
}

#product-title {
  font-weight: bold;
}

.product-field {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.tablet-field {
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop-field {
  margin-top: 2px;
  margin-bottom: 2px;
}
