<div class="box has-text-centered">
  <h2 class="subtitle section-title has-text-weight-bold">Le produit</h2>

  <!-- DESKTOP Display -->
  <div class="columns is-vcentered is-hidden-touch">
    <div class="column is-6">
      <img title="{{ sale.product.name }}" id="product-image-desktop" src="{{ thumbnail }}" alt="{{ sale.product.name }} ' (miniature)'">
    </div>

    <div *ngIf="sale" id="product-description" class="column">
      <h2 id="product-title" class="subtitle has-text-left-tablet has-text-centered-mobile">{{ sale.product.name }}</h2>

      <div class="content desktop-field has-text-left">
        <fa-icon [icon]="['fas', 'tag']"></fa-icon>&nbsp;<span class="bold">Marque</span>&nbsp;:
        <span *ngFor="let brand of sale.product.brands; first as first; last as last" class="has-text-danger has-text-weight-bold">
          {{ brand.name }}<span *ngIf="!first"> </span><span *ngIf="!last" class="normal">,</span>
        </span>
      </div>

      <div class="content desktop-field has-text-left">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;<span class="bold">Etat</span> :
        {{ sale.product.quality | quality }}
      </div>

      <div class="content desktop-field has-text-left">
        <fa-icon [icon]="['fas', 'weight-hanging']"></fa-icon>&nbsp;<span class="bold">Poids</span> :
        {{ sale.product.weight | weight:'value' }}{{ sale.product.weight | weight:'unity' }}
      </div>

      <div class="content desktop-field has-text-left">
        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>&nbsp;&nbsp;<span class="bold">Localisation</span> :
        {{ sale.product.locality }}
      </div>
    </div>
  </div>

  <!-- TABLET Display-->
  <div class="content is-hidden-desktop">
    <h2 id="product-title" class="subtitle has-text-centered">{{ sale.product.name }}</h2>

    <div class="content">
      <img title="{{ sale.product.name }}" id="product-image-tablet" src="{{ thumbnail }}" alt="{{ sale.product.name }} ' (miniature)'">
    </div>

    <div class="columns has-text-centered">
      <div class="column">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'tag']"></fa-icon><span class="bold">&nbsp;Marque</span>
        </div>
        <div class="content tablet-field">
          <span *ngFor="let brand of sale.product.brands; first as first; last as last" class="has-text-danger has-text-weight-bold">
            {{ brand.name }}<span *ngIf="!first"> </span><span *ngIf="!last" class="normal">,</span>
          </span>
        </div>
      </div>

      <div class="column">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;<span class="bold">Etat</span>
        </div>
        <div class="content tablet-field">
          {{ sale.product.quality | quality }}
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-centered">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'weight-hanging']"></fa-icon>&nbsp;<span class="bold">Poids</span>
        </div>
        <div class="content tablet-field">
          {{ sale.product.weight | weight:'value' }}{{ sale.product.weight | weight:'unity' }}
        </div>
      </div>

      <div class="column has-text-centered">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>&nbsp;<span class="bold">Localisation</span>
        </div>
        <div class="content tablet-field">
          {{ sale.product.locality }}
        </div>
      </div>
    </div>
  </div>
</div>
