<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form [formGroup]="form">
      <p class="control">
        <input id="phone" class="input" type="text" placeholder="{{ this.placeholder }}"
        (keydown)="onKey($event)"
        [(ngModel)]="user.userProfile.phone1"
        formControlName="phone">
      </p>
    </form>
    </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.phone.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.phone.errors }">
  <div class="error" *ngIf="controls.phone.errors.required">Le numéro est requis</div>
  <div class="error" *ngIf="controls.phone.errors.pattern">Le numéro est invalide</div>
</div>

<app-navigation
  [controls]=controls.phone.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
