<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName
        [isMandatory]=isMandatory></app-step-label>

        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="" (keyup)="onKey($event)" [(ngModel)]="user.userProfile.phone1" #name="ngModel" required minlength="10" maxlength="15">
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="content error has-text-left">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>

    <div *ngIf="name.errors.minlength">
        Le numéro de téléphone est trop court !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>