<div id="content" class="content">

    <!-- IDENTITY INFORMATION -->
    <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon class="section-icon" [icon]="['fas', 'address-card']"></fa-icon>Identité
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>

            <table class="table">
              <tr>
                <td class="field-name">Nom d'utilisateur</td>
                <td><input type="text" class="input is-small not-editable" [(ngModel)]="user.username" readonly></td>
              </tr>

              <tr>
                <td class="field-name">Prénom</td>
                <td><input type="text" class="input is-small not-editable" [(ngModel)]="user.userProfile.firstname" readonly></td>
              </tr>

              <tr>
                <td class="field-name">Nom</td>
                <td><input type="text" class="input is-small not-editable" [(ngModel)]="user.userProfile.lastname" readonly></td>
              </tr>

              <tr>
                <td class="field-name">Genre</td>
                <td colspan="2">
                  <input class="input is-small not-editable" value="{{ getGender() }}" readonly>
                </td>
              </tr>

              <tr>
                <td class="field-name">Date de naissance</td>
                <td><input type="date" class="input is-small not-editable" [(ngModel)]="birthdate" readonly></td>
              </tr>

              <tr>
                <td class="field-name">Statut</td>
                <td colspan="2">
                  <input class="input is-small not-editable" value="{{ getType() }}" readonly>
                </td>
              </tr>

              <tr *ngIf="user.userProfile.type === 'professional'">
                <td class="field-name">SIRET</td>
                <td><input type="text" class="input is-small" [(ngModel)]="user.userProfile.company.siret"></td>
              </tr>

              <tr *ngIf="user.userProfile.type === 'professional'">
                <td class="field-name">TVA</td>
                <td><input type="text" class="input is-small" [(ngModel)]="user.userProfile.company.tvanumber"></td>
              </tr>
            </table>
          </mat-panel-description>

          <button class="button is-light is-small" (click)="modals.open('dataChanges')">Une modification à faire ? Cliquez ici !</button>

          <div id="documents" class="content">
            <h2 class="subtitle">Mes documents</h2>
          </div>

          <button class="button is-dark is-small" (click)="modals.open('id')"><fa-icon [icon]="['fas', 'plus']"></fa-icon>Ajouter une pièce d'identité</button>
      </mat-expansion-panel>

    <!-- ADDRESSES -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <fa-icon class="section-icon" [icon]="['fas', 'house-user']"></fa-icon>Adresses
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let address of user.userProfile.addresses; let i = index">
          <table class="table">
            <tr>
              <td colspan="2" class="section-title">{{ user.userProfile.addresses[i].name }}</td>
            </tr>

            <tr>
              <td class="field-name">Nom</td>
              <td><input class="input is-small" [(ngModel)]="user.userProfile.addresses[i].name"></td>
            </tr>

            <tr>
              <td class="field-name">Pays</td>
              <td>
                <select [(ngModel)]="user.userProfile.addresses[i].country.isoCode" class="select pointed">
                  <option *ngFor="let isoCode of isoCodes" value="{{ isoCode }}">{{ getCountryName(isoCode) }}</option>
                </select>
              </td>
            </tr>

            <tr>
              <td class="field-name">Code postal</td>
              <td><input class="input is-small" [(ngModel)]="user.userProfile.addresses[i].zipcode"></td>
            </tr>

            <tr>
              <td class="field-name">Ville</td>
              <td><input type="text" class="input is-small" [(ngModel)]="user.userProfile.addresses[i].city"></td>
            </tr>

            <tr>
              <td class="field-name">Voie</td>
              <td><input class="input is-small" [(ngModel)]="user.userProfile.addresses[i].line1"></td>
            </tr>
          </table>

          <div class="field is-grouped">
            <p class="control">
              <button class="button is-dark is-small" (click)="updateUserAddress(i)">
                <fa-icon [icon]="['fas', 'save']" style="color: var(--KTKP-GREEN)"></fa-icon>Sauvegarder
              </button>
            </p>
            <p class="control">
              <button class="button is-dark is-small" (click)="modals.open('addressDeletion'); addressIndexToDelete = i">
                <fa-icon [icon]="['fas', 'times-circle']" style="color: var(--KTKP-RED)"></fa-icon>Supprimer
              </button>
            </p>
          </div>
        </div>

        <button class="button is-info is-small" (click)="addAddress()" style="margin-top: 20px"><fa-icon [icon]="['fas', 'plus']"></fa-icon>Ajouter une adresse</button>

    </mat-expansion-panel>

    <!-- CONTACT INFORMATION -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon class="section-icon" [icon]="['fas', 'envelope-open']"></fa-icon>Contact
        </mat-panel-title>
        </mat-expansion-panel-header>
          <table class="table">
            <tr>
              <td class="field-name">Email</td>
              <td><input id="email" class="input is-small" [(ngModel)]="user.userProfile.email"></td>
            </tr>

            <tr>
              <td class="field-name">Recevoir des actualités par mail</td>
              <td>
                <select [(ngModel)]="user.userProfile.emailOptin" class="select pointed">
                  <option value="1">Oui</option>
                  <option value="0">Non</option>
                </select>
              </td>
            </tr>

            <tr>
              <td class="field-name">Téléphone</td>
              <td><input id="phone" class="input is-small" [(ngModel)]="user.userProfile.phone1"></td>
            </tr>

            <tr>
              <td class="field-name">Recevoir des actualités par SMS</td>
              <td>
                <select [(ngModel)]="user.userProfile.phone1Optin" class="select pointed">
                  <option value="1">Oui</option>
                  <option value="0">Non</option>
                </select>
              </td>
            </tr>
          </table>

          <button class="button is-info is-small" (click)="updateUserData()" style="margin-top: 20px"><fa-icon [icon]="['fas', 'save']"></fa-icon>Mettre à jour les infos</button>
    </mat-expansion-panel>


    <!-- SECURITY INFORMATION -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon class="section-icon" [icon]="['fas', 'lock']"></fa-icon>Sécurité
        </mat-panel-title>
        </mat-expansion-panel-header>
          <table class="table">
            <tr>
              <td class="field-name">Mot de passe actuel</td>
              <td><input id="password" type="password" class="input is-small" [(ngModel)]="user.password"></td>
            </tr>

            <tr>
              <td class="field-name">Nouveau mot de passe</td>
              <td><input id="newPwd" type="password" class="input is-small" [(ngModel)]="user.newPassword"></td>
            </tr>

            <tr *ngIf="user.newPassword">
              <td class="field-name">Confirmation du nouveau mot de passe</td>
              <td><input id="password-confirmation" type="password" class="input is-small" [(ngModel)]="user.passwordConfirmation"></td>
            </tr>
          </table>

          <button class="button is-light is-small" (click)="updateUserPwd()">Mettre à jour le mot de passe</button>

          <div id="security"></div>
    </mat-expansion-panel>
    </mat-accordion>

    <article id="error-messages" class="message is-danger" *ngFor="let errorMsg of dashboardValidator.errorMessages">
      <div class="message-body">
        {{ errorMsg }}
      </div>
    </article>
</div>

<!-- Information Modal -->
<div class="modal {{ modals.get('addressDeletion') }}">
  <div class="modal-background" (click)="modals.close('addressDeletion')"></div>
  <div class="modal-content">
      <div class="box">
        <h2 class="subtitle">Voulez-vous réellement supprimer cette adresse ?</h2>

        <button class="button is-danger" (click)="removeAddress(addressIndexToDelete); modals.close('addressDeletion')">Oui</button>
        <button class="button is-light" (click)="modals.close('addressDeletion')">Non</button>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('addressDeletion')"></button>
</div>

<!-- ID Modal -->
<div class="modal {{ modals.get('id') }}">
  <div class="modal-background" (click)="modals.close('id')"></div>
  <div class="modal-content">
      <div class="box">
        <h2 class="subtitle">Ajouter une pièce d'identité</h2>

        <div id="displayed-medias"></div>

        <input accept=".png, .jpg" type="file" id="product-pictures" name="product-pictures" (change)="handleFile()" style="display: none;">
        <button (click)="openImgPicker()" id="file-select" class="button is-success" style="margin-bottom: 20px">Sélectionnez des images</button>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('id')"></button>
</div>

<!-- Data changes Modal -->
<div class="modal {{ modals.get('dataChanges') }}">
  <div class="modal-background" (click)="modals.close('dataChanges')"></div>
  <div class="modal-content">
      <div class="box">
        <h2 class="subtitle">Modifier des informations</h2>

        <label class="label">Que souhaitez-vous changer ?</label>
        <textarea class="textarea">

        </textarea>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('dataChanges')"></button>
</div>
