<div class="content">
  <h2 class="subtitle">Mes négociations</h2>

  <div class="content" *ngIf="purchases.length === 0">
    Vous n'avez fait aucune offre pour le moment :'-(

    <div class="content">
      <a routerLink="/home" class="button is-danger">Consulter nos produits</a>
    </div>
  </div>

  <mat-accordion *ngIf="purchases.length > 0">
    <mat-expansion-panel *ngFor="let purchase of getRunningPurchases()">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon *ngIf="purchaseManager.requireAction(purchase)" class="notification-icon" [icon]="['fas', 'bell']"></fa-icon>
          {{ purchase.productName }}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Prix du produit : {{ purchase.reservePrice | currency:'full' }}€
        </mat-panel-description>

        <!-- When a bid is accepted -->
        <div *ngIf="purchase.isAccepted" class="content bid">
          Votre offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> a été acceptée. Félicitations !<br>

          <button (click)="goToProductPage(purchase)" class="button is-danger addspaceabove">Acheter au prix de {{ purchase.bidAmount | currency:'full' }}€</button>

          <div (click)="modals.open('purchase-explanation')" class="content pointed">
            <fa-icon class="info-icon accepted" [icon]="['fas', 'info-circle']"></fa-icon> <span style="text-decoration: underline;">J'ai besoin d'aide</span>
          </div>
        </div>

        <!-- When a bid is refused -->
        <div *ngIf="purchase.isAccepted === false" class="content bid">
          Votre offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> a été refusée.<br>
          Vous ne pouvez plus faire de proposition, mais ne laissez pas passer votre chance :

          <button (click)="goToProductPage(purchase)" class="button is-danger addspaceabove">Acheter au prix de {{ purchase.reservePrice | currency:'full' }}€</button>
        </div>

        <div *ngIf="purchase.counterOfferAmount !== null" class="content bid">
          Le vendeur ne peut pas accepter votre offre :<br>

          <div class="content less-discreet-text italic">
            "Bonjour, votre offre est malheureusement trop basse.<br>
            Voici le montant que je serais prêt(e) à accepter :
            <span class="declined">{{ purchase.counterOfferAmount | currency:'full' }}€</span><br>
            Merci pour votre intérêt et à bientôt j'espère."
          </div>

          Si l'offre vous convient, rendez-vous sur la page produit :<br>
          <button (click)="goToProductPage(purchase)" class="button is-danger addlittlespaceabove">Acheter au prix de {{ purchase.counterOfferAmount | currency:'full' }}€</button>

          <div (click)="modals.open('purchase-explanation')" class="content pointed">
            <fa-icon class="info-icon accepted" [icon]="['fas', 'info-circle']"></fa-icon> <span style="text-decoration: underline;">J'ai besoin d'aide</span>
          </div>
        </div>

        <!-- When a counter offer is made -->
        <div *ngIf="purchase.isClosed === null" class="content bid">
          Offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> envoyée !<br><br>
          En attente d'une réponse de la part du vendeur.
        </div>

        <div class="content bid-date has-text-left discreet-text">
          <fa-icon [icon]="['fas', 'clock']"></fa-icon>
          {{ purchase.createdAt | date:'dd/MM/yyyy' }} à {{ purchase.createdAt | date:'hh:mm' }}
        </div>

        <a class="product-page" (click)="goToProductPage(purchase)">Accéder à la page du produit</a>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- ##### MODALS ##### -->

<!-- Purchase explanation -->
<div class="modal {{ modals.get('purchase-explanation') }}">
  <div class="modal-background" (click)="modals.close('purchase-explanation')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Comment finaliser mon achat ?</h2>

      <div class="content">
        Si la proposition du vendeur vous convient, rendez-vous sur la page de son produit. En cliquant sur <span class="declined">Acheter</span>, vous obtiendrez le prix actualisé : vous n'avez plus qu'à finaliser votre vente.
      </div>

      <div class="content">
        Une fois sur la page récapitulative de votre commande, vous pourrez vérifier que tout vous convient et procéder au paiement par carte de crédit.
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('purchase-explanation')"></button>
</div>

<!-- Offer acceptance -->
<div class="modal {{ modals.get('acceptOffer') }}">
  <div class="modal-background" (click)="modals.close('acceptOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment accepter cette offre ?</h2>

      <button (click)="bidManager.acceptOffer(currentBid.id); modals.close('acceptOffer')" class="button is-success">Oui</button>
      <button (click)="modals.close('acceptOffer')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('acceptOffer')"></button>
</div>

<!-- Offer declinance -->
<div class="modal {{ modals.get('declineOffer') }}">
  <div class="modal-background" (click)="modals.close('declineOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment refuser cette offre ?</h2>

      <button (click)="bidManager.declineOffer(currentBid.id); modals.close('declineOffer')" class="button is-danger">Oui</button>
      <button (click)="modals.close('declineOffer')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('declineOffer')"></button>
</div>
