<footer *ngIf="toDisplay" class="footer">
  <div class="columns is-centered has-text-centered-mobile">
    <div class="column is-9">
      <div class="columns is-centered">

        <!-- About -->
        <div class="column">
          <h1 class="title">A propos d'Outilly</h1>

          <div class="columns">
            <div class="column">
              <ul>
                <li><a [href]="categoryService.getCategoryRoute(1, true)" class="link pointed" title="Mécanique" [routerLink]="categoryService.getCategoryRoute(1)">Mécanique</a></li>
                <li><a [href]="categoryService.getCategoryRoute(2, true)" class="link pointed" title="Bricolage" [routerLink]="categoryService.getCategoryRoute(2)">Bricolage</a></li>
                <li><a [href]="categoryService.getCategoryRoute(3, true)" class="link pointed" title="Jardin" [routerLink]="categoryService.getCategoryRoute(3)">Jardin</a></li>
              </ul>
            </div>

            <div class="column">
              <ul>
                <li><a href="/team" routerLink="/team">L'équipe</a></li>
                <li><a href="/contact" routerLink="/contact">Nous contacter</a></li>
                <li><a href="/sitemap.xml">Sitemap</a></li>
              </ul>

              <div id="social-network" class="content has-text-centered">
                <a href="https://www.youtube.com/channel/UC3UZi_Y1_7zZVwzQbeJY04A" target="_blank"><fa-icon [icon]="['fab', 'youtube']" class="declined"></fa-icon></a>
                <a href="https://www.facebook.com/outilly" target="_blank"><fa-icon [icon]="['fab', 'facebook-square']" class="counter-offer"></fa-icon></a>
                <a href="https://www.instagram.com/outilly.fr" target="_blank"><fa-icon [icon]="['fab', 'instagram-square']" class="purple"></fa-icon></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Brands -->
        <div class="column">
          <h1 class="title">Nos marques</h1>

          <div class="columns">
            <div class="column">
              <ul>
                <li *ngFor="let brand of footerBrands.slice(0, 5)">
                  <a [href]="brandManager.getBrandUrl(brand)">{{ brand }}</a>
                </li>
              </ul>
            </div>

            <div class="column">
              <ul>
                <li *ngFor="let brand of footerBrands.slice(5)">
                  <a [href]="brandManager.getBrandUrl(brand)">{{ brand }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Legal information -->
        <div class="column">
          <h1 class="title">Informations légales</h1>

          <ul>
            <li><a href="" routerLink="/legal-mentions">Mentions légales</a></li>
            <li><a href="" routerLink="/confidentiality-policy">Politique de confidentialité</a></li>
            <li><a href="" routerLink="/general-terms-and-conditions">Conditions Générales de Ventes/Utilisation</a></li>
          </ul>
        </div>
      </div>

      <div class="content has-text-centered">
        Nous sécurisons toutes vos transactions de biens grâce à nos partenaires de confiance
      </div>

      <div class="columns has-text-centered">
        <div class="column">
          <h2 class="subtitle">{{ 'Modes de paiement' | uppercase }}</h2>

          <div class="content">
            100% sécurisé avec notre partenaire MangoPay par carte bancaire.
          </div>

          <div class="content">
            <img id="mangopay-logo" src="/assets/img/logo/powered-by-mangopay.png" title="Logo MangoPay" alt="Logo MangoPay" width="250" height="auto">
          </div>
        </div>

        <div class="column">
          <h2 class="subtitle">{{ 'Modes de livraison' | uppercase }}</h2>

          <div class="content">
            En point relais avec Mondial Relay.
          </div>

          <div class="content">
            <img id="mondial-relay-logo" src="/assets/img/logo/mondial-relay-logo.png" title="Logo Mondial Relay" alt="Logo Mondial Relay" width="30" height="auto">
          </div>
        </div>
      </div>

      <div class="content has-text-centered">
        &#169; 2020 - Outilly Tous droits réservés
      </div>
    </div>
  </div>
</footer>
