<footer *ngIf="toDisplay" class="footer has-text-centered has-background-dark has-text-white">
  <p>
    © 2020 - L'Outillerie | Tous droits réservés - Mentions légales - Politique de confidentialité - Conditions Générales de Vente/Utilisation - Nous contacter
  </p>

  <p>
    Nous sécurisons toutes vos transactions de biens grâce à notre partenaire de confiance.
  </p>

  <div class="columns is-centered has-text-centered">
    <div class="column is-3">
      <h2 class="subtitle">MODES DE PAIEMENT</h2>
      <p>
        100% sécurisé avec notre partenaire MangoPay.
      </p>
    </div>

    <div class="column is-3">
      <h2 class="subtitle">MODES DE LIVRAISON</h2>
      <p>
        En point relais avec Mondial Relay.<br>
      </p>
    </div>
  </div>
</footer>
