<div class="content has-text-centered">
  <h1 class="title">Faites estimer gratuitement vos matériaux ou outils.</h1>

  <div class="content discreet-text">
    Vous avez beaucoup de produits à vendre ? Contactez-nous directement au {{ contactPhone | phone:' ' }} pour une estimation rapide et gratuite.
  </div>

  <div id="estimate-content" class="content">
    <div *ngIf="!auth.isLogged()">
      Vous devez <a routerLink="/onboarding" href="/onboarding" class="important">créer un compte</a> pour demander une estimation gratuite à notre équipe.<br>
      <a routerLink="/login" href="/login" class="important">Connectez-vous</a> si vous en avez déjà un.
    </div>

    <form>
      <div class="field">
        <label class="label" title="Obligatoire">Description*</label>
        <textarea class="textarea small centered" placeholder="Indiquez un maximum d'informations sur le produit que vous souhaitez vendre : état, référence, marque, quantité, etc."></textarea>
      </div>

      <div class="field">
        <label class="label">Quantité</label>
        <input class="input tiny" type="number">
      </div>

      <div class="field">
        <div class="control centered">
          <div class="content">
            Disposez-vous d'une facture ?
          </div>
          <label class="radio">
            <input type="radio" name="invoice">
            Oui
          </label>

          <label class="radio">
            <input type="radio" name="invoice">
            Non
          </label>
        </div>
      </div>

      <button class="button is-danger">Valider</button>
    </form>
  </div>
</div>
