<div id="page-content" class="content padded has-text-centered">
  <h1 class="title has-text-centered">Faites estimer gratuitement vos matériaux ou outils.</h1>

  <ng-container *ngIf="!estimationManager.estimationSent">
    <div id="estimate-content" class="content">
      <form class="spaced">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" title="Obligatoire">Description*</label>
          </div>

          <div class="field-body">
            <textarea name="description" [(ngModel)]=data.description class="textarea small" placeholder="Indiquez un maximum d'informations sur le produit que vous souhaitez vendre : état, référence, marque, quantité, etc."></textarea>
          </div>
        </div>

        <div class="addspacebelow">
          <app-file-upload
            [medias]=data.files
            (filesEmitter)=getFilesEmitter($event)>
          </app-file-upload>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Quantité</label>
          </div>
          <div class="field-body">
            <input name="quantity" class="input tiny" type="number" [(ngModel)]=data.quantity min=0>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            Disposez-vous d'une facture ?
          </div>

          <div class="field-body">
            <div class="field is-narrow">
              <div class="control has-text-centered">
                <label class="radio">
                  <input type="radio" name="invoice" [value]=true [(ngModel)]=data.hasInvoice>
                  Oui
                </label>

                <label class="radio">
                  <input type="radio" name="invoice" [value]=false [(ngModel)]=data.hasInvoice>
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="auth.isLogged()">
          <button *ngIf="!isValid()" class="button is-light no-overflow">
            <fa-icon [icon]="['fas', 'paper-plane']" class="side-icon"></fa-icon>
            Valider votre estimation
          </button>
          <button *ngIf="isValid()" class="button is-danger no-overflow" (click)="estimationManager.estimate(data)">
            <fa-icon [icon]="['fas', 'paper-plane']" class="side-icon"></fa-icon>
            Valider votre estimation
          </button>
        </div>

        <div *ngIf="!auth.isLogged()" class="content">
          <div class="buttons">
            <button *ngIf="!isValid()" routerLink="/login" href="/login" class="button is-light no-overflow">
              <fa-icon [icon]="['fas', 'paper-plane']" class="side-icon"></fa-icon>
              Valider votre estimation
            </button>
          </div>

          <div class="buttons">
            <button *ngIf="isValid()" routerLink="/login" href="/login" class="button is-danger no-overflow" (click)="setRedirection()">
              <fa-icon [icon]="['fas', 'paper-plane']" class="side-icon"></fa-icon>
              Valider votre estimation
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="estimationManager.estimationSent">
    <div class="notification is-success has-text-centered">
      Votre estimation a bien été envoyée !
    </div>

    <button class="button is-success" (click)="resetData()">Faire une nouvelle estimation</button>
  </ng-container>
</div>
