<div class="content">
    <span class="accroche">C'est (presque) fini&nbsp;!</span><br><br>
    Votre compte est créé sur {{ brandName }}, mais attention !<br>
    Pour valider votre inscription, vous devez l'<span class="bold">activer
    depuis votre messagerie</span> via le mail que nous venons de vous envoyer.
</div>

<div *ngIf="comesFromProductOnboarding()" class="content">
  Vous allez être redirigé(e) vers votre annonce afin de la finaliser.
</div>

<div class="content">
  <button *ngIf="!comesFromProductOnboarding()" class="button is-danger" (click)="this.backToLogin()">Continuer</button>
  <button *ngIf="comesFromProductOnboarding()" class="button is-danger" routerLink="/product/create/announce-overview">Revenir à mon annonce</button>
</div>
