.input, .input:focus, .input:enabled {
    border: none;
    border-radius: 0;
    background-color: white;
    color: #727272;
    border-left: solid 3px var(--KTKP-GREEN);
    font-size: 1.5em;
}

.control fa-icon {
  color: black;
}

.columns {
    margin-top: 100px;
}

.label {
    margin-top: 100px;
    margin-bottom: 30px;
}

.asterisque {
    font-weight: bold;
    color: #E35557;
}

.error {
    color: #E35557;
}

.select, select {
    width: 100%;
}

/* Error */

.is-invalid.input {
  border-left-color: var(--MAT-GREY);
}

.is-invalid.error {
  color: var(--KTKP-RED);
  text-align: center;
}

/* TILES */
.tiles {
  margin-top: 20px;
}

.tile {
  display: inline-flex;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  border: solid 2px #DEDEDE;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tile:hover {
  background: var(--KTKP-GREY);
  border-color: var(--KTKP-GREY);
}

.chosen-tile {
  background: var(--KTKP-GREEN) !important;
  border-color: var(--KTKP-GREEN);
  color: white;
}

@media screen and (max-width: 768px) {
  .field {
    padding-left: 25px;
    padding-right: 25px;
  }

  .error {
    padding-left: 25px;
  }
}
