#contact {
  margin: auto;
  max-width: 700px;
}

.title {
  border-bottom: solid 2px var(--KTKP-GREEN);
  margin-bottom: 40px;
}

.subtitle {
  margin-bottom: 5px;
  font-size: 1.2em;
}

textarea {
  font-size: 1em;
}

.input, .input:focus, .input:enabled {
  border: none;
  border-bottom: solid 1px var(--MAT-GREY);
  border-radius: 0;
  background-color: white;
  color: #727272;
  border-left: solid 3px var(--MAT-GREY);
  font-size: 1.2em;
}

.input.is-valid {
  border-left: solid 3px var(--KTKP-GREEN);
  border-bottom: solid 1px var(--KTKP-GREEN);
}

.field.is-horizontal {
  margin-bottom: 20px;
}
