#pop-up {
  position: fixed;
  text-align: center;
  width: 300px;
  min-height: 100px;
  margin-left: 20px;
  bottom: 50px;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  #pop-up {
    margin: auto;
  }
}
