<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <form *ngIf="form" [formGroup]="form">
          <input id="warrantyDuration" class="input no-border" type="number"
          [(ngModel)]="product.warrantyDuration"
          (keydown)="onKey($event)"
          formControlName="warrantyDuration"
          [ngClass]="{'is-invalid': controls.warrantyDuration.errors}">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.warrantyDuration.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.warrantyDuration.errors }">
  <div class="error" *ngIf="controls.warrantyDuration.errors.required">La durée de garantie est requise</div>
  <div class="error" *ngIf="controls.warrantyDuration.errors.isEmpty">La durée de garantie est requise</div>
  <div class="error" *ngIf="controls.warrantyDuration.errors.min">La durée de garantie ne peut pas être négative</div>
</div>

<app-navigation
  [data]=formData
  [controls]=controls.warrantyDuration.errors
  [disabledEnterKey]=false
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>

