<app-loading *ngIf="!loaded"></app-loading>

<div *ngIf="loaded">
  <h1 class="title has-text-centered">
    Articles du vendeur ({{ totalNbResults }})
  </h1>

  <app-products-display
    [sales]=sales
    [resultsPerPage]=resultsPerPage
    [noMoreResults]=noMoreResults
    [loading]=loading
    (loadMore)=loadMoreHandle()>
  </app-products-display>

  <div *ngIf="sales.length !== 0" class="content has-text-centered">
    <button *ngIf="!loading" class="button is-danger is-outlined load-more no-overflow" (click)="loadMoreHandle()">Voir {{ resultsPerPage }} annonces de plus</button>
    <button *ngIf="loading" class="button is-light is-loading"></button>
  </div>
</div>
