<div class="content has-text-left">
    <div class="field">

    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

      <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

      <form *ngIf="form" [formGroup]="form">
        <p class="control">
          <input id="firstname" class="input no-border is-hidden-mobile"
          type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="user.userProfile.firstname"
          formControlName="firstname"
          [ngClass]="{'is-invalid': controls.firstname.errors }">

          <input id="firstname-mobile" class="input no-border is-hidden-tablet"
          type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="user.userProfile.firstname"
          formControlName="firstname"
          [ngClass]="{'is-invalid': controls.firstname.errors }">
        </p>
      </form>

      <!-- Errors display -->
      <div *ngIf="controls.firstname.errors" class="invalid-feedback has-text-centered" [ngClass]="{'is-invalid': controls.firstname.errors }">
        <div class="error" *ngIf="controls.firstname.errors.required">Le prénom est requis</div>
      </div>
    </div>
</div>

<app-navigation
  [controls]=controls.firstname.errors
  [data]=formDataService
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
