.previews {
  width: 150px;
  margin: auto;
  border: solid 3px var(--KTKP-GREY);
}

.preview-container {
  --spacing: 4%;
  position: relative;
  width: 300px;
  margin: auto;
}

.action-button {
  position: absolute;
  top: 8px;
  padding: 6px;
  font-size: 0.6em;
  transition: 0.3s;
}

.action-button:hover {
  font-size: 1em;
  padding: 10px;
}

.delete-button {
  right: var(--spacing);
}

#free-tag {
  background-color: var(--KTKP-YELLOW);
  color: white;
  font-size: 0.5em;
  border-radius: none;
  width: 45px;
  margin: auto;
  margin-top: 0px;
  padding: 2px;
}

.progress {
  margin-top: 5px;
  animation: 2s loading infinite alternate
}

#percentage-value {
  color: var(--KTKP-RED);
}

/* ANIMATIONS */
@keyframes loading {
  from {opacity: 1;}
  to {opacity: 0.5;}
}
