<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <div id="free-tag" class="content has-text-centered">
      GRATUIT
    </div>
    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle
      [isMandatory]=isMandatory>
    </app-step-label>
  </div>
</div>

<input type="file" accept=".mp4, .avi" id="product-video" multiple name="product-video" (change)="handleFile()" class="button is-success" style="display: none">
<button *ngIf="!isLoading" (click)="openImgPicker()" id="file-select" class="button is-success" style="margin-bottom: 20px">Sélectionnez une vidéo</button>
<button *ngIf="isLoading" id="file-select" class="button is-light is-loading" style="margin-bottom: 20px"></button>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<div *ngIf="isLoading" class="content">
  Votre fichier est en cours d'envoi...
</div>

<div class="content" *ngFor="let media of product.productMedias">
  <div *ngIf="media.type === 'video'" class="preview-container">
    <!-- <img class="previews" src="/assets/img/logo/play.png"> -->
    <video id="{{ media.path }}" controls>
      <source src="{{ mediaBaseUri + media.path }}" type="video/mp4">
    </video>

    <button (click)="cancelMedia(media)" title="Supprimer cette vidéo" class="button is-danger is-small action-button delete-button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
</div>

<app-navigation
  [data]=formData
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
