<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [nbStep]=nbStep>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [isMandatory]=isMandatory>
    </app-step-label>
  </div>
</div>

<input type="file" accept=".mp4, .avi" id="product-video" name="product-video" (change)="getFile()" class="button is-success" style="display: none">
<button (click)="openImgPicker()" id="file-select" class="button is-success" style="margin-bottom: 20px">Sélectionnez une vidéo</button>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<div *ngFor="let media of product.productMedias">
  <nav class="level" *ngIf="media.type === 'video'">
    <div class="level-left">
      {{ media.path }}
    </div>
    <div class="level-right">
      <button class="button is-dark">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
  </nav>
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
