<div id="homepage">
  <app-herobody
    [logged]=logged>
  </app-herobody>
  <app-slogan></app-slogan>

  <app-construction-call-to-action></app-construction-call-to-action>
  <app-incentive class="is-hidden-mobile"></app-incentive>

  <div class="content has-text-centered">
    <a class="button bg-blue has-text-white" href="/product-estimate" routerLink="/product-estimate">{{ "Estimer vos produits" }}</a>
  </div>

  <div class="addspacebelow addspaceabove">
    <h1 class="title has-text-centered bold">
      Parcourir les annonces
    </h1>
  </div>

  <div class="addspacebelow">
    <app-search-box class="is-hidden-tablet"
      [buttonHidden]=true>
    </app-search-box>
  </div>

  <!-- Replaced by search engine. Will be used elsewhere later -->
  <!-- <app-search
    [allCategories]=allCategories
    [allTypes]=allTypes
    [decreasingPrice]=decreasingPrice
    [loadMore]=loadMore
    (filtersEmitter)=getFilters($event)
    (salesEmitter)=getSales($event)
    (loadingEmitter)=getLoadingState($event)>
  </app-search> -->

  <app-products
    [sales]=sales
    [loading]=loading
    [filtersNb]=filtersNb
    (loadMoreEmitter)="getLoadMore($event)">
  </app-products>
  <app-incentive class="is-hidden-tablet"></app-incentive>

  <app-solutions></app-solutions>
</div>
