<div id="homepage">
  <app-herobody></app-herobody>
  <app-slogan></app-slogan>
  <app-incentive class="is-hidden-mobile"></app-incentive>
  <app-search id="search"
    [allCategories]=allCategories
    [allTypes]=allTypes
    [decreasingPrice]=decreasingPrice
    [loadMore]=loadMore
    (salesEmitter)="getSales($event)">
  </app-search>
  <app-products
    [sales]=sales
    (loadMoreEmitter)="getLoadMore($event)">
  </app-products>
  <app-incentive class="is-hidden-tablet"></app-incentive>
</div>
