<div id="homepage">
  <app-herobody
    [logged]=logged>
  </app-herobody>
  <app-slogan></app-slogan>
  <app-incentive class="is-hidden-mobile"></app-incentive>

  <div class="addhugespacebelow addhugespaceabove">
    <h1 class="title has-text-centered bold">
      Parcourir les annonces
    </h1>
  </div>

  <app-search
    [allCategories]=allCategories
    [allTypes]=allTypes
    [decreasingPrice]=decreasingPrice
    [loadMore]=loadMore
    (filtersEmitter)=getFilters($event)
    (salesEmitter)=getSales($event)
    (loadingEmitter)=getLoadingState($event)>
  </app-search>

  <app-products
    [sales]=sales
    [loading]=loading
    [filtersNb]=filtersNb
    (loadMoreEmitter)="getLoadMore($event)">
  </app-products>
  <app-incentive class="is-hidden-tablet"></app-incentive>
</div>
