<div class="content has-text-left">
    <div class="field">
        <label class="label">*{{ step }}. Quel est votre nom ?</label>
        <input class="input" type="text" placeholder="(ex : Uvuvwevwevwe Onyetenyemwe Ugwemubwem Ossas)" [(ngModel)]="user.userProfile.lastName" #name="ngModel" required minlength=2>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="box has-background-danger has-text-white">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>

    <div *ngIf="name.errors.minlength">
        Le nom doit contenir au moins 2 lettres.
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>