<section>
  <div class="columns is-centered">
    <div class="login">
      <section *ngIf="loginFailed" class="section">
        <article class="message is-danger">
          <div class="message-header">Erreur</div>
          <div class="message-body">
            Adresse e-mail ou mot de passe incorrect.
          </div>
        </article>
      </section>

      <section #activation *ngIf="activated" class="section">
        <article class="message is-success">
          <div class="message-header">
            Bien joué ! Votre compte a été activé !
            <button (click)="closeNotification(activation)" class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            Vous pouvez maintenant <span class="bold">faire des offres</span> et <span class="bold">vendre vos produits</span>.
          </div>
        </article>
      </section>

      <section class="section">
        <form (ngSubmit)="login()" #form="ngForm">
          <div class="field">
            <label class="label">Adresse e-mail</label>
            <div class="control has-icons-left">
              <input id="username" class="input is-hidden-mobile" type="text" name="username" [(ngModel)]="model.username" required />
              <input class="input is-hidden-tablet" type="text" name="username" [(ngModel)]="model.username" required />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="['fas','user']"></fa-icon>
                </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Mot de passe</label>
              <div class="control has-icons-left has-icons-right">
                <input #password class="input" type="password" name="password" [(ngModel)]="model.password" required />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="['fas','key']"></fa-icon>
                </span>

                <span class="icon is-small is-right">
                  <fa-icon [icon]="['fas','eye']" class="is-pointable pointed" (click)="inputService.passwordDisplay(password)"></fa-icon>
                </span>
              </div>
          </div>
          <div class="has-text-centered">
            <button type="submit" class="button is-vcentered is-primary is-outlined">Se connecter</button>
          </div>
        </form>

        <div class="content has-text-centered">
          Vous n'avez pas de compte ? <a routerLink="/account-onboarding" class="link bold">Inscrivez-vous !</a><br>
          Mot de passe oublié ? <a routerLink="/reset-password-request" class="link bold">Venez par ici !</a>
        </div>
      </section>
    </div>
  </div>
</section>
