<div class="columns">
  <div class="column is-2">
    <button routerLink="/checkout/order-summary" id="back" class="button is-text no-overflow">
      <fa-icon id="left-arrow" [icon]="['fas', 'arrow-alt-circle-left']"></fa-icon>
      Retour à l'étape précédente
    </button>
  </div>
  <div class="column is-8">
    <h1 class="title has-text-centered">Paiement de votre commande</h1>
  </div>
  <div class="column is-2">

  </div>
</div>

<div class="columns is-centered">
  <div class="column is-8">
    <article *ngIf="testCard" class="message is-success">
      <div class="message-header">
        <h1 class="title has-text-white">Cartes de tests</h1>
      </div>

      <div class="message-body">
        <div class="content">
          <h1 class="subtitle">Pour les paiements de <span class="declined">- de 50€ (non-inclus)</span></h1>
          <ul>
            <li>4972485830400049</li>
            <li>4972485830400056</li>
            <li>4972485830400064</li>
            <li>4972485830400072</li>
          </ul>
        </div>

        <div class="content">
          <h1 class="subtitle">Pour les paiements de <span class="declined">+ de 50€ (inclus)</span></h1>

          <div class="content">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            Pour ces paiements, le 3D Secure va s'activer, vous allez être <span class="bold">redirigé vers une page de validation</span>.<br><br>
            Le mot de passe devra <span class="underline">obligatoirement</span> être <span class="declined">MANGOPAY123</span> (en respectant les majuscules).
          </div>

          <ul>
            <li>4970104100876588</li>
            <li>4970104100876596</li>
          </ul>
        </div>
      </div>
    </article>

    <div class="box has-text-centered">
      <div id="header" class="content">
        <h2 class="subtitle">Informations de la carte</h2>
        <div class="discreet-text">
          Ces informations sont sécurisées
        </div>
      </div>

      <div id="card-info" class="content">

          <!-- Card owner-->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Titulaire de la carte</label>
            </div>

            <div class="column">
              <div class="field">
                <form [formGroup]="form">
                <p class="control has-icons-left">
                  <input class="input is-dark" type="text"
                    [(ngModel)]="payment.cardOwner"
                    formControlName="cardOwner"
                    [ngClass]="{'is-invalid': controls.cardOwner.errors && payment.cardOwner, 'is-valid': !controls.cardOwner.errors }">
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                  </span>
                </p>
                </form>
              </div>
            </div>
          </div>

          <span *ngIf="controls.cardOwner.errors && payment.cardOwner" class="invalid-feedback" [ngClass]="{'is-invalid': controls.cardOwner.errors }">
            <span class="error" *ngIf="controls.cardOwner.errors.required">Le nom est requis pour compléter la transaction</span>
            <span class="error" *ngIf="controls.cardOwner.errors.pattern">Le nom est invalide</span>
          </span>

          <!-- Card number -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Numéro de carte</label>
            </div>

            <div class="column has-text-centered-mobile">
              <div class="field">
                <form [formGroup]="form">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="text" maxlength="16"
                      formControlName="cardNumber"
                      [(ngModel)]="payment.cardNumber"
                      [ngClass]="{'is-invalid': controls.cardNumber.errors && payment.cardNumber, 'is-valid': !controls.cardNumber.errors }">
                    <span class="icon is-small is-left">
                      <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
                    </span>
                  </p>
                </form>
              </div>
            </div>
          </div>

          <span *ngIf="controls.cardNumber.errors && payment.cardNumber" class="invalid-feedback" [ngClass]="{'is-invalid': controls.cardNumber.errors }">
            <span class="error" *ngIf="controls.cardNumber.errors.required">Le numéro de carte est requis pour compléter la transaction</span>
            <span class="error" *ngIf="controls.cardNumber.errors.pattern">Le numéro de carte est invalide</span>
          </span>

          <!-- Expiration Date -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="field-label column has-text-right has-text-centered-mobile">
              <label class="label">Date d'expiration</label>
            </div>

            <div class="column">

              <div class="field-body expiration-date is-mobile">
                <!-- Expiration month -->
                <div class="field">
                  <form [formGroup]="form">
                    <p class="control">
                      <input class="input is-dark expiration-date" placeholder="mm" type="text" maxlength="2"
                        formControlName="cardExpirationMonth"
                        [(ngModel)]="payment.cardExpirationMonth"
                        [ngClass]="{'is-invalid': controls.cardExpirationMonth.errors && payment.cardExpirationMonth, 'is-valid': !controls.cardExpirationMonth.errors }">
                    </p>
                  </form>
                </div>

                <!-- Expiration year -->
                <div class="field">
                  <form [formGroup]="form">
                    <p class="control">
                      <input class="input is-dark expiration-date" placeholder="aa" type="text" maxlength="2"
                        [(ngModel)]="payment.cardExpirationYear"
                        formControlName="cardExpirationYear"
                        [ngClass]="{'is-invalid': controls.cardExpirationYear.errors && payment.cardExpirationYear, 'is-valid': !controls.cardExpirationYear.errors }">
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <span *ngIf="controls.cardExpirationMonth.errors && payment.cardExpirationMonth" class="invalid-feedback" [ngClass]="{'is-invalid': controls.cardExpirationMonth.errors }">
            <span class="error" *ngIf="controls.cardExpirationMonth.errors.pattern">Le mois d'expiration est invalide</span>
          </span>

          <span *ngIf="controls.cardExpirationYear.errors && payment.cardExpirationYear" class="invalid-feedback" [ngClass]="{'is-invalid': controls.cardExpirationYear.errors }">
            <span class="error" *ngIf="controls.cardExpirationYear.errors.pattern">L'année d'expiration est invalide</span>
          </span>

          <!-- Security Code -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Code de sécurité
                <fa-icon [icon]="['fas', 'question-circle']" title="Le code de sécurité correspond aux 3 chiffres situés généralement au dos de votre carte"></fa-icon>
              </label>
            </div>

            <div class="column">
              <div class="field" id="security-code">
                <form [formGroup]="form">
                  <p class="control">
                    <input class="input is-dark" type="text" maxlength="3"
                      formControlName="cardCvx"
                      [ngClass]="{'is-invalid': controls.cardCvx.errors && payment.cardCvx, 'is-valid': !controls.cardCvx.errors }"
                      [(ngModel)]="payment.cardCvx">
                  </p>
                </form>
              </div>
            </div>
          </div>

          <span *ngIf="controls.cardCvx.errors && payment.cardCvx" class="invalid-feedback" [ngClass]="{'is-invalid': controls.cardCvx.errors }">
            <span class="error" *ngIf="controls.cardCvx.errors.pattern">Le code de sécurité est invalide</span>
          </span>

        <div class="content">
          <img title="Moyens de paiement acceptés : Visa / Mastercard" src="/assets/img/logo/visa-mastercard.png" alt="Moyens de paiement acceptés : Visa / Mastercard">
        </div>

        <button *ngIf="loading === false" (click)="payment.saveCardInformation(); loading = true" id="lock" class="button is-danger is-large">
          <fa-icon id="lock-icon" [icon]="['fas', 'lock']"></fa-icon>
          Valider le paiement de {{ orderPrice | currency:'full' }}€
        </button>
        <button *ngIf="loading" class="button is-light is-loading"></button>
      </div>
    </div>

    <div class="content has-text-right">
      <img src="/assets/img/logo/powered-by-mangopay.png" alt="visa & mastercard logos">
    </div>
  </div>
</div>
