.input {
  width: 200px;
}

.input:default {
  color: black;
}

.input:valid {
  border: solid 2px var(--KTKP-GREEN);
}

.input:invalid {
  border: solid 2px grey;
}

.notification {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.control {
  text-align: left;
}

.subtitle {
  margin-bottom: 5px;
}

#header {
  margin-bottom: 50px;
}

#security-code input {
  width: 50px;
}

.field-body > .field:not(:last-child) {
  flex: 0;
}

input.expiration-date {
  width: 50px;
}

#lock {
  font-size: 1em;
}

#lock fa-icon {
  margin-right: 20px;
}

.columns {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* On mobile devices */
@media (max-width: 768px) {
  .input {
    width: 250px;
  }

  .control {
    display: flex;
    width: 250px;
    margin: auto;
  }

  .input.expiration-date {
    width: 50px;
  }

  div.expiration-date .field {
    display: inline-flex;
    width: 60px;
  }

  .expiration-date .control {
    width: 50px;
  }

  #security-code .control {
    width: 50px;
  }

  .column {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .field-label {
    margin-bottom: 2px;
  }

  .field-block {
    margin-bottom: 20px;
  }
}
