<h1 class="title has-text-centered">Paiement de votre commande</h1>

<div class="columns is-centered">
  <div class="column is-8">
    <div class="box has-text-centered">
      <div id="header" class="content">
        <h2 class="subtitle">Informations de la carte</h2>
        <div class="discreet-text">
          Ces informations sont sécurisées
        </div>
      </div>

      <div id="card-info" class="content">

          <!-- Card owner-->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Titulaire de la carte</label>
            </div>

            <div class="column">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-dark" type="text" patter="^[a-zA-Z]+$" [(ngModel)]="cardOwner" required>
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <!-- Card number -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Numéro de carte</label>
            </div>

            <div class="column has-text-centered-mobile">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-dark" type="text" pattern="^[0-9]+$" [(ngModel)]="cardNumber" required>
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <!-- Expiration Date -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="field-label column has-text-right has-text-centered-mobile">
              <label class="label">Date d'expiration</label>
            </div>

            <div class="column">

              <div class="field-body expiration-date is-mobile">
                <!-- Expiration month -->
                <div class="field">
                  <p class="control">
                    <input class="input is-dark expiration-date" type="text" pattern="^(0[1-9])|(1[0-2])$" maxlength="2" [(ngModel)]="cardExpirationMonth" required>
                  </p>
                </div>

                <!-- Expiration year -->
                <div class="field">
                  <p class="control">
                    <input class="input is-dark expiration-date" type="text" pattern="^2[0-9]$" maxlength="2" [(ngModel)]="cardExpirationYear" required>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Security Code -->
          <div class="columns field-block is-centered is-vcentered">
            <div class="column field-label has-text-right has-text-centered-mobile">
              <label class="label">Code de sécurité</label>
            </div>

            <div class="column">
              <div class="field" id="security-code">
                <p class="control">
                  <input class="input is-dark" type="text" pattern="^[0-9]{3}$" maxlength="3" [(ngModel)]="cardCvx" required>
                </p>
              </div>
            </div>
          </div>

        <!-- Error display -->
        <div *ngFor="let message of paymentValidator.errorMessages" class="notification is-light has-text-danger addspacebelow">
          <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
          {{ message }}
        </div>

        <div class="content">
          <img src="/assets/img/logo/visa-mastercard.png">
        </div>

        <button (click)="checkData(); saveCardInformation()" id="lock" class="button is-danger is-large">
          <fa-icon id="lock-icon" [icon]="['fas', 'lock']"></fa-icon>
          Valider le paiement
        </button>
      </div>
    </div>

    <div class="content has-text-right">
      <img src="/assets/img/logo/powered-by-mangopay.png">
    </div>
  </div>
</div>
