<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <form [formGroup]="formCreator.form">
      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control has-icons-right">
          <input #password id="password" class="input no-border" type="password"
          (keydown)="onKey($event)"
          [(ngModel)]="user.password"
          formControlName="password"
          [ngClass]="{'is-invalid': formCreator.controls.password.errors }">

          <span class="icon is-right">
            <fa-icon [icon]="['fas', 'eye']" class="is-pointable pointed" (click)="inputService.passwordDisplay(password)"></fa-icon>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Confirmer le mot de passe</label>
        <div class="control has-icons-right">
          <input #passwordConfirmation id="passwordConfirmation" class="input no-border" type="password"
          (keydown)="onKey($event)"
          [(ngModel)]="user.passwordConfirmation"
          formControlName="passwordConfirmation"
          [ngClass]="{'is-invalid': formCreator.controls.passwordConfirmation.errors }">

          <span class="icon is-right">
            <fa-icon [icon]="['fas', 'eye']" class="is-pointable pointed" (click)="inputService.passwordDisplay(passwordConfirmation)"></fa-icon>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="!formCreator.form.valid" class="invalid-feedback" [ngClass]="{'is-invalid': formCreator.controls.password.errors }">
  <div class="error" *ngIf="formCreator.controls.password.errors && formCreator.controls.password.errors.notCorrect">Le mot de passe n'est pas assez sécurisé</div>
  <div class="error" *ngIf="formCreator.controls.passwordConfirmation.errors && formCreator.controls.passwordConfirmation.errors.notMatching">Les mots de passe ne correspondent pas</div>
</div>

<app-navigation
  [additionalControls]=formCreator.form.valid
  [data]=formData
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
