<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form [formGroup]="form">
      <p class="control">
        <input id="password" class="input" type="password" placeholder="{{ this.placeholder }}"
        (keydown)="onKey($event)"
        [(ngModel)]="user.password"
        formControlName="password">
      </p>
    </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.password.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.password.errors }">
  <div class="error" *ngIf="controls.password.errors.required">Le mot de passe est requis</div>
  <div class="error" *ngIf="controls.password.errors.notCorrect">Le mot de passe est invalide</div>
</div>

<app-navigation
  [controls]=controls.password.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
