<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="" [(ngModel)]="user.password" #name="ngModel" required minlength=6>
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'user-lock']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="content error has-text-left">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>

    <div *ngIf="name.errors.minlength">
        Le mot de passe doit contenir au moins 6 caractères.
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>