<div *ngIf="!isLogged" class="content has-text-centered">
  <h4>Avez-vous un compte sur Ekipr ?</h4>
  <div class="columns">
    <div class="column" id="yes" (click)="signInOrUp(true)">
      <div class="content tile">
        Oui.
      </div>
    </div>
    <div class="column" id="no" (click)="signInOrUp(false)">
      <div class="content tile">
        Non, je crée un compte.
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLogged && !isSaleCreated">
  <button *ngIf="!isLoading" class="button is-success is-large" style="margin-bottom: 20px;" (click)="isLoading = true; submitProduct()">On valide</button>
  <button *ngIf="isLoading" class="button is-light is-large is-loading" style="margin-bottom: 20px;"></button>
</div>

<h1 *ngIf="!isSaleCreated" class="title">Récapitulatif de votre annonce</h1>

<table *ngIf="!isSaleCreated" class="table">
  <tr>
    <td colspan="3"><h2 class="subtitle">Informations générales</h2></td>
  </tr>
  <tr>
    <td class="field-name">Titre de l'annonce</td>
    <td>{{ formData.product.name }}</td>
    <td class="has-text-right"><button routerLink="/product/create/announcement-title" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Description</td>
    <td>{{ formData.product.description }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-description" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Prix de vente</td>
    <td>{{ formData.product.reservePrice }}€</td>
    <td class="has-text-right"><button routerLink="/product/create/reserve-price" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Consommable</td>
    <td *ngIf="formData.product.isConsumable">Oui</td>
    <td *ngIf="!formData.product.isConsumable">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/product-consumable" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Marques</td>
    <td>
      <ul>
        <li *ngFor="let brand of formData.product.brands">{{ brand.name }}</li>
      </ul>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/product-brand" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Catégories</td>
    <td>
      <ul>
        <li *ngFor="let category of formData.product.productCategories">{{ category.id | category }}</li>
      </ul>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/product-category" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Types</td>
    <td>
      <ul>
        <li *ngFor="let type of formData.product.productTypes">{{ type.label }}</li>
      </ul>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/product-type" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Etat</td>
    <td>{{ formData.product.quality | quality }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-state" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Médias</h2></td>
  </tr>
  <tr>
    <td *ngIf="formData.product.productMedias" class="field-name">Images uploadées ({{ getNbMedia('image') }})</td>
    <td>
      <div *ngFor="let media of formData.product.productMedias">
        <div *ngIf="media.type === 'image'">
          <img class="media" src="{{ mediaBaseUri + media.path }}">
        </div>
      </div>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/media-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td *ngIf="formData.product.productMedias" class="field-name">Vidéos uploadées ({{ getNbMedia('video') }})</td>
    <td>
      <div *ngFor="let media of formData.product.productMedias">
        <div *ngIf="media.type === 'video'">
          <video id="{{ media.path }}" controls>
            <source src="{{ mediaBaseUri + media.path }}" type="video/mp4">
          </video>
        </div>
      </div>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/video-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Livraison</h2></td>
  </tr>
  <tr>
    <td class="field-name">Livraison</td>
    <td *ngIf="formData.product.todeliver">Oui</td>
    <td *ngIf="!formData.product.todeliver">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/product-delivery" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.todeliver">
    <td class="field-name">Code postal</td>
    <td>{{ formData.product.locality }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-zipcode" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.todeliver">
    <td class="field-name">Poids du colis</td>
    <td>{{ formData.product.weight }}{{ formData.product.weightUnity }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-weight" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Garantie</h2></td>
  </tr>
  <tr>
    <td class="field-name">Garantie</td>
    <td *ngIf="formData.product.isWarrantied">Oui</td>
    <td *ngIf="!formData.product.isWarrantied">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/is-warrantied" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.isWarrantied">
    <td class="field-name">Durée de la garantie</td>
    <td>{{ formData.product.warrantyDuration }} mois</td>
    <td class="has-text-right"><button routerLink="/product/create/warranty-duration" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
</table>
<hr/>

<div *ngIf="isLogged && !isSaleCreated">
  <button *ngIf="!isLoading" class="button is-success is-large" style="margin-top: 20px;" (click)="isLoading = true; submitProduct()">On valide</button>
  <button *ngIf="isLoading" class="button is-light is-large is-loading" style="margin-top: 20px;"></button>
</div>

<div *ngIf="isSaleCreated" class="content">
  <h1 class="title">Félicitations !</h1>

  <div class="content">
    Votre annonce a été soumise et est en cours de validation.
  </div>

  <div class="content">
    Vous seul pouvez consulter votre annonce pour le moment. Elle sera visible pour vos futurs acheteurs dès validation !
  </div>

  <div class="content">
    <button *ngIf="isSaleCreated" class="button is-danger is-large" style="margin-top: 20px;" (click)="goToProduct()">Aller à la page produit</button>
  </div>
</div>
