<h1 class="title">Récapitulatif de votre annonce</h1>

<table *ngIf="!isSaleCreated" class="table">
  <tr>
    <td colspan="3"><h2 class="subtitle">Informations générales</h2></td>
  </tr>
  <tr>
    <td class="field-name">Titre de l'annonce</td>
    <td>{{ formData.product.name }}</td>
    <td class="has-text-right"><button routerLink="/product/create/announcement-title" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Description</td>
    <td>{{ formData.product.description }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-description" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Prix de vente</td>
    <td>{{ formData.product.reservePrice }}€</td>
    <td class="has-text-right"><button routerLink="/product/create/reserve-price" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Domaines d'activité</td>
    <td><p *ngFor="let activity of formData.product.activityDomains">{{ activity.name }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/activity-domain" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Marques</td>
    <td><p *ngFor="let brand of formData.product.brands">{{ brand.name }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-brand" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Catégories</td>
    <td><p *ngFor="let category of formData.product.productCategories">{{ category.label }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-category" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Types</td>
    <td><p *ngFor="let type of formData.product.productTypes">{{ type.label }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-type" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Etat</td>
    <td>{{ formData.product.quality | quality }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-state" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Médias</h2></td>
  </tr>
  <tr>
    <td *ngIf="formData.product.productMedias" class="field-name">Images uploadées</td>
    <td>
      <div *ngFor="let media of formData.product.productMedias">
        <div *ngIf="media.type === 'image'">
          {{ media.file.name }}
        </div>
      </div>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/media-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td *ngIf="formData.product.productMedias" class="field-name">Vidéo uploadée</td>
    <td>
      <div *ngFor="let media of formData.product.productMedias">
        <div *ngIf="media.type === 'video'">
          {{ media.file.name }}
        </div>
      </div>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/video-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Livraison</h2></td>
  </tr>
  <tr>
    <td class="field-name">Livraison</td>
    <td *ngIf="formData.product.todeliver">Oui</td>
    <td *ngIf="!formData.product.todeliver">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/product-delivery" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.todeliver">
    <td class="field-name">Code postal</td>
    <td>{{ formData.product.locality }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-zipcode" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.todeliver">
    <td class="field-name">Poids du colis</td>
    <td>{{ formData.product.weight }}{{ formData.product.weightUnity }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-weight" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Garantie</h2></td>
  </tr>
  <tr>
    <td class="field-name">Garantie</td>
    <td *ngIf="formData.product.isWarrantied">Oui</td>
    <td *ngIf="!formData.product.isWarrantied">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/is-warrantied" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="formData.product.isWarrantied">
    <td class="field-name">Durée de la garantie</td>
    <td>{{ formData.product.warrantyDuration }} mois</td>
    <td class="has-text-right"><button routerLink="/product/create/warranty-duration" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Type d'annonce</td>
    <td>{{ formData.product.buyingOption | announce }}</td>
    <td class="has-text-right"><button routerLink="/product/create/announce-kind" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
</table>
<hr/>
<button *ngIf="isLogged && !isSaleCreated" class="button is-success is-large" style="margin-top: 20px;" (click)="submitProduct()">Confirmer</button>

<div *ngIf="isSaleCreated" class="content">
  <div class="content">
    Votre annonce a été soumise et est en cours de validation.
  </div>

  <div class="content">
    <button *ngIf="isSaleCreated" class="button is-danger is-large" style="margin-top: 20px;" (click)="goToProduct()">Aller à la page produit</button>
  </div>
</div>

<div *ngIf="!isLogged" class="content has-text-left">
  <h4>Avez-vous un compte sur Ekipr ?</h4>
  <div class="field">
    <div class="content tile" id="yes" (click)="signInOrUp(true)">
      <span class="choice-symbol">A</span> Oui.
    </div>
    <div class="content tile" id="no" (click)="signInOrUp(false)">
      <span class="choice-symbol">B</span> Non, pas encore.
    </div>
  </div>
</div>
