.field-name {
  font-weight: bold;
}

fa-icon {
  color: white;
}

li {
  list-style-type: disc;
}

.table {
  margin: auto;
  width: 100%;
}

.tile {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: left;
  font-weight: bold;
  border-bottom: solid 3px var(--KTKP-GREEN);
  padding: 10px;
}

.media {
  width: 70px;
  margin-bottom: 5px;
  transition: 0.5s;
  border: solid 4px var(--KTKP-GREY);
}

img.media:hover {
  width: 150px;
}
