<h1 class="title">Récapitulatif de votre annonce</h1>

<button class="button is-success is-large" style="margin-bottom: 20px;">Confirmer</button>

<table class="table">
  <tr>
    <td colspan="3"><h2 class="subtitle">Informations générales</h2></td>
  </tr>
  <tr>
    <td class="field-name">Titre de l'annonce</td>
    <td>{{ data.product.name }}</td>
    <td class="has-text-right"><button routerLink="/product/create/announcement-title" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Description</td>
    <td>{{ data.product.description }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-description" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Prix de vente</td>
    <td>{{ data.product.reservePrice }}€</td>
    <td class="has-text-right"><button routerLink="/product/create/reserve-price" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Domaines d'activité</td>
    <td><p *ngFor="let activity of data.product.activityDomains">{{ activity.name }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/activity-domain" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Marques</td>
    <td><p *ngFor="let brand of data.product.brands">{{ brand.name }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-brand" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Catégories</td>
    <td><p *ngFor="let category of data.product.productCategories">{{ category.label }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-category" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Types</td>
    <td><p *ngFor="let type of data.product.productTypes">{{ type.label }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/product-type" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Etat</td>
    <td [ngSwitch]="data.product.quality">
      <span *ngSwitchCase="'new'">Jamais ouvert</span>
      <span *ngSwitchCase="'excellent'">Excellent</span>
      <span *ngSwitchCase="'good'">Bon</span>
      <span *ngSwitchCase="'acceptable'">Acceptable</span>
      <span *ngSwitchCase="'forparts'">Pour pièces</span>
    </td>
    <td class="has-text-right"><button routerLink="/product/create/product-state" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Médias</h2></td>
  </tr>
  <tr>
    <td *ngIf="data.product.productMedias" class="field-name">Images uploadées</td>
    <td><p *ngFor="let image of data.product.productMedias">{{ image.link }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/media-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td *ngIf="data.product.productMedias" class="field-name">Vidéo uploadée</td>
    <td><p *ngFor="let video of data.product.productMedias">{{ video.link }}</p></td>
    <td class="has-text-right"><button routerLink="/product/create/video-upload" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Livraison</h2></td>
  </tr>
  <tr>
    <td class="field-name">Code postal</td>
    <td>{{ data.product.locality }}</td>
    <td class="has-text-right"><button routerLink="/product/create/product-zipcode" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Livraison</td>
    <td *ngIf="data.product.todeliver">Oui</td>
    <td *ngIf="data.product.todeliver === false">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/product-delivery" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="data.product.todeliver">
    <td class="field-name">Poids du colis</td>
    <td>{{ data.product.weight * 1000 }}kg</td>
    <td class="has-text-right"><button routerLink="/product/create/product-weight" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td colspan="3"><h2 class="subtitle">Garantie</h2></td>
  </tr>
  <tr>
    <td class="field-name">Garantie</td>
    <td *ngIf="data.product.isWarrantied">Oui</td>
    <td *ngIf="data.product.isWarrantied === false">Non</td>
    <td class="has-text-right"><button routerLink="/product/create/is-warrantied" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr *ngIf="data.product.isWarrantied">
    <td class="field-name">Durée de la garantie</td>
    <td>{{ data.product.warrantyDuration }} mois</td>
    <td class="has-text-right"><button routerLink="/product/create/warranty-duration" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
  <tr>
    <td class="field-name">Type d'annonce</td>
    <td *ngIf="data.product.buyingOption === 'classic'">Annonce classique</td>
    <td *ngIf="data.product.buyingOption !== 'classic'">Annonce hybride</td>
    <td class="has-text-right"><button routerLink="/product/create/announce-kind" class="button is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
  </tr>
</table>

<button class="button is-success is-large" style="margin-top: 20px;">Confirmer</button>
