<div class="hero-body is-two-third">
    <div class="container has-text-centered">
        <h1 class="subtitle">
        Faites de la place.
        </h1>
        <h1 class="title">
        Revendez votre matériel.
        </h1>
        <p>
            Sur Kitekip, vous pouvez acheter ou revendre du matériel de seconde main en toute sécurité.
        </p>
    </div>

    <div class="box has-text-centered">
        <a class="button is-large is-success">Commencez à vendre</a>
        <p>
            <a class="button" href="">Comment ça marche ?</a>
        </p>
    </div>
</div>
