.label {
  margin-top: 0px;
  margin-bottom: 30px;
}

.field-title {
  font-size: 1.5em;
}

.field-title fa-icon {
  font-size: 0.7em;
  margin-left: 5px;
  margin-right: 5px;
}

.asterisque {
  font-weight: bold;
  color: #E35557;
}

.error {
  color: #E35557;
}
