<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <form *ngIf="form" [formGroup]="form">
          <input id="reservePrice" class="input no-border is-hidden-mobile" type="number"
          (keydown)="onKey($event)"
          [(ngModel)]="product.reservePrice"
          [ngClass]="{'is-invalid': controls.reservePrice.errors}"
          formControlName="reservePrice">

          <input id="reservePrice-mobile" class="input no-border is-hidden-tablet" type="number"
          (keydown)="onKey($event)"
          [(ngModel)]="product.reservePrice"
          [ngClass]="{'is-invalid': controls.reservePrice.errors}"
          formControlName="reservePrice">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.reservePrice.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.reservePrice.errors }">
  <div class="error" *ngIf="controls.reservePrice.errors.required">Le prix est requis</div>
  <div class="error" *ngIf="controls.reservePrice.errors.isEmpty">Le prix est requis</div>
  <div class="error" *ngIf="controls.reservePrice.errors.min">Le prix ne peut pas être négatif</div>
  <div class="error" *ngIf="controls.reservePrice.errors.max">Le prix ne doit pas dépasser 1000€</div>
</div>

<app-navigation
  [data]=formData
  [controls]=controls.reservePrice.errors
  [disabledEnterKey]=false
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
