<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <input class="input" type="text" placeholder="(ex : 123 rue des acacias)" [(ngModel)]="user.userProfile.address.line1" #name="ngModel" required>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="content error has-text-left">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>