<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form [formGroup]="form">
      <p class="control">
        <input id="line1" class="input no-border" type="text" placeholder="{{ this.placeholder }}"
        (keydown)="onKey($event)"
        [(ngModel)]="user.userProfile.mainAddress.line1"
        formControlName="line1"
        [ngClass]="{'is-invalid': controls.line1.errors }">
      </p>
    </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.line1.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.line1.errors }">
  <div class="error" *ngIf="controls.line1.errors.required">La voie est requise</div>
</div>

<app-navigation
  [controls]=controls.line1.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
