<div class="content has-text-left">
  <div class="field">

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <div class="columns is-multiline is-mobile is-narrow is-vcentered has-text-centered">
      <div class="column" *ngFor="let type of types">
        <div class="content tile" id="{{ type.label }}" (click)="setFocus(type)">
          {{ type.label }}
        </div>
      </div>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
