.hero-body {
  color: var(--KTKP-GREY-LIGHT);
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 0.8em;
  background-color: var(--KTKP-YELLOW);
}

.content {
  margin-bottom: 3px;
}

.button {
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1em;
}

a {
  color: var(--KTKP-GREY-LIGHT);
  text-decoration: underline;
}

a:hover {
  color: var(--KTKP-GREEN);
}
