<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box has-text-centered">
      <div class="content">
        Nous utilisons des cookies afin d'améliorer votre expérience sur notre site. Vous devez les accepter afin de poursuivre votre navigation.
      </div>

      <button class="button is-success no-overflow" (click)="readCookies()">
        <fa-icon [icon]="['fas', 'cookie-bite']" class="side-icon"></fa-icon>
        J'accepte les cookies
      </button>
    </div>
  </div>
</div>
