<section class="hero is-black">
  <div class="hero-body">
        Nous utilisons des cookies afin d'améliorer votre expérience sur notre site. Vous devez les accepter afin de poursuivre votre navigation.
        N'hésite pas à lire notre <a (click)="modals.open('privacy-policy')">politique de confidentialité</a>
        <button class="button is-success is-small no-overflow" (click)="readCookies()">
          <fa-icon [icon]="['fas', 'cookie-bite']" class="side-icon"></fa-icon>
          J'accepte les cookies
        </button>
  </div>
</section>

<div class="modal {{ modals.get('privacy-policy') }}">
  <div (click)="modals.close('privacy-policy')" class="modal-background"></div>
  <div class="modal-content">
    <div class="box has-text-centered">
      <app-privacy-policy></app-privacy-policy>
    </div>
  </div>
  <button (click)="modals.close('privacy-policy')" class="modal-close is-large" aria-label="close"></button>
</div>
