<div class="content has-text-left">
  <div class="field">
      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <nav class="level">
        <div class="level-item tile" id="new" (click)="product.quality = 'new'; setFocus('new')">
            Jamais ouvert
        </div>

        <div class="level-item tile" id="excellent" (click)="product.quality = 'excellent'; setFocus('excellent')">
          <div class="content">
            Excellent
          </div>
        </div>

        <div class="level-item tile" id="good" (click)="product.quality = 'good'; setFocus('good')">
          <div class="content">
          Bon
          </div>
        </div>

        <div class="level-item tile" id="acceptable" (click)="product.quality = 'acceptable'; setFocus('acceptable')">
          <div class="content">
          Acceptable
          </div>
        </div>

        <div class="level-item tile" id="forparts" (click)="product.quality = 'forparts'; setFocus('forparts')">
          <div class="content">
          Pour pièces
          </div>
        </div>
      </nav>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
