<div class="content has-text-left">
  <div class="field">
      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <div class="columns is-vcentered has-text-centered">
        <div class="column tile" id="new" (click)="product.quality = 'new'; setFocus('new')">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          Jamais ouvert
        </div>

        <div class="column tile" id="excellent" (click)="product.quality = 'excellent'; setFocus('excellent')">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          Excellent
        </div>

        <div class="column tile" id="good" (click)="product.quality = 'good'; setFocus('good')">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          Bon
        </div>

        <div class="column tile" id="acceptable" (click)="product.quality = 'acceptable'; setFocus('acceptable')">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          Acceptable
        </div>

        <div class="column tile" id="forparts" (click)="product.quality = 'forparts'; setFocus('forparts')">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          Pour pièces
        </div>
      </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
