<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <div class="control has-icons-left">
            <div class="select is-hovered">
                <select [(ngModel)]="user.userProfile.address.country.isocode">
                    <option value="FR" selected>France</option>
                    <option value="BE">Belgique</option>
                    <option value="CH">Suisse</option>
                    <option value="LU">Luxembourg</option>
                </select>
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'globe-europe']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [data]=formDataService
  [rootUri]=root
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
