<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form [formGroup]="form">
      <div class="select is-hovered">
        <select id="country" [(ngModel)]="user.userProfile.mainAddress.country.isoCode" formControlName="country">
          <option value="FR" selected>France</option>
          <option value="BE">Belgique</option>
          <option value="CH">Suisse</option>
          <option value="LU">Luxembourg</option>
        </select>
      </div>
    </form>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [controls]=controls.country.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
