<div class="content">

  <!-- IDENTITY INFORMATION -->
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon class="section-icon" [icon]="['fas', 'credit-card']"></fa-icon>Carte 1
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <table class="table">
            <tr>
              <td class="field-name">Numéro de carte</td>
              <td><input type="number" class="input is-small not-editable" value="123456789" readonly></td>
            </tr>

            <tr>
              <td class="field-name">Date d'expiration</td>
              <td><input type="number" class="input is-small not-editable" value="09/12" readonly></td>
            </tr>

            <tr>
              <td class="field-name">CVC</td>
              <td><input type="number" class="input is-small not-editable" value="505" readonly></td>
            </tr>
          </table>
        </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon class="section-icon" [icon]="['fas', 'credit-card']"></fa-icon>Carte 2
      </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <table class="table">
          <tr>
            <td class="field-name">Numéro de carte</td>
            <td><input type="number" class="input is-small not-editable" value="123456789" readonly></td>
          </tr>

          <tr>
            <td class="field-name">Date d'expiration</td>
            <td><input type="number" class="input is-small not-editable" value="09/12" readonly></td>
          </tr>

          <tr>
            <td class="field-name">CVC</td>
            <td><input type="number" class="input is-small not-editable" value="505" readonly></td>
          </tr>
        </table>
      </mat-panel-description>
  </mat-expansion-panel>
  </mat-accordion>

  <button class="button is-success" (click)="openModal('card')">Ajouter une carte</button>
</div>

<!-- Card Modal -->
<div class="modal {{ modals.card }}">
  <div class="modal-background" (click)="closeModal('card')"></div>
  <div class="modal-content">
      <div class="box">
        Nouvelle carte
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal('card')"></button>
</div>
