#brand-logo {
  margin-left: 30px;
  height: 40px;
  width: auto;
}

.navbar
{
  margin-bottom: 25px;
  margin-top: 30px;
}

.navbar-item img {
  max-height: 7rem;
}

.navbar-item a
{
  font-size: 14px;
  color: grey;
  transition: 0.15s;
}

.navbar-item a:hover
{
  color: var(--KTKP-GREEN);
  border-bottom: solid 2px var(--KTKP-GREEN);
}

.navbar-dropdown a:hover {
  border: none;
}

.navbar-link a:hover {
  border: none;
}

#start-to-sell a:hover {
  color: white;
}

.navbar-item .button
{
  color: white;
}

.title
{
    font-size: 35px;
}

#onboard:hover
{
    color:white;
    font-weight: normal;
}
