#brand-logo {
  margin-left: 30px;
  height: 100px;
  width: auto;
}

.navbar
{
    margin-bottom: 20px;
}

.navbar-item img {
  max-height: 3.5rem;
}

.navbar-item a
{
    font-size: 14px;
    color: grey;
}

.navbar-item a:hover
{
    color: black;
    font-weight: bold;
}

.navbar-item .button
{
    color: white;
}

.title
{
    font-size: 35px;
}

#onboard:hover
{
    color:white;
    font-weight: normal;
}
