<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <h1 class="title"><fa-icon [icon]="['fas', 'tools']"></fa-icon> Ekip<span class="brandName">r</span></h1>
            </a>
            <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navBarMenu" #navBarMenu class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="">ACCUEIL</a>
                </div>

                <div class="navbar-item">
                    <a href="">CATEGORIE</a>
                </div>

                <div class="navbar-item">
                    <a href="">COMMENT CA MARCHE ?</a>
                </div>

                <div class="navbar-item">
                    <a href="">FAQ</a>
                </div>

                <div class="navbar-item">
                    <a class="button is-success" routerLink="/product/create">COMMENCEZ A VENDRE</a>
                </div>
            </div>
        </div>
    </div>
</nav>
