<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a routerLink="/home" class="navbar-item">
              <img id="brand-logo" src="/assets/img/logo/outilly-logo.png" title="Logo Outilly" alt="Logo Outilly">
            </a>
            <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navBarMenu" #navBarMenu class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                  <a routerLink="/home">{{ "accueil" | uppercase }}</a>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                  <div class="navbar-link">
                    <a>{{ "catégorie" | uppercase }}</a>
                  </div>

                  <div class="navbar-dropdown">
                    <a (click)="launchCategorySearch(category.id)" *ngFor="let category of categories" class="navbar-item">
                      {{ category.label }}
                    </a>
                  </div>
                </div>

                <div class="navbar-item">
                    <a href="" routerLink="/faq">{{ "faq" | uppercase }}</a>
                </div>

                <div id="start-to-sell" class="navbar-item">
                    <a class="button is-success" href="/product/create" routerLink="/product/create">{{ "commencer à vendre" | uppercase }}</a>
                </div>
            </div>
        </div>
    </div>
</nav>
