.nav-arrow {
    color: var(--MAT-GREY);
    border: none;
}

.nav-arrow:hover {
    color: var(--KTKP-RED);
}

.is-invalid {
  color: var(--KTKP-GREY);
}

.is-invalid:hover {
  color: var(--KTKP-GREY);
}

#enter-key {
  height: 20px;
  padding-right: 20px;
}

.is-invalid#enter-key {
  opacity: 0.5;
}
