<div class="level is-mobile">
    <div class="level-left">
        <p *ngIf="formData.path.previous" class="control">
            <button class="button nav-arrow is-large has-icons-left" type="button" (click)="previous()">

                <div class="icon is-left">
                    <fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon>
                </div>
            </button>
        </p>
    </div>

    <div *ngIf="data.isAccountComplete" class="level-item">
      <button (click)="backToAccountRecap()" class="button is-success">Retourner au récapitulatif</button>
    </div>

    <div *ngIf="data.isProductComplete" class="level-item">
      <button (click)="backToProductRecap()" class="button is-success">Retourner au récapitulatif</button>
    </div>

    <div class="level-right">
        <p class="control">
            <button class="button nav-arrow is-large has-icons-right" type="button" (click)="next()">

                <div class="icon is-right">
                    <fa-icon [icon]="['fas', 'arrow-circle-right']"></fa-icon>
                </div>
            </button>
        </p>
    </div>
</div>
