<div class="level is-mobile" [ngStyle]="{'margin-bottom': '0px'}">
  <div class="level-left">
    <p *ngIf="path.previous !== ''" class="control">
      <button class="button nav-arrow is-large has-icons-left" type="button" (click)="previous()">

        <div class="icon is-left">
          <fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon>
        </div>
      </button>
    </p>
  </div>

  <div *ngIf="data.isAccountComplete && rootUri === '/onboarding/'" class="level-item">
    <button (click)="backToAccountRecap()" class="button" [ngClass]="{'is-light': !this.nextCondition, 'is-success': this.nextCondition}">Retourner au récapitulatif</button>
  </div>

  <div *ngIf="data.isProductComplete && rootUri === 'product/create/'" class="level-item">
    <button (click)="backToProductRecap()" class="button" [ngClass]="{'is-light': !this.nextCondition, 'is-success': this.nextCondition}">Retourner au récapitulatif</button>
  </div>

  <div class="level-right">
      <button class="button nav-arrow is-large has-icons-right"
      type="button"
      (click)="next()"
      [ngClass]="{'is-invalid': !nextCondition }">
        <div class="icon is-right">
          <fa-icon [icon]="['fas', 'arrow-circle-right']"></fa-icon>
        </div>
      </button>
  </div>
</div>

<div *ngIf="!disabledEnterKey" class="level is-hidden-mobile" [ngStyle]="{'margin-top': '5px'}">
  <div class="level-left">
  </div>

  <div class="level-right">
    <img id="enter-key" src="/assets/img/icon/keyboard-key-enter-icon.png"
    [ngClass]="{'is-invalid': !nextCondition }">
  </div>
</div>
