<div class="content has-text-left">
    <div class="control">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName
        [isMandatory]=isMandatory></app-step-label>

        <label class="radio">
            <input type="radio" (keydown)="onKey($event)" [(ngModel)]="user.userProfile.emailOptin">
            Oui
        </label>
        <label class="radio">
            <input type="radio" (keydown)="onKey($event)" [(ngModel)]="user.userProfile.emailOptin">
            Non
        </label>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [data]=formDataService
  [rootUri]=root
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
