<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [isMandatory]=isMandatory>
    </app-step-label>

    <div class="columns tiles is-multiline is-mobile is-narrow is-vcentered has-text-centered">
      <div class="column">
        <div class="content tile" id="yes" (click)="user.userProfile.emailOptin=true; additionalControls = true; nextOn=true">
          Oui
          <div class="discreet-text addlittlespaceabove">
            Promis, on ne va pas vous spammer ;-)
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content tile" id="no" (click)="user.userProfile.emailOptin=false; additionalControls = true; nextOn=true">
          Non
          <div class="discreet-text addlittlespaceabove">
            Vous viendrez donc nous voir plus souvent !
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-navigation
  [disabledEnterKey]=true
  [data]=formData
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
