<div id="conditions-of-sale" class="content has-text-centered">
  <label class="checkbox">
    <input type="checkbox">
    J'ai lu et j'accepte les <span (click)="modals.open('conditions-of-use')" class="underline brandName">CGU</span> et les <span (click)="modals.open('conditions-of-sale')" class="underline brandName">CGV</span>.
  </label>
</div>

<!-- Modals -->
<div class="modal {{ modals.get('conditions-of-use') }}">
  <div class="modal-background" (click)="modals.close('conditions-of-use')"></div>
  <div class="modal-content">
    <div class="box">
      Nos conditions d'utilisation !
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('conditions-of-use')"></button>
</div>

<div class="modal {{ modals.get('conditions-of-sale') }}">
  <div class="modal-background" (click)="modals.close('conditions-of-sale')"></div>
  <div class="modal-content">
    <div class="box">
      Nos conditions de vente !
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('conditions-of-sale')"></button>
</div>
