<div id="conditions-of-sale" class="content has-text-centered">
  <label class="checkbox">
    <input (click)="addNewItem()" type="checkbox">
    J'ai lu et j'accepte les <span (click)="modals.open('conditions-of-use')" class="underline brandName">CGVU</span>.
  </label>
</div>

<!-- Modals -->
<div class="modal {{ modals.get('conditions-of-use') }}">
  <div class="modal-background" (click)="modals.close('conditions-of-use')"></div>
  <div class="modal-content">
    <div class="box">
      <app-general-terms-and-conditions></app-general-terms-and-conditions>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('conditions-of-use')"></button>
</div>
