<div class="content has-text-left">
  <div class="field">

      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName
        [stepSubtitle]=stepSubtitle>
      </app-step-label>

      <div class="columns is-vcentered has-text-centered">
        <div class="column">
          <div class="tile" id="yes" (click)="product.isConsumable = true; nextOn=true">
            <fa-icon [icon]="['fas', 'hammer']"></fa-icon>
            De l'outillage
          </div>
          <div class="content discreet-text addlittlespaceabove">Ex : visseuse, marteau, balai, aspirateur, pinceau...</div>
        </div>

        <div class="column">
          <div class="tile" id="no" (click)="product.isConsumable = false; nextOn=true">
            <fa-icon [icon]="['fas', 'fill-drip']"></fa-icon>
            Fin de chantier
          </div>
          <div class="content discreet-text addlittlespaceabove">Ex : peinture, parquet, colle, visserie, fenêtre, isolant...</div>
        </div>
      </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]="formData"
  [disabledEnterKey]=true
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
