<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <form *ngIf="form" [formGroup]="form">
          <input id="zipcode" class="input no-border is-hidden-mobile" type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="product.locality"
          [ngClass]="{'is-invalid': controls.zipcode.errors}"
          formControlName="zipcode">

          <input id="zipcode-mobile" class="input no-border is-hidden-tablet" type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="product.locality"
          [ngClass]="{'is-invalid': controls.zipcode.errors}"
          formControlName="zipcode">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.zipcode.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.zipcode.errors }">
  <div class="error" *ngIf="controls.zipcode.errors.required">Le code postal est requis</div>
  <div class="error" *ngIf="controls.zipcode.errors.pattern">Le code postal est invalide</div>
</div>

<app-navigation
  [data]=formData
  [controls]=controls.zipcode.errors
  [disabledEnterKey]=false
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
