<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepSubtitle]=stepSubtitle
      [stepName]=stepName>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <form *ngIf="form" [formGroup]="form">
          <textarea id="description" class="textarea no-border" rows="10" placeholder="{{ placeholder }}"
          [(ngModel)]="product.description"
          [ngClass]="{'is-invalid': controls.description.errors}"
          formControlName="description">
        </textarea>
        </form>
      </div>
    </div>
    <span [ngClass]="{'error': removeAllSpaces(product.description).length < minLength || removeAllSpaces(product.description).length > maxLength}">{{ removeAllSpaces(product.description).length }} / {{ maxLength }}</span>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [controls]=controls.description.errors
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
