<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepSubtitle]=stepSubtitle
      [stepName]=stepName>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <form *ngIf="form" [formGroup]="form">
          <textarea id="description" class="textarea no-border is-hidden-mobile" rows="10" placeholder="{{ placeholder }}"
            [(ngModel)]="product.description"
            [ngClass]="{'is-invalid': controls.description.errors}"
            formControlName="description">
          </textarea>

          <textarea id="description-mobile" class="textarea no-border is-hidden-tablet" rows="10" placeholder="{{ placeholder }}"
            [(ngModel)]="product.description"
            [ngClass]="{'is-invalid': controls.description.errors}"
            formControlName="description">
          </textarea>
        </form>
      </div>
    </div>
    <span [ngClass]="{'error': removeAllSpaces(product.description).length < minLength || removeAllSpaces(product.description).length > maxLength}">{{ removeAllSpaces(product.description).length }} caractères</span>
  </div>
</div>

<div class="error" *ngIf="controls.description.errors">
  <span *ngIf="controls.description.errors.required">La description est requise</span>
  <span *ngIf="controls.description.errors.tooShort">La description doit faire au moins {{ minLength }} caractères.</span>
  <span *ngIf="controls.description.errors.tooLong">La description ne peut pas dépasser {{ maxLength }} caractères.</span>
</div>

<app-navigation
  [data]=formData
  [controls]=controls.description.errors
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
