#media-gallery {
  margin-bottom: 20px;
}

#top-container img, #side-preview img {
  cursor: pointer;
}

.content {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 0.5%;
  padding: 0px;
  line-height: 0;
}

#top-container {
  margin-top: 0px;
  padding: 0px;
}

#top-container .column {
  padding-top: 0px;
}

#side-preview {
  display: flex;
  padding: 0px;
  margin: 2px;
}

#side-preview .content {
  padding-top: 2px;
}

#side-preview figure {
  width: 100%;
  margin: auto;
}

#plus-icon {
  margin-bottom: 10px;
}

#see-more-medias {
  margin-top: 20px;
  font-size: 1.7vw;
}

.top-thumbnail {
  height: 300px;
  opacity: 0.8;
  filter: brightness(0.95);
  object-fit: cover;
  object-position: 50% 50%;
  transition: 1s;
}

.video-thumbnail {
  object-fit: scale-down;
}

.main-image {
  display: inline-flex;
}

figure {
  justify-content: center;
}

figure img {
  margin: 5px;
  flex: 1;
  flex-wrap: wrap;
}

.top-thumbnail:hover {
  opacity: 1;
  filter: brightness(1);
}

#side-preview {
  flex-direction: column;
  align-items: center;
  height: 40vh;
}

#side-preview img {
  opacity: 0.8;
}

#side-preview img:hover {
  opacity: 1;
  filter: brightness(1);
  transition: 0.5s;
}

#last-preview img {
  filter: brightness(0.2);
}

#plus {
  height: 50px;
  width: auto;
}

.modal .box img {
  margin: auto;
}

.button {
  border: none;
}

.button:hover {
  color: green;
}

.level {
  color: white;
}

@media screen and (max-width: 768px) {
  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }
}
