<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <p class="control has-icons-left">
        <input class="input" type="email" (keydown)="onKey($event)" placeholder="{{ placeholder }}" [(ngModel)]="user.userProfile.email">
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [data]="formDataService"
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
