<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <form *ngIf="form" [formGroup]="form">
      <p class="control">
        <input id="email" class="input no-border"
          type="email"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="user.userProfile.email"
          formControlName="mail"
          [ngClass]="{'is-invalid': controls.mail.errors }">
      </p>
    </form>

    <!-- Errors display -->
    <div *ngIf="controls.mail.errors" class="invalid-feedback has-text-centered" [ngClass]="{'is-invalid': controls.mail.errors }">
      <div class="error" *ngIf="controls.mail.errors.required">L'email est requis</div>
      <div class="error" *ngIf="controls.mail.errors.email">L'email est invalide</div>
    </div>
  </div>
</div>

<app-navigation
  [controls]=controls.mail.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
