.box#desktop {
  width: 50%;
  margin: auto;
}

.box#mobile {
  width: 100%;
}

#left-arrow {
  margin-right: 10px;
}

img {
  max-height: 200px;
  width: auto;
}

h2 {
  margin-bottom: 5px !important;
}
