<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

  <form *ngIf="formCreator.form" [formGroup]="formCreator.form">
    <div class="field">
      <label class="label">Nom de société</label>
      <div class="control">
        <input id="companyName" class="input no-border"
          type="text"
          (keydown)="onKey($event)"
          [(ngModel)]="user.userProfile.company.name"
          formControlName="companyName"
          [ngClass]="{'is-invalid': formCreator.controls.companyName.errors }">
      </div>
    </div>

    <div class="field">
      <label class="label">Numéro de TVA</label>
      <div class="control">
        <input id="tva" class="input no-border"
          type="text"
          (keydown)="onKey($event)"
          [(ngModel)]="user.userProfile.company.tvanumber"
          formControlName="tva"
          [ngClass]="{'is-invalid': formCreator.controls.tva.errors }">
      </div>
    </div>

    <div class="field">
      <label class="label">Numéro de SIRET</label>
      <div class="control">
        <input id="siret" class="input no-border"
          type="text"
          (keydown)="onKey($event)"
          [(ngModel)]="user.userProfile.company.siret"
          formControlName="siret"
          [ngClass]="{'is-invalid': formCreator.controls.siret.errors }">
      </div>
    </div>
  </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="!formCreator.form.valid" class="invalid-feedback" [ngClass]="{'is-invalid': !formCreator.form.valid }">
  <div class="error" *ngIf="formCreator.controls.tva.errors && formCreator.controls.tva.errors.notCorrect">Le numéro de TVA est invalide</div>
  <div class="error" *ngIf="formCreator.controls.siret.errors && formCreator.controls.siret.errors.pattern">Le numéro de SIRET est invalide</div>
</div>

<app-navigation
  [additionalControls]=formCreator.form.valid
  [data]=formData
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
