#opening-hours {
  font-size: 0.8em;
}

#opening-hours td {
  padding-top:2px;
  padding-bottom: 2px;
}

.day {
  font-weight: bold;
}

#relay-point-address {
  font-size: 0.9em;
}

#loc-icon {
  font-size: 1.5em;
}

#previous-icon {
  margin-right: 10px;
  font-size: 1.2em;
}
