<div class="content has-text-left">
  <div class="field">
      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <div class="columns is-vcentered has-text-centered">
        <div class="column tile" id="mecanique" (click)="setFocus('mecanique')">
            Mécanique
        </div>

        <div class="column tile" id="bricolage" (click)="setFocus('bricolage')">
            Bricolage
        </div>

        <div class="column tile" id="jardin" (click)="setFocus('jardin')">
            Jardin
        </div>

        <div class="column tile" id="machine" (click)="setFocus('machine')">
            Machines d'atelier
        </div>
      </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
