<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <h1 class="title">kit<span id="brandName">ekip</span></h1>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="">ACCUEIL</a>
                </div>
                <div class="navbar-item">
                    <a href="">CATEGORIE</a>
                </div>
                <div class="navbar-item">
                    <a href="">COMMENT CA MARCHE ?</a>
                </div>
                <div class="navbar-item">
                    <a href="">FAQ</a>
                </div>
                <div class="navbar-item">
                    <a class="button is-success" href="">COMMENCEZ A VENDRE</a>
                </div>
            </div>
        </div>
    </div>
</nav>
