<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <div class="field">
          <form *ngIf="form" [formGroup]="form">
            <input id="weight" type="number" max="{{ maxValue }}" min="0" class="input no-border is-hidden-mobile"
            placeholder="{{ placeholder }}"
            (keydown)="onKey($event)"
            [(ngModel)]="product.weight"
            formControlName="weight"
            [ngClass]="{'is-invalid': controls.weight.errors}">

            <input id="weight-mobile" type="number" max="{{ maxValue }}" min="0" class="input no-border is-hidden-tablet"
            placeholder="{{ placeholder }}"
            (keydown)="onKey($event)"
            [(ngModel)]="product.weight"
            formControlName="weight"
            [ngClass]="{'is-invalid': controls.weight.errors}">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.weight.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.weight.errors }">
  <div class="error" *ngIf="controls.weight.errors.min">Le poids ne peut pas être négatif</div>
  <div class="error" *ngIf="controls.weight.errors.max">
    Le poids ne peut pas dépasser 30kg en livraison.
  </div>
</div>

<button class="button is-light" (click)="nextOn = true">Je ne souhaite pas faire livrer mon produit</button>

<app-navigation
  [data]=formData
  [controls]=controls.weight.errors
  [disabledEnterKey]=false
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
