<div class="columns is-centered">
  <div class="column is-6">
    <h2 class="subtitle has-text-centered bold">Erreur 404</h2>

    <div id="desktop" class="box has-text-centered">

      <div class="content">
        <img src="https://media.giphy.com/media/VXCPgZwEP7f1e/giphy.gif" alt="404 gif">
      </div>

      <h2 class="subtitle bold">Houla !</h2>

      <div class="content discreet-text">
        Cette page n'existe pas (ou plus) chez nous :-p
      </div>

      <button routerLink="/home" class="button is-danger no-overflow">
        <fa-icon id='left-arrow' [icon]="['fas', 'home']"></fa-icon>Revenir en lieu sûr
      </button>
    </div>
  </div>
</div>
