<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>
        
        <input class="input" type="text" placeholder="(ex : Gif-sur-Yvette)" [(ngModel)]="user.userProfile.address.city" #name="ngModel" required>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="box has-background-danger has-text-white">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>