<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <form [formGroup]="form">
      <p class="control">
        <input id="city" class="input no-border" type="text" placeholder="{{ this.placeholder }}"
        (keydown)="onKey($event)"
        [(ngModel)]="user.userProfile.mainAddress.city"
        formControlName="city"
        [ngClass]="{'is-invalid': controls.city.errors }">
      </p>
    </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.city.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.city.errors }">
  <div class="error" *ngIf="controls.city.errors.required">La ville est requise pour compléter votre adresse</div>
</div>

<app-navigation
  [controls]=controls.city.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
