<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <p class="control has-icons-left">
            <input #city class="input" type="text" placeholder="{{ this.placeholder }}" (keydown)="onKey($event)" [(ngModel)]="user.userProfile.addresses[0].city">
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'globe-europe']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [data]=formDataService
  [rootUri]=root
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
