<div id="search-box" class="content">
  <div class="content has-text-centered">
    <div class="field">
      <p class="control has-icons-right">
        <input id="search" (keydown)="onKey($event, search.value)" class="input" [placeholder]=placeholder #search>
        <span class="icon is-small is-right">
          <fa-icon (click)="goToSearch(search.value)" class="green is-pointable pointed" [icon]="['fas', 'search']"></fa-icon>
        </span>
        <button *ngIf="!buttonHidden" class="button is-success is-hidden-mobile no-overflow" (click)="goToSearch(search.value)">{{ searchTitle }}</button>
      </p>
    </div>

    <div *ngIf="!buttonHidden" class="content addspacebelow">
      <button class="button is-success is-hidden-tablet no-overflow" (click)="goToSearch(search.value)">Rechercher</button>
    </div>

    <div class="content has-text-centered" *ngIf="advancedSearch">
      <button class="button is-danger" (click)="modals.open('fake-filters')">Recherche avancée</button>
    </div>
  </div>
</div>

<!-- MODALS -->
<div class="modal" [ngClass]="modals.get('fake-filters')">
  <div class="modal-background" (click)="modals.close('fake-filters')"></div>
  <div class="modal-content">
    <div class="box">
      <app-fake-filters
        [query]=search.value
        [placeholder]=placeholder
        (filters)="getFiltersEmitter($event)"
        (searchLaunch)="getSearchLaunchEmitter($event)"
        (zipcode)="getZipcodeEmitter($event)"
        (radius)="getRadiusEmitter($event)">
      </app-fake-filters>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
