<!-- DESKTOP version -->
<div class="columns is-centered is-hidden-mobile">
  <div class="column is-8">
    <div class="columns is-centered has-text-centered">
      <div class="column incentive">
        <h2 class="subtitle">Faites des économies</h2>
        <fa-icon class="incentive-icon" [icon]="['fas', 'euro-sign']"></fa-icon><br>
        <div class="content incentive-description">
          <span class="discreet-text">En achetant du matériel en bon état au prix de l'occasion</span>
        </div>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Limitez le gaspillage</h2>
        <fa-icon class="incentive-icon" [icon]="['fas', 'recycle']"></fa-icon><br>
        <div class="content incentive-description">
          <span class="discreet-text">En achetant ou revendant du matériel de seconde main : chaque action compte</span>
        </div>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Vendez gratuitement et sans arnaque</h2>
        <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
        <div class="content incentive-description">
          <span class="discreet-text">Votre transaction est 100% sécurisée sur un compte inviolable. Et bonne nouvelle : cela vous coûte 0€.</span>
        </div>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Protection de votre identité</h2>
        <fa-icon class="incentive-icon" [icon]="['fas', 'id-card']"></fa-icon><br>
        <div class="content incentive-description">
          <span class="discreet-text">Nous ne divulguons <span class="bold">jamais</span> vos coordonnées identitaires, sauf acceptation de votre part. Fini, les discriminations !</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE Version -->
<div class="content is-centered is-hidden-tablet">
  <div class="content has-text-centered">
    <h2 class="subtitle">En achetant et/ou vendant sur Outilly, vous ...</h2>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Faites des économies</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'euro-sign']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">En achetant du matériel en bon état au prix de l'occasion</span>
      </div>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Limitez le gaspillage</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'recycle']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">En achetant ou revendant du matériel de seconde main : chaque action compte</span>
      </div>
    </div>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Vendez gratuitement et sans arnaque</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Votre transaction est 100% sécurisée sur un compte inviolable. Et bonne nouvelle : cela vous coûte 0€.</span>
      </div>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Protection de votre identité</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'id-card']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Nous ne divulguons <span class="bold">jamais</span> vos coordonnées identitaires, sauf acceptation de votre part. Fini, les discriminations !</span>
      </div>
    </div>
  </div>
</div>
