<!-- DESKTOP version -->
<div class="columns is-centered is-hidden-mobile">
  <div class="column is-8">
    <div class="columns is-centered has-text-centered">
      <div class="column incentive">
        <h2 class="subtitle">Faites des économies</h2>
        <fa-icon [icon]="['fas', 'euro-sign']"></fa-icon><br>
        <span class="discreet-text">En achetant du matériel en bon état au prix de l'occasion</span>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Limitez le gaspillage</h2>
        <fa-icon [icon]="['fas', 'recycle']"></fa-icon><br>
        <span class="discreet-text">En achetant et/ou vendant du matériel de seconde main</span>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Vendez en sécurité</h2>
        <fa-icon [icon]="['fas', 'lock']"></fa-icon><br>
        <span class="discreet-text">Grâce à notre partenaire MangoPay</span>
      </div>

      <div class="column incentive">
        <h2 class="subtitle">Partagez votre passion</h2>
        <fa-icon [icon]="['fas', 'comments']"></fa-icon><br>
        <span class="discreet-text">Et profitez d'une communauté de passionnés</span>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE Version -->
<div class="content is-centered is-hidden-tablet">
  <div class="content has-text-centered">
    <h2 class="subtitle">En achetant et/ou vendant sur Outilly, vous ...</h2>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Faites des économies</h2>
      <fa-icon [icon]="['fas', 'euro-sign']"></fa-icon><br>
      <span class="discreet-text">En achetant du matériel en bon état au prix de l'occasion</span>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Limitez le gaspillage</h2>
      <fa-icon [icon]="['fas', 'recycle']"></fa-icon><br>
      <span class="discreet-text">En achetant et/ou vendant du matériel de seconde main</span>
    </div>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Vendez en sécurité</h2>
      <fa-icon [icon]="['fas', 'lock']"></fa-icon><br>
      <span class="discreet-text">Grâce à notre partenaire MangoPay</span>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Partagez votre passion</h2>
      <fa-icon [icon]="['fas', 'comments']"></fa-icon><br>
      <span class="discreet-text">Et profitez d'une communauté de passionnés</span>
    </div>
  </div>
</div>
