<!-- DESKTOP version -->
<div class="columns is-centered is-hidden-mobile">
  <div class="column is-8">
    <div class="columns is-centered has-text-centered">

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'euro-sign']"></fa-icon><br>
        <h2 class="subtitle">Faites des économies</h2>
        <div class="content incentive-description">
          <span class="discreet-text">En vous équipant avec du (super) matériel, en bon état au prix de l'occasion !</span>
        </div>
      </div>

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'recycle']"></fa-icon><br>
        <h2 class="subtitle">Limitez le gaspillage</h2>
        <div class="content incentive-description">
          <span class="discreet-text">En achetant ou revendant du matériel de seconde main.<br>
            Chaque action compte.</span>
        </div>
      </div>

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
        <h2 id="sell-incentive" class="subtitle">Sécurisé et sans arnaque</h2>
        <div class="content incentive-description">
          <span class="discreet-text">Votre transaction est 100% sécurisée sur un compte bancaire inviolable.<br>
            On s'occupe de tout !</span>
        </div>
      </div>

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'id-card']"></fa-icon><br>
        <h2 class="subtitle">Protection de votre identité</h2>
        <div class="content incentive-description">
          <span class="discreet-text">Tant que le paiement n'est pas effectué, ni l'acheteur, ni le vendeur ne peuvent se contacter directement.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE Version -->
<div class="content is-centered is-hidden-tablet">
  <div class="content has-text-centered">
    <h2 class="subtitle">En achetant et/ou vendant sur {{ brandName }}, vous ...</h2>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Faites des économies</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'euro-sign']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">En vous équipant avec du (super) matériel, en bon état au prix de l'occasion !</span>
      </div>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Limitez le gaspillage</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'recycle']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">En achetant ou revendant du matériel de seconde main.<br>
          Chaque action compte</span>
      </div>
    </div>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column is-5 incentive">
      <h2 class="subtitle">Sécurisé et sans arnaque</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Votre transaction est 100% sécurisée sur un compte bancaire inviolable.<br>
          On s'occupe de tout !</span>
      </div>
    </div>

    <div class="column is-5 incentive">
      <h2 class="subtitle">Protection de votre identité</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'id-card']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Tant que le paiement n'est pas effectué, ni l'acheteur, ni le vendeur ne peuvent se contacter directement.</span>
      </div>
    </div>
  </div>
</div>
