<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
  </app-step-label>

  <form *ngIf="form" [formGroup]="form">
    <p class="control">
      <input id="companyName" class="input no-border"
        type="text"
        (keydown)="onKey($event)"
        placeholder="{{ placeholder }}"
        [(ngModel)]="user.userProfile.company.name"
        formControlName="companyName"
        [ngClass]="{'is-invalid': controls.companyName.errors }">
    </p>
  </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.companyName.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.companyName.errors }">
  <div class="error" *ngIf="controls.companyName.errors.required">Le nom d'entreprise est requis</div>
</div>

<app-navigation
  [controls]=controls.companyName.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
