.ais-SearchBox-input {
  outline: none;
  width: 400px;
  height: 50px;
}

.ais-Pagination-item {
  list-style: none;
}

.ais-SearchBox-submit {
  position: relative;
  transform: translateX(-400px) translateY(-5px);
}

.ais-SearchBox-reset {
  position: relative;
  transform: translateX(-40px) translateY(-5px);
}

.noUi-pips-horizontal {
  display: none;
}

.ais-SearchBox-submitIcon path,
.ais-SearchBox-resetIcon path {
  fill: var(--KTKP-GREEN);
}

.ais-Pagination-item--selected .ais-Pagination-link{
  background-color: var(--KTKP-GREEN);
  border-color: var(--MAT-GREY);
  border-width: 2px;
}

ul.ais-RefinementList-list {
  text-align: left;
  list-style-type: none;
}

ul.ais-RefinementList-list input {
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .ais-SearchBox-form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ais-SearchBox-input {
    width: 250px;
  }

  .ais-SearchBox-submit {
    transform: translateX(-250px) translateY(-5px);
  }
}
