.purple {
  color: var(--KTKP-PURPLE);
}

.blue {
  color: var(--KTKP-BLUE-DARKER);
}

.red {
  color: var(--KTKP-RED);
}

.green {
  color: var(--KTKP-GREEN);
}

.grey {
  color: var(--MAT-GREY);
}

.yellow {
  color: var(--KTKP-YELLOW) !important;
}

.bg-blue {
  background-color: var(--KTKP-BLUE-DARKER);
}
