.hand-delivery-icon {
  height: 15px;
}

.mondial-relay-icon {
  height: 30px;
}

.small-icon, fa-icon.small {
  font-size: 0.5em;
}

.medium-icon, fa-icon.medium {
  font-size: 0.75em;
}

.big-icon, fa-icon.big {
  font-size: 1em;
}

.huge-icon, fa-icon.huge {
  font-size: 1.5em;
}

fa-icon.gigantic {
  font-size: 1.8em;
}

.side-icon {
  margin-right: 10px;
}

.side-icon-right {
  margin-left: 10px;
}
