<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form *ngIf="form" [formGroup]="form">
      <p class="control">
        <input id="birthdate"
          class="input no-border is-hidden-mobile"
          type="date"
          formControlName="birthdate"
          (keydown)="onKey($event)" [(ngModel)]="user.userProfile.birthdate"
          [ngClass]="{'is-invalid': controls.birthdate.errors }">

          <input id="birthdate-mobile"
          class="input no-border is-hidden-tablet"
          type="date"
          formControlName="birthdate"
          (keydown)="onKey($event)" [(ngModel)]="user.userProfile.birthdate"
          [ngClass]="{'is-invalid': controls.birthdate.errors }">
      </p>
    </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.birthdate.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.birthdate.errors }">
  <div class="error" *ngIf="controls.birthdate.errors.required || controls.birthdate.errors.notNull">La date de naissance est requise</div>
  <div class="error" *ngIf="controls.birthdate.errors.notMajor">Vous devez être majeur(e) pour vous inscrire</div>
</div>

<app-navigation
  [controls]=controls.birthdate.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
