<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <div class="control has-icons-left">
            <div class="field">
                <input class="input" type="date" (keyup)="onKey($event)" [(ngModel)]="user.userProfile.birthdate">
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>