<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <div class="control has-icons-left">
            <div class="field">
                <input class="input" type="date" (keydown)="onKey($event)" [(ngModel)]="user.userProfile.birthdate">
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
    {{ error }}
</div>

<app-navigation
  [data]=formDataService
  [rootUri]=root
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
