<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

      <form [formGroup]="form">
        <p class="control has-icons-right is-hidden-mobile">
          <input #password id="passwordConfirmation" class="input no-border" type="password" placeholder="{{ this.placeholder }}"
          (keydown)="onKey($event)"
          [(ngModel)]="user.passwordConfirmation"
          formControlName="passwordConfirmation"
          [ngClass]="{'is-invalid': controls.passwordConfirmation.errors }">

          <span class="icon is-right">
            <fa-icon [icon]="['fas', 'eye']" class="is-pointable pointed" (click)="inputToolbox.passwordDisplay(password)"></fa-icon>
          </span>
        </p>

        <p class="control has-icons-right is-hidden-tablet">
          <input #passwordMobile id="passwordConfirmation-mobile" class="input no-border is-hidden-tablet" type="password" placeholder="{{ this.placeholder }}"
          (keydown)="onKey($event)"
          [(ngModel)]="user.passwordConfirmation"
          formControlName="passwordConfirmation"
          [ngClass]="{'is-invalid': controls.passwordConfirmation.errors }">

          <span class="icon is-right">
            <fa-icon [icon]="['fas', 'eye']" class="is-pointable pointed" (click)="inputToolbox.passwordDisplay(passwordMobile)"></fa-icon>
          </span>
        </p>
      </form>
    </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.passwordConfirmation.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.passwordConfirmation.errors }">
  <div class="error" *ngIf="controls.passwordConfirmation.errors.notMatching">Les mots de passe ne correspondent pas</div>
</div>

<app-navigation
  [controls]=controls.passwordConfirmation.errors
  [data]="formDataService"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
