<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>
        
        <input class="input" type="password" placeholder="" [(ngModel)]="password2" #name="ngModel">
    </div>
</div>

<div *ngIf="((password2!=formDataService.user.password)) && (name.dirty || name.touched)" class="box has-background-danger has-text-white">
    <div *ngIf="password2!=formDataService.user.password">
        Le mot de passe ne correspond pas !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>