.table {
  width: 100%;
}

.value {
  font-weight: bold;
}

#total-value {
  color: var(--KTKP-RED);
}

#total-line {
  border-top: solid 4px black;
  font-size: 1.5em;
  font-weight: bold;
}

.desktop-field, .tablet-field {
  word-break: break-all;
}

.tablet-field {
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop-field {
  margin-top: 2px;
  margin-bottom: 2px;
}

.button {
  width: 80%;
}

.wrapped {
  word-break: break-all;
}
