.table {
  width: 100%;
}

.value {
  font-weight: bold;
}

#total-value {
  color: var(--KTKP-RED);
}

#total-line {
  border-top: solid 2px black;
  font-size: 1.5em;
  font-weight: bold;
}

#promo-code {
  border: solid 1px var(--KTKP-GREEN);
}

#apply-button {
  color: white;
}
