<div class="box has-text-centered">
  <h2 class="subtitle has-text-weight-bold">Récapitulatif</h2>

    <div class="content">

      <div class="columns desktop-field has-text-left is-hidden-touch">
        <div class="column">
          Produit
        </div>
        <div class="column value has-text-right">
          300€
        </div>
      </div>

      <div class="content has-text-centered is-hidden-desktop">
        <div class="content tablet-field">
          Produit
        </div>
        <div class="content tablet-field value">
          300€
        </div>
      </div>

      <div class="columns desktop-field has-text-left is-hidden-touch">
        <div class="column">
          Frais de commission (6%)
        </div>
        <div class="column value has-text-right">
          18€
        </div>
      </div>

      <div class="content has-text-centered is-hidden-desktop">
        <div class="content tablet-field">
          Frais de commission (6%)
        </div>
        <div class="content tablet-field value">
          18€
        </div>
      </div>

      <div class="columns desktop-field has-text-left is-hidden-touch">
        <div class="column">
          Frais de livraison
        </div>
        <div class="column value has-text-right">
          6.90€
        </div>
      </div>

      <div class="content has-text-centered is-hidden-desktop">
        <div class="content tablet-field">
          Frais de livraison
        </div>
        <div class="content tablet-field value">
          6.90€
        </div>
      </div>

      <div id="total-line" class="columns desktop-field has-text-left is-hidden-touch">
        <div class="column">
          TOTAL
        </div>
        <div id="total-value" class="column value has-text-right">
          324.90€
        </div>
      </div>

      <div id="total-line" class="content has-text-centered is-hidden-desktop">
        <div class="content tablet-field">
          TOTAL
        </div>
        <div id="total-value" class="content tablet-field value">
          324.90€
        </div>
      </div>

      <div class="columns is-hidden-touch">
        <div class="column has-text-centered">
          <input class="input" placeholder="Code promotionnel">
        </div>

        <div class="column has-text-centered">
          <button class="button is-success">Appliquer</button>
        </div>
      </div>

      <div class="content is-hidden-desktop">
        <div class="content has-text-centered">
          <input class="input" placeholder="Code promotionnel">
        </div>

        <div class="content has-text-centered">
          <button class="button is-success">Appliquer</button>
        </div>
      </div>
    </div>
</div>
