<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns">
      <div class="column">
        <div class="tile" id="yes" (click)="product.todeliver = true; handleDelivery(); additionalControls = true; nextOn = true">
          J'accepte la livraison <span class="bold">ET</span> la remise en mains propres
        </div>
      </div>

      <div class="column">
        <div class="tile" id="no" (click)="product.todeliver = false; handleDelivery(); additionalControls = true; nextOn = true">
          Je n'accepte pas de faire livrer mon produit
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [additionalControls]=additionalControls
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
