<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [nbStep]=nbStep>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="content tile" id="yes" (click)="product.todeliver = true; setFocus('yes'); handleDelivery()">
      <span class="choice-symbol">A</span> Oui.
    </div>

    <div class="content tile" id="no" (click)="product.todeliver = false; setFocus('no'); handleDelivery()">
      <span class="choice-symbol">B</span> Non, pas de livraison.
    </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
