<div class="content has-text-left">
  <div class="field">
      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <div class="columns is-vcentered has-text-centered">
        <div class="column">
          <div class="control has-text-centered">
            <label class="radio">
              <input type="radio" name="delivery" value="yes" [(ngModel)]="product.todeliver">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="delivery" value="no" [(ngModel)]="product.todeliver">
              Non
            </label>
          </div>
        </div>
      </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
