<div class="columns is-centered">
  <div class="column is-4 has-text-centered-mobile">
    <h1 id="construction-slogan" class="subtitle bolder is-hidden-tablet">Vous êtes dans le BTP et il vous reste du matériel sur les bras.</h1>
    <img id="construction" height="300" width="500" src="/assets/img/misc/construction-promise.png">
  </div>

  <div id="construction-content" class="column is-6 has-text-centered-mobile">
    <h1 class="title bolder is-hidden-mobile">Vous êtes dans le BTP et il vous reste du matériel sur les bras.</h1>

    <div class="content">
      Revendez facilement vos produits invendus, défectueux ou d'occasion, aussi bien de l'outillage que des matériaux et consommables.<br><br>
      Simple, rapide, écologique… et c'est sans engagement !
    </div>

    <div class="content">
      <a [href]="urlService.getRoute('product/create', true)" [routerLink]="urlService.getRoute('product/create')" class="button is-warning">Essayez gratuitement</a>
    </div>
  </div>
</div>
