<div class="columns is-centered">
  <div class="column is-4 has-text-centered-mobile">
    <h1 id="construction-slogan" class="subtitle bolder is-hidden-tablet">Vous êtes dans le BTP et il vous reste du matériel sur les bras.</h1>
    <img id="construction" height="300" width="500" src="/assets/img/misc/construction-promise.png">
  </div>

  <div id="construction-content" class="column is-6 has-text-centered-mobile">
    <h1 class="title bolder is-hidden-mobile">Vous êtes dans le BTP et il vous reste du matériel sur les bras.</h1>

    <div class="content">
      Revendez facilement vos produits invendus, défectueux ou d'occasion, aussi bien de l'outillage que des matériaux et consommables.<br><br>
      Simple, rapide, écologique… et c'est sans engagement !
    </div>

    <div class="content">
      <div class="buttons is-centered">
        <a [href]="urlService.getRoute('introduction', true)" [routerLink]="urlService.getRoute('introduction')" class="button is-warning no-overflow">Essayer gratuitement</a>
        <a id="demo-call-to-action" class="button is-white has-text-warning no-overflow" (click)="modals.open('b2b-form')">Demander une démo</a>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<div class="modal" [ngClass]="modals.get('b2b-form')">
  <div class="modal-background" (click)="modals.close('b2b-form'); getBackToLandingPage()"></div>
  <div class="modal-content">
    <div class="box">
      <app-demo-request></app-demo-request>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('b2b-form'); getBackToLandingPage()"></button>
</div>

<a #landingPage [hidden] target="_blank"></a>
