<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [nbStep]=nbStep>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [isMandatory]=isMandatory>
    </app-step-label>
  </div>
</div>

<input accept=".png, .jpg" type="file" id="product-pictures" name="product-pictures" (change)="handleFile()" style="display: none;">
<button (click)="openImgPicker()" id="file-select" class="button is-success" style="margin-bottom: 20px">Sélectionnez des images</button>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<div id="displayed-medias">

</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
