<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [nbStep]=nbStep>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [isMandatory]=isMandatory>
    </app-step-label>
  </div>
</div>

<input accept=".png, .jpg" type="file" id="product-pictures" name="product-pictures" (change)="getFile()" class="button is-success">

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<nav class="level new-element" id="{{ media.path }}" *ngFor="let media of product.productMedias">
  <div class="level-left">
    {{ media.path }}
  </div>

  <div class="level-right">
    <button (click)="removeMedia(media.path)" class="button cross"><fa-icon [icon]="['fas', 'times-circle']"></fa-icon></button>
  </div>
</nav>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
