.previews {
  width: 130px;
  margin: auto;
  border: solid 3px var(--KTKP-GREY);
}

.preview-container {
  --spacing: 32%;
  position: relative;
  width: 300px;
  margin: auto;
}

#displayed-media .content {
  display: inline-flex;
}

.action-button {
  position: absolute;
  top: 8px;
  padding: 6px;
  font-size: 0.6em;
  transition: 0.3s;
}

.action-button:hover {
  font-size: 1em;
  padding: 10px;
}

.delete-button {
  right: var(--spacing);
}

.gallery-button {
  left: var(--spacing);
}

.progress {
  margin-top: 5px;
  animation: 2s loading infinite alternate;
  margin-bottom: 20px;
}

#percentage-value {
  color: var(--KTKP-RED);
}

/* ANIMATIONS */
@keyframes loading {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

/* On mobile devices */
@media (max-width: 768px) {
  .delete-button {
    right: 32%;
  }

  .gallery-button {
    left: 32%;
  }
}
