element {
}

.previews {
  width: 180px;
  margin: auto;
  border: solid 3px var(--KTKP-GREY);
}

.preview-container {
  --spacing: 23%;
  position: relative;
  width: 300px;
  margin: auto;
}

.action-button {
  position: absolute;
  top: 8px;
  /* width: 10px; */
  padding: 6px;
  font-size: 0.6em;
  transition: 0.3s;
}

.action-button:hover {
  font-size: 1em;
  padding: 10px;
}

.delete-button {
  right: var(--spacing);
}

.gallery-button {
  left: var(--spacing);
}

/* On mobile devices */
@media (max-width: 768px) {
  .delete-button {
    right: 23%;
  }

  .gallery-button {
    left: 23%;
  }
}
