<div class="content has-text-left">
  <div class="field">

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle
      [isMandatory]=isMandatory>
    </app-step-label>
  </div>
</div>

<input accept=".png, .jpg" type="file" id="product-pictures" multiple name="product-pictures" (change)="handleFile()" style="display: none;">
<button *ngIf="!isLoading" (click)="openImgPicker()" id="file-select" class="button is-success" style="margin-bottom: 20px">Sélectionnez des images</button>
<button *ngIf="isLoading" id="file-select" class="button is-light is-loading" style="margin-bottom: 20px"></button>

<app-navigation
  [data]="formData"
  [disabledEnterKey]=true
  [additionalControls]=additionalControls
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>

<div *ngIf="!additionalControls" class="error">
  3 photos minimum
</div>

<div id="displayed-medias">
  <div class="content" *ngFor="let media of product.productMedias">
    <div *ngIf="media.type === 'image'" class="preview-container">
      <img class="previews" src="{{ mediaBaseUri + media.path }}">

      <button (click)="cancelMedia(media)" title="Supprimer cette photo" class="button is-danger is-small action-button delete-button">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>

      <button (click)="currentMedia = media; modals.open('picture-preview')" title="Agrandir l'image" class="button is-light is-small action-button gallery-button">
        <fa-icon [icon]="['fas', 'expand']"></fa-icon>
      </button>
    </div>

    <!-- Media Modal -->
    <div class="modal {{ modals.get('picture-preview') }}">
      <div class="modal-background" (click)="modals.close('picture-preview')"></div>
      <div class="modal-content">
        <div class="box has-background-black">

          <!-- media -->
          <figure class="image">
            <img src="{{ mediaBaseUri + currentMedia.path }}">
          </figure>

        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" (click)="modals.close('picture-preview')"></button>
    </div>
  </div>
</div>
