<section #warning *ngIf="!activated" class="section">
  <article class="message">
    <div class="message-header">
      Votre compte n'est pas encore activé
      <button (click)="closeNotification(warning)" class="delete" aria="delete"></button>
    </div>

    <div class="message-body">
      Vous ne pouvez pas <span class="bold">faire d'offres</span> ou <span class="bold">vendre vos produits</span> tant que votre compte n'est pas activé.<br><br>

      Pour ce faire, <a (click)="auth.sendActivationMail()">cliquez ici</a> pour recevoir le mail d'activation. Pensez à vérifier vos spams et à nous contacter en cas de problème ! :-D
    </div>
  </article>
</section>
