<div id="container" class="columns is-centered">
  <div class="content">
    <h1 class="title">Mot de passe oublié ?</h1>

    <form [formGroup]="form">
      <div class="field">
        <label class="label">Nouveau mot de passe</label>
        <p class="control">
          <input class="input" type="password" [(ngModel)]="pwd" formControlName="password">
        </p>
      </div>

      <div class="field">
        <label class="label">Confirmation du mot de passe</label>
        <p class="control">
          <input class="input" type="password" [(ngModel)]="pwdConfirmation" formControlName="passwordConfirmation">
        </p>
      </div>

      <!-- Errors display -->
      <div *ngIf="!form.valid" class="content">
        <div *ngIf="controls.password.errors" class="invalid-feedback">
          <div class="error" *ngIf="controls.password.errors.required">Le mot de passe est requis</div>
          <div class="error" *ngIf="controls.password.errors.notCorrect">
            Le mot de passe n'est pas assez sécurisé
            <fa-icon [icon]="['fas', 'info-circle']" class="pointed" (click)="modals.open('pwd')"></fa-icon>
          </div>
        </div>

        <div *ngIf="controls.passwordConfirmation.errors" class="invalid-feedback">
          <div class="error" *ngIf="controls.passwordConfirmation.errors.match">Les mots de passe ne correspondent pas</div>
        </div>
      </div>

      <div *ngIf="success" class="notification is-success has-text-centered">Votre mot de passe a bien été modifié</div>
      <div *ngIf="success === false" class="notification is-danger has-text-centered">Une erreur est survenue</div>

      <div class="content has-text-centered">
        <button *ngIf="form.valid && !loading && !success" class="button is-success" (click)="submitNewPassword()">Changer le mot de passe</button>
        <button *ngIf="loading" class="button is-loading"></button>
        <button *ngIf="!form.valid" class="button is-light">Changer le mot de passe</button>
      </div>
  </form>
  </div>
</div>

<div class="modal {{ modals.get('pwd') }}">
  <div class="modal-background" (click)="modals.close('pwd')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Le mot de passe doit contenir :</h2>

      <ul>
        <li>Au moins 7 caractères</li>
        <li>Une majuscule</li>
        <li>Une minuscule</li>
        <li>Un chiffre</li>
        <li>Un caractère spécial : <span class="declined">(['=$])</span></li>
      </ul>
    </div>
  </div>
  <button class="modal-close" aria-label="close" (click)="modals.close('pwd')"></button>
</div>
