.input {
  width: 300px;
}

.columns {
  margin: 0px;
}

ul li {
  list-style-type: "- ";
}

@media screen and (max-width: 768px) {
  #container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
