<div class="content">

  <!-- DESKTOP display -->
  <div class="columns is-vcentered is-hidden-touch has-text-centered">
    <div class="column is-1">
      <fa-icon id="lock-icon" [icon]="['fas', 'lock']"></fa-icon>
    </div>

    <div class="column">
      Paiement 100% sécurisé avec notre partenaire MangoPay
    </div>

    <div class="column is-4">
      <img title="Moyens de paiement acceptés : Visa / Mastercard" id="payment-logo" src="assets/img/logo/visa-mastercard.png" alt="Moyens de paiement acceptés : Visa / Mastercard">
    </div>
  </div>

  <!-- TABLET display -->
  <div class="content is-hidden-desktop has-text-centered">
    <div class="content shortline">
      <fa-icon id="lock-icon" [icon]="['fas', 'lock']"></fa-icon>
    </div>

    <div class="content shortline">
      Paiement 100% sécurisé avec notre partenaire MangoPay
    </div>

    <div class="content shortline">
      <img title="Moyens de paiement acceptés : Visa / Mastercard" id="payment-logo" src="assets/img/logo/visa-mastercard.png" alt="Moyens de paiement acceptés : Visa / Mastercard">
    </div>
  </div>
</div>
