<div class="content has-text-left">
    <div class="field">
        <label class="label">*{{ step }}. Statut</label>

        <div class="control has-icons-left">
            <div class="select is-hovered">
                <select [(ngModel)]="user.userProfile.type" #name="ngModel" required>
                    <option value="individual" selected>Particulier</option>
                    <option value="professional">Professionnel</option>
                </select>
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'pen']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>