<div class="content has-text-left">
    <div class="field">
        <label class="label">{{ step }}. Statut</label>

        <div class="control">
            <label class="radio">
            <input [(ngModel)]="user.userProfile.type" value="individual" type="radio" name="status">
            Particulier
            </label>
            <label class="radio">
            <input [(ngModel)]="user.userProfile.type" value="professional" type="radio" name="status">
            Professionnel
            </label>
        </div>
    </div>
</div>

<div class="field is-grouped">
    <p class="control">
        <input class="button is-dark" value="Précédent" type="button" (click)="previous()"/>
    </p>
    <p class="control">
        <input class="button is-dark" value="Suivant" type="button" (click)="next()"/>
    </p>
</div>