button#back {
  text-decoration: none;
  font-size: 0.8em;
}

fa-icon#left-arrow {
  margin-right: 5px;
  font-size: 1.5em;
}

#destination-info fa-icon {
  font-size: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
}

.field {
  margin-bottom: 5px;
}

.field fa-icon {
  margin-right: 5px;
}

#modify {
  margin-top: 20px;
}

#relay-point h2 {
  font-size: 0.8em;
  margin-bottom: 5px;
}

#recipient h2 {
  font-size: 0.8em;
}

#buttons {
  align-self: flex-end;
}

.full-width {
  width: 80%;
}

.buttons {
  justify-content: center;
}

.modal .control {
  text-align: center;
}

.modal .field {
  margin-bottom: 20px;
}

.modal .field .label {
  text-align: center;
}

.modal .input {
  width: 180px;
}

.notification {
  color: var(--KTKP-GREEN);
}

#notification {
  color: white;
  text-align: center;
}

#download fa-icon {
  margin-right: 5px;
}

.is-invalid .input {
  border-color: var(--KTKP-RED);
}

.is-invalid.error {
  color: var(--KTKP-RED);
}
