<div class="columns">
  <div class="column is-2">
    <button routerLink="/user/dashboard/activity-log/" id="back" class="button is-text no-overflow">
      <fa-icon id="left-arrow" [icon]="['fas', 'arrow-alt-circle-left']"></fa-icon>
      Retour à l'étape précédente
    </button>
  </div>
  <div class="column is-8">
    <h1 class="title has-text-centered">Générer mon bon d'envoi</h1>
  </div>
  <div class="column is-2">

  </div>
</div>

<div class="columns is-centered">
  <div class="column is-8">
    <div class="box has-text-centered">
      <div class="columns">

        <!-- Seller info -->
        <div id="seller-information" class="column is-4">
          <h2 class="subtitle bold">Vos coordonnées</h2>

          <div class="content field has-text-left has-text-centered-mobile">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            {{ user.userProfile.firstname }} {{ user.userProfile.lastname }}
          </div>

          <div class="content field has-text-left has-text-centered-mobile">
            <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
            {{ user.userProfile.phone1 }}
          </div>

          <div class="content field has-text-left has-text-centered-mobile">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            {{ user.userProfile.email }}
          </div>

          <div class="content field has-text-left has-text-centered-mobile">
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
            {{ user.userProfile.mainAddress.line1 }}<br>
            {{ user.userProfile.mainAddress.zipcode }} {{ user.userProfile.mainAddress.city }}
          </div>

          <div id="notification"></div>

          <div *ngIf="mrExpedition === null" id="modify" class="content">
            <button *ngIf="!agreement" (click)="modals.open('modify-information')" class="button is-danger is-outlined no-overflow">Modifier mes coordonnées</button>
          </div>

          <div class="content discreet-text">
            Notre partenaire Mondial Relay a besoin de ces informations pour l'envoi du colis,
            mais pas d'inquiétudes : elles restent confidentielles.
          </div>
        </div>

        <div class="columns is-multiline">
          <!-- Order info -->
          <div id="order-info" class="column is-4">
            <h2 class="subtitle bold">Le colis à envoyer</h2>

            <div class="content field has-text-left has-text-centered-mobile">
              <fa-icon [icon]="['fas', 'search']"></fa-icon>
              {{ order.sale.product.name }}

              <div class="content field has-text-left has-text-centered-mobile">
                <fa-icon [icon]="['fas', 'weight-hanging']"></fa-icon>
                {{ order.sale.product.weight | weight:'value' }}{{ order.sale.product.weight | weight:'unity' }}
              </div>
            </div>
          </div>

          <!-- Destination -->
          <div id="destination-info" class="column is-8">
            <h2 class="subtitle bold">Destination</h2>

            <div class="content has-text-centered">
              <fa-icon [icon]="['fas', 'box']"></fa-icon>
              <fa-icon [icon]="['fas', 'long-arrow-alt-right']"></fa-icon>
              <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
            </div>

            <div id="relay-point" class="content">
              <h2 class="subtitle">
                {{ relayPoint.addLine1 }}<br>
              </h2>

              <div class="discreet-text">
                {{ relayPoint.addLine3 }}<br>
                <span *ngIf="relayPoint.addLine4">{{ relayPoint.addLine4 }}<br></span>
                {{ relayPoint.zipcode }}<br>
                {{ relayPoint.city }}
              </div>
            </div>
          </div>

          <div *ngIf="mrExpedition === null" id="buttons" class="column">
            <div class="content">
              <button *ngIf="!agreement" (click)="agreement = true" class="button full-width is-danger is-outlined no-overflow">Je confirme que mes informations sont correctes</button>
            </div>

            <div *ngIf="!generated" class="content">
              <button *ngIf="!agreement" class="button full-width is-light no-overflow">Je génère mon bon d'expédition</button>
              <button (click)="loading = true; generateDispatchNote(nbAttempts)" *ngIf="!loading && agreement" class="button full-width is-success no-overflow">Je génère mon bon d'expédition</button>
              <button *ngIf="loading && agreement" class="button full-width is-light is-loading no-overflow"></button>
            </div>

            <div *ngIf="generated">
              <div class="content notification">
                <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
                Le bon d'expédition a bien été créé
              </div>

              <div id="download" class="content">
                <div class="buttons">
                  <a *ngIf="dispatchNoteA4" [href]="dispatchNoteA4" class="button is-success full-width no-overflow" download>
                    <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
                    Télécharger le bon d'expédition au format A4
                  </a>
                  <a *ngIf="dispatchNoteA5" [href]="dispatchNoteA5" class="button is-success full-width no-overflow" download>
                    <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
                    Télécharger le bon d'expédition au format A5
                  </a>
                  <div *ngIf="!dispatchNoteA4 && !dispatchNoteA5" class="content">
                    Une erreur est survenue, veuillez retenter en rechargeant la page.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->

<!-- Order Overview -->
<div class="modal {{ modals.get('modify-information') }}">
  <div class="modal-background" (click)="modals.close('modify-information'); resetNewInformation()"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Modifier mes coordonnées</h2>

      <form *ngIf="form" [formGroup]="form" (submit)=onSubmit()>
        <!-- Phone number -->
        <div *ngIf="form && form.contains('phoneNumber')" class="field">
          <label class="label">
            <fa-icon [icon]="['fas', 'phone-alt']" class="icon is-small"></fa-icon>
            Téléphone
          </label>
          <div class="control has-icons-centered" [ngClass]="{'is-invalid': submitted && controls.phoneNumber.errors }">
            <input class="input is-success" type="text" placeholder="0601020304" formControlName="phoneNumber">
          </div>

          <div *ngIf="submitted && controls.phoneNumber.errors" class="invalid-feedback" [ngClass]="{'is-invalid': submitted && controls.phoneNumber.errors }">
            <div class="error" *ngIf="controls.phoneNumber.errors.required">Le numéro de téléphone est requis</div>
            <div class="error" *ngIf="controls.phoneNumber.errors.pattern">Le numéro de téléphone est invalide</div>
          </div>
        </div>

        <!-- Email -->
        <div *ngIf="form && form.contains('mail')" class="field">
          <label class="label">
            <fa-icon [icon]="['fas', 'envelope']" class="icon is-small"></fa-icon>
            Email
          </label>
          <div class="control" [ngClass]="{'is-invalid': submitted && controls.mail.errors }">
            <input class="input is-success" type="email" placeholder="dupont@email.fr" formControlName="mail">
          </div>

          <div *ngIf="submitted && controls.mail.errors" class="invalid-feedback" [ngClass]="{'is-invalid': submitted && controls.mail.errors }">
            <div class="error" *ngIf="controls.mail.errors.required">L'email est requis</div>
            <div class="error" *ngIf="controls.mail.errors.email">L'email est invalide</div>
          </div>
        </div>

        <!-- Address -->
        <div *ngIf="form && form.contains('line1')"class="field">
          <label class="label">
            <fa-icon [icon]="['fas', 'home']" class="icon is-small"></fa-icon>
            Voie
          </label>
          <div class="control" [ngClass]="{'is-invalid': submitted && controls.line1.errors }">
            <input class="input is-success" type="text" placeholder="34 rue des abeilles" formControlName="line1">
          </div>

          <div *ngIf="submitted && controls.line1.errors" class="invalid-feedback" [ngClass]="{'is-invalid': submitted && controls.line1.errors }">
            <div class="error" *ngIf="controls.line1.errors.required">La voie est requise</div>
          </div>
        </div>

        <div *ngIf="form && form.contains('zipcode')" class="field">
          <label class="label">
            <fa-icon [icon]="['fas', 'home']" class="icon is-small"></fa-icon>
            Code postal
          </label>
          <div class="control" [ngClass]="{'is-invalid': submitted && controls.zipcode.errors }">
            <input class="input is-success" type="text" placeholder="75000" formControlName="zipcode">
          </div>

          <div *ngIf="submitted && controls.zipcode.errors" class="invalid-feedback" [ngClass]="{'is-invalid': submitted && controls.zipcode.errors }">
            <div class="error" *ngIf="controls.zipcode.errors.required">Le code postal est requis</div>
            <div class="error" *ngIf="controls.zipcode.errors.pattern">Le code postal est invalide</div>
          </div>
        </div>

        <div *ngIf="form && form.contains('city')" class="field">
          <label class="label">
            <fa-icon [icon]="['fas', 'home']" class="icon is-small"></fa-icon>
            Ville
          </label>
          <div class="control" [ngClass]="{'is-invalid': submitted && controls.city.errors }">
            <input class="input is-success" type="text" placeholder="Paris" formControlName="city">
          </div>

          <div *ngIf="submitted && controls.city.errors" class="invalid-feedback" [ngClass]="{'is-invalid': submitted && controls.city.errors }">
            <div class="error" *ngIf="controls.city.errors.required">La ville est requise</div>
          </div>
        </div>

        <div class="buttons">
          <button *ngIf="!form.invalid" class="button is-success is-small no-overflow">Je change mes coordonnées</button>
          <button *ngIf="form.invalid" [disabled] class="button is-light is-small no-overflow">Je change mes coordonnées</button>
          <button (click)="resetNewInformation()" class="button is-danger is-small no-overflow">Je conserve mes données par défaut</button>
        </div>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('modify-information'); resetNewInformation()"></button>
</div>
