<div id="confidentiality-policy" class="content">
  <h1 class="title">Introduction</h1>

  <div class="content">
    Dans le cadre de son activité, la société L'Outillerie, SAS au capital de 1000€, dont le siège social est situé au XXX 95690 Nesles-la-Vallée, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". L'Outillerie SAS attache une grande importance au respect de la vie privée, et n'utilise que des donnes de manière responsable et confidentielle et dans une finalité précise.
  </div>

  <h1 class="title">Données personnelles</h1>

  <div class="content">
    <div class="content">
      Sur le site web https://www.outilly.com/, il y a 2 types de données susceptibles d'être recueillies :
    </div>

    <h2 class="subtitle is-5">Les données transmises directement</h2>

    <div class="content">
      Ces données sont celles que vous nous transmettez directement, via les formulaires de création de compte et de mise en ligne d'une annonce, ou bien par contact direct par email. Sont obligatoires dans le formulaire de création de compte les champs suivants :

      <ul>
        <li>Adresse e-mail, validée par l'utilisateur au travers d'un code de confirmation</li>
        <li>Prénom</li>
        <li>Nom</li>
        <li>Genre</li>
        <li>Date de naissance</li>
        <li>Statut (particulier/professionnel)</li>
        <li>Numéro de téléphone</li>
        <li>Adresse postale, constituée d'une numéro et nom de rue, d'un code postal et d'une ville
          de contact le champs « prénom et nom », « entreprise ou organisation » et « email ».</li>
      </ul>
    </div>

    <h2 class="subtitle is-5">Les données collectées automatiquement</h2>

    <div class="content">
      Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.
    </div>
  </div>

  <h1 class="title">Utilisation des données</h1>

  <div class="content">
    Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d'améliorer constamment l'expérience des utilisateurs. Ces données sont utilisées par [Société], responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d'autres fins que celles détaillées ci-dessus.
  </div>

  <h1 class="title">Base légale</h1>

  <div class="content">
    Les données personnelles ne sont collectées qu'après consentement obligatoire de l'utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.
  </div>

  <h1 class="title">Durée de conservation</h1>

  <div class="content">
    Les données seront sauvegardées durant une durée maximale de 3 ans.
  </div>

  <h1 class="title">Cookies</h1>

  <div class="content">
    Voici la liste des cookies utilisées et leur objectif :
  </div>

  <div class="content">
    <ul>
      <li>Cookies Google Analytics (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank" class="link underline">liste exhaustive</a>) : Web analytics</li>
      <li>[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.</li>
    </ul>
  </div>

  <h1 class="title">Vos droits concernant les données personnelles</h1>

  <div class="content">
    Vous avez le droit de consultation, demande de modification ou d'effacement sur l'ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
  </div>

  <h1 class="title">Contact délégué à la protection des données</h1>

  <div class="content">
    [Nom du contact] - [Idéalement au moins 2 façons de le contacter]
  </div>
</div>
