<app-loading *ngIf="!loaded"></app-loading>

<ais-instantsearch *ngIf="loaded" [config]="config">
  <ais-configure
    [searchParameters]="searchQuery.searchParams">
  </ais-configure>

  <div class="content has-text-centered">
    <div class="content">
      <ais-search-box [searchAsYouType]=true [placeholder]=placeholder></ais-search-box>
    </div>

    <button class="button is-danger is-hidden-tablet" (click)="searchQueryTmp.copy(searchQuery); modals.open('mobile-filters')">Recherche avancée</button>
  </div>

  <div id="results" class="grid is-centered has-text-centered">

    <!-- Filters -->
    <div>
      <div id="filters" class="box is-hidden-mobile">
        <h2 class="subtitle filter-title has-text-centered">Code postal</h2>
        <div class="field">
          <div class="control">
            <input #zipcode class="input" placeholder="Ex: 75010" type="text" [(ngModel)]="searchQuery.zipcode" (ngModelChange)="searchQuery.updateGeoLoc(zipcode.value)">
          </div>
        </div>

        <nav id="distance" class="level">
          <div class="level-left">0 km</div>
          <div class="level-item">
            <mat-slider #matSlider min="0" max="200" step="20" thumbLabel [value]=searchQuery.geo.aroundRadius (input)="searchQuery.updateDistance(matSlider.value, state)"></mat-slider>
          </div>
          <div class="level-right">200 km</div>
        </nav>

        <!-- Product Types -->
        <div class="has-text-left">
          <h2 class="subtitle filter-title has-text-centered">Type de produits</h2>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('types', 'Consommable & accessoires')">
              Matériaux & accessoires
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilters('types', toolsAndMachines)">
              Outillage & machines
            </label>
          </div>
        </div>

        <!-- Product Quality -->
        <div class="has-text-left">
          <h2 class="subtitle filter-title has-text-centered">Etat</h2>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('quality', 'Neuf')">
              Neuf
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('quality', 'Occasion')">
              Occasion
            </label>
          </div>
        </div>

        <!-- Product Category -->
        <div class="has-text-left">
          <h2 class="subtitle filter-title has-text-centered">Catégorie</h2>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('categories', 'BTP / Brico / Maison')">
              BTP / Brico / Maison
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('categories', 'Espace verts / Paysage')">
              Espace verts / Paysage
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('categories', 'Garage / Mécanique')">
              Garage / Mécanique
            </label>
          </div>
        </div>


        <!-- Product Delivery -->
        <div class="has-text-left">
          <h2 class="subtitle has-text-centered filter-title">Logistique</h2>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('to_deliver', 'true')">
              Produits livrables
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (click)="searchQuery.setFilter('to_deliver', 'false')">
              A récupérer sur place
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Results -->
    <div class="content">
      <div id="pagination">
        <ais-pagination padding="1" [showFirst]=false [showLast]=false [showNext]=true [showPrevious]=true></ais-pagination>
      </div>

      <ais-hits>
        <ng-template let-hits="hits">
          <ais-stats>
            <ng-template let-state="state">
              <div *ngIf="hits.length > 0" class="content">
                <app-products-display
                  [search]=true
                  [sales]=algoliaManager.getSalesFromHits(hits)>
                </app-products-display>
              </div>

              <div *ngIf="hits.length === 0" class="content">
                Aucun résultat ne correspond à votre recherche.
              </div>

              <input #state type="hidden" [value]="state.query" />
            </ng-template>
          </ais-stats>
          <input type="hidden" [value]="hits.length" />
        </ng-template>
      </ais-hits>

      <div id="pagination">
        <ais-pagination padding="1" [showFirst]=false [showLast]=false [showNext]=true [showPrevious]=true></ais-pagination>
      </div>
    </div>
  </div>
</ais-instantsearch>

<!-- MODALS -->

<!-- Filters on mobile -->
<div class="modal padded" [ngClass]="modals.get('mobile-filters')">
  <div class="modal-background" (click)="matSliderTmp.value = searchQuery.slider; modals.close('mobile-filters')"></div>
  <div class="modal-content">
    <div class="box has-text-centered">
      <div class="field">
        <label>Code postal</label>
        <div class="control">
          <input #zipcodeTmp class="input" placeholder="Ex: 75010" type="text" [(ngModel)]="searchQueryTmp.zipcode" (ngModelChange)="searchQueryTmp.updateGeoLoc(zipcodeTmp.value)">
        </div>
      </div>

      <nav class="level is-mobile">
        <div class="level-left">0 km</div>
        <div class="level-item">
          <mat-slider #matSliderTmp min="0" max="200" step="20" thumbLabel [value]=0 (input)="searchQueryTmp.updateSlider(matSliderTmp.value); searchQueryTmp.updateDistance(matSliderTmp.value, state)"></mat-slider>
        </div>
        <div class="level-right">200 km</div>
      </nav>

      <!-- Product Types -->
      <div class="has-text-left">
        <h2 class="subtitle filter-title has-text-centered">Type de produits</h2>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('types', 'Consommable & accessoires')">
            Matériaux & accessoires
          </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilters('types', toolsAndMachines)">
            Outillage & machines
          </label>
        </div>
      </div>

      <!-- Product Quality -->
      <div class="has-text-left">
        <h2 class="subtitle filter-title has-text-centered">Etat</h2>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('quality', 'Neuf')">
            Neuf
          </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('quality', 'Occasion')">
            Occasion
          </label>
        </div>
      </div>

      <!-- Product Category -->
      <div class="has-text-left">
        <h2 class="subtitle filter-title has-text-centered">Catégorie</h2>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('categories', 'BTP / Brico / Maison')">
            BTP / Brico / Maison
          </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('categories', 'Espace verts / Paysage')">
            Espace verts / Paysage
          </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('categories', 'Garage / Mécanique')">
            Garage / Mécanique
          </label>
        </div>
      </div>

      <!-- Product Delivery -->
      <div class="has-text-left">
        <h2 class="subtitle has-text-centered filter-title">Logistique</h2>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('to_deliver', 'true')">
            Produits livrables
          </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" (click)="searchQueryTmp.setFilter('to_deliver', 'false')">
            A récupérer sur place
          </label>
        </div>
      </div>

      <button class="button is-danger" (click)="searchQuery.copy(searchQueryTmp); modals.close('mobile-filters')">Rechercher</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('mobile-filters')"></button>
</div>
