#results {
  margin-top: 20px;
}

#powered-by-algolia {
  margin-top: 5px;
  transform: translateX(135px);
}

#powered-by-algolia img {
  height: 9px;
}

@media screen and (max-width: 768px) {
  #powered-by-algolia {
    transform: translateX(60px);
  }
}
