<ais-instantsearch [config]="config">
  <ais-configure
    [searchParameters]="{ hitsPerPage: 15, query: searchQuery, filters: filters, page: 0 }">
  </ais-configure>
  <div class="columns is-centered has-text-centered">
    <div class="column">
        <ais-search-box [searchAsYouType]=true [placeholder]=placeholder></ais-search-box>
    </div>
  </div>

  <div id="results" class="columns is-centered has-text-centered">
    <div>
      <ais-hits>
        <ng-template let-hits="hits">
          <ais-stats>
            <ng-template let-state="state">
              <div *ngIf="hits.length > 0" class="content">
                <app-products-display
                  [search]=true
                  [sales]=getSalesFromHits(hits)>
                </app-products-display>
              </div>

              <div *ngIf="hits.length === 0" class="content">
                Aucun résultat ne correspond à votre recherche.
              </div>

              <div id="pagination">
                <ais-pagination padding="1" [showFirst]=false [showLast]=false [showNext]=true [showPrevious]=true></ais-pagination>
              </div>
            </ng-template>
          </ais-stats>
        </ng-template>
      </ais-hits>
    </div>
  </div>
</ais-instantsearch>
