<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <div class="columns is-multiline is-mobile is-narrow is-vcentered has-text-centered">
      <div class="column" *ngFor="let category of categories">
        <div class="content tile" id="{{ category.label }}" (click)="setFocus(category)">
          <div [ngSwitch]="category.label">
            <fa-icon *ngSwitchCase="'Mécanique'" [icon]="['fas', 'car']"></fa-icon>
            <fa-icon *ngSwitchCase="'Bricolage'" [icon]="['fas', 'hammer']"></fa-icon>
            <fa-icon *ngSwitchCase="'Jardin'" [icon]="['fas', 'seedling']"></fa-icon>
            <fa-icon *ngSwitchCase="'Atelier'" [icon]="['fas', 'warehouse']"></fa-icon>
          </div>
          {{ category.id | category }}
        </div>
      </div>
    </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [additionalControls]=additionalControls
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
