<div class="content has-text-left">
  <div class="field">
    <app-step-progress
    [stepNb]=stepNb
    [totalNbSteps]=totalNbSteps>
  </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
  </app-step-label>

  <form *ngIf="form" [formGroup]="form">
    <p class="control">
      <input id="tva" class="input no-border"
        type="text"
        (keydown)="onKey($event)"
        placeholder="{{ placeholder }}"
        [(ngModel)]="user.userProfile.company.tvanumber"
        formControlName="tva"
        [ngClass]="{'is-invalid': controls.tva.errors }">
    </p>
  </form>
  </div>
</div>

<!-- Errors display -->
<div *ngIf="controls.tva.errors" class="invalid-feedback" [ngClass]="{'is-invalid': controls.tva.errors }">
  <div class="error" *ngIf="controls.tva.errors.notCorrect">Le numéro de TVA est invalide</div>
</div>

<app-navigation
  [controls]=controls.tva.errors
  [data]=formDataService
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
