<div id="buying">
  <h2 class="subtitle">Ce produit coûte
    <span *ngIf="priceToPay !== sale.product.reservePrice" class="sold">{{ sale.product.reservePrice | currency:'full' }}€</span>
    <span class="bold"> {{ priceToPay | currency:'full' }}€</span>
  </h2>

  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <h3 class="subtitle is-6">Choisissez votre mode de remise</h3>

      <div id="delivery-tiles" class="content">
        <div *ngIf="sale.product.toDeliver" class="content">
          <div id="mondial" class="content remise" (click)="sticky.setDelivery('mondial', 'Mondial Relay', mrCosts); sticky.setFocus('mondial')">
            <img src="/assets/img/logo/mondial-relay-logo.png" alt="Logo Mondial Relay" title="Logo Mondial Relay" height="30" width="auto">

            <div class="content">
              MONDIAL RELAY<br>
              <span class="price">{{ mrCosts | currency:'full' | number:'1.2-2' }}€</span><br><br>
            </div>
          </div>
          <span class="delay discreet-text">4-5 jours ouvrés</span>
        </div>

        <div class="content">
          <div id="hand" class="content remise" (click)="sticky.setDelivery('hand', 'Remise en main propre', 0); sticky.setFocus('hand')">
            <img src="/assets/img/logo/hand-delivery-logo.png" alt="Logo de remise en mains propres" title="Logo de remise en mains propres" height="20" width="auto">

            <div class="content">
              MAINS PROPRES<br>
              <span class="price">GRATUIT</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="errorMsg" class="notification has-text-danger">
        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
        {{ errorMsg }}
      </div>
    </div>

    <div class="column has-text-centered">

      <!-- When login succeeds -->
      <div *ngIf="auth.isLogged() && !isSeller" class="content">

        <!-- If account has not already been activated -->
        <div *ngIf="userStatus === 'toactivate'" class="content">
          Vous devez <span class="bold">activer votre compte</span> avant de pouvoir faire une offre ou acheter un produit.
        </div>

        <!-- If account has been activated -->
        <div *ngIf="userStatus === 'activated'" class="content">

          <!-- If a counter-offer has been made -->
          <div *ngIf="hasBidded && isCounterOffer()" class="content">
            <div class="content">
              <button class="button buy is-danger no-overflow" (click)="nextStep()">
                Acheter au prix de {{ priceToPay | currency:'full' }}€
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="counter-offer">contre-proposée à {{ bid.counterOfferAmount | currency:'full' }}€</span> !
            </div>
          </div>

          <!-- If an offer has been accepted -->
          <div *ngIf="hasBidded && isAccepted()" class="content">
            <div class="content">
              <button class="button buy is-danger no-overflox" (click)="nextStep()">
                Acheter au prix de {{ priceToPay | currency:'full' }}€
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="accepted">acceptée</span> !
            </div>
          </div>

          <!-- If an offer has been declined -->
          <div *ngIf="hasBidded && isDeclined()" class="content">
            <div class="content">
              <button class="button buy is-danger no-overflow" (click)="nextStep()">
                Acheter à prix coûtant
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="declined">refusée</span> :-(<br><br>
              Vous pouvez néanmoins toujours acheter le produit au prix coûtant ! :-)
            </div>
          </div>

          <!-- If a bid is pending -->
          <div *ngIf="hasBidded && isPending()" class="content">
            <div class="content">
              <button class="button buy is-danger no-overflow" (click)="nextStep()">
                Acheter
              </button>
            </div>

            <div class="content">
              Votre proposition de <span class="bold">{{ bid.amount | currency:'full' }}€</span> est en attente de traitement ;-)
            </div>

            <div class="content">
              Si jamais ce produit vous tente et que vous avez peur de passer à côté, vous pouvez l'acheter directement au prix initial.
            </div>
          </div>

          <!-- If no bid has been made -->
          <div *ngIf="!hasBidded" class="content">
            <div class="content">
              <button class="button buy is-danger no-overflow" (click)="nextStep()">
                Acheter
              </button>
            </div>

            <div class="content">
              <button (click)="nextAltStep()" class="button is-ligh no-overflow">
                Faire une proposition au vendeur.
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- When login fails -->
      <div *ngIf="auth.isLogged() === false" class="content">
        <div class="content">
          <button (click)="goToLogin()" class="button is-light no-overflow">
            Se connecter pour acheter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
