<div id="buying">
  <h2 class="subtitle">Ce produit coûte
    <span *ngIf="priceToPay !== sale.product.reservePrice" class="sold">{{ sale.product.reservePrice | currency:'full' }}€</span>
    <span class="bold"> {{ priceToPay | currency:'full' }}€</span>
  </h2>

  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <h3 class="subtitle is-6">Choisissez votre mode de remise</h3>

      <div id="delivery-tiles" class="content">
        <div class="content">
          <div id="mondial" class="content remise" (click)="sticky.setDelivery('mondial', 'Mondial Relay', 690)">
            <img src="/assets/img/logo/mondial-relay-logo.png">

            <div class="content">
              MONDIAL RELAY<br>
              <span class="price">6,90€</span><br><br>
            </div>
          </div>
          <span class="delay discreet-text">4-5 jours ouvrés</span>
        </div>

        <div class="content">
          <div id="hand" class="content remise" (click)="sticky.setDelivery('hand', 'Remise en main propre', 0)">
            <img src="/assets/img/logo/hand-delivery-logo.png">

            <div class="content">
              MAINS PROPRES<br>
              <span class="price">GRATUIT</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="errorMsg" class="notification has-text-danger">
        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
        {{ errorMsg }}
      </div>
    </div>

    <div class="column has-text-centered">

      <!-- When login succeeds -->
      <div *ngIf="auth.isLogged()" class="content">
        <div class="content">

          <!-- If a counter-offer has been made -->
          <div *ngIf="isCounterOffer()" class="content">
            <div class="content">
              <button class="button buy is-danger" (click)="nextStep()">
                Acheter au prix de {{ priceToPay | currency:'full' }}€
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="counter-offer">contre-proposée à {{ bid.counterOfferAmount | currency:'full' }}€</span> !
            </div>
          </div>

          <!-- If an offer has been accepted -->
          <div *ngIf="isAccepted()" class="content">
            <div class="content">
              <button class="button buy is-danger" (click)="nextStep()">
                Acheter au prix de {{ priceToPay | currency:'full' }}€
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="accepted">acceptée</span> !
            </div>
          </div>

          <!-- If an offer has been declined -->
          <div *ngIf="isDeclined()" class="content">
            <div class="content">
              <button class="button buy is-danger" (click)="nextStep()">
                Acheter à prix coûtant
              </button>
            </div>

            <div class="content">
              Votre proposition de {{ bid.amount | currency:'full' }}€ a été <span class="declined">refusée</span> :-(<br><br>
              Vous pouvez néanmoins toujours acheter le produit au prix coûtant ! :-)
            </div>
          </div>

          <!-- If a bid is pending -->
          <div *ngIf="isPending()" class="content">
            <div class="content">
              <button class="button buy is-danger" (click)="nextStep()">
                Acheter
              </button>
            </div>

            <div class="content">
              Votre proposition de <span class="bold">{{ bid.amount | currency:'full' }}€</span> est en attente de traitement ;-)
            </div>

            <div class="content">
              Si jamais ce produit vous tente et que vous avez peur de passer à côté, vous pouvez l'acheter directement au prix initial.
            </div>
          </div>

          <!-- If no bid has been made -->
          <div *ngIf="!userManager.hasBidded(sale.id)" class="content">
            <div class="content">
              <button class="button buy is-danger" (click)="nextStep()">
                Acheter
              </button>
            </div>

            <div class="content">
              <button (click)="nextAltStep()" class="button is-ligh">
                Faire une proposition au vendeur.
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- When login fails -->
      <div *ngIf="!this.auth.isLogged()" class="content">
        <div class="content">
          <button (click)="goToLogin()" class="button is-light">
            Se connecter pour acheter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
