<div class="content">
  <h2 class="subtitle">Mes annonces</h2>
  <div id="notifications"></div>

  <div *ngIf="isLoaded">
    <div class="content" *ngIf="runningSales && runningSales.length === 0">
      Vous n'avez posté aucune annonce pour le moment :'-(

      <div class="content">
        <a routerLink="/product/create" class="button is-success">Commencer à vendre</a>
      </div>
    </div>

    <mat-accordion *ngIf="runningSales && runningSales.length > 0">
      <mat-expansion-panel *ngFor="let sale of runningSales">
          <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon *ngIf="saleManager.hasNonTreatedBids(sale)" class="section-icon new-bid" [icon]="['fas', 'bell']"></fa-icon>
            {{ sale.product.name }}
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Prix de votre produit : {{ sale.product.reservePrice | currency:'full' }}€<br>

          </mat-panel-description>

          <!-- Displayed when sale is running -->
          <div *ngIf="!saleManager.isClosed(sale)" class="content bids">
            <div class="content bid" *ngFor="let bid of bidManager.sortBidsByDate(sale.bids, 'decreasing')">
              <div class="content">
                  Vous avez reçu une offre d'achat de<br>
                  <span class="amount">{{ bid.amount | currency:'full' }}€</span>

                <div *ngIf="!bidManager.isClosed(bid)" class="field has-addons has-text-centered actions">
                  <p class="control choice">
                    <button (click)="modals.open('acceptOffer'); currentBid = bid" class="button is-dark is-small green action" title="Accepter l'offre">
                      <fa-icon [icon]="['fas', 'check']"></fa-icon>Accepter
                    </button>
                  </p>
                  <p class="control choice">
                    <button (click)="modals.open('counterOffer'); currentBid = bid; counterOfferAmount = bid.amount / 100" class="button is-dark is-small yellow action" title="Faire une contre-offre">
                      <fa-icon [icon]="['fas', 'share']"></fa-icon>Négocier
                    </button>
                  </p>
                  <p class="control choice">
                    <button (click)="modals.open('declineOffer'); currentBid = bid" class="button is-dark is-small red action" title="Refuser l'offre">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>Refuser
                    </button>
                  </p>
                </div>

                <div *ngIf="bidManager.isClosed(bid)" class="content">
                  <div *ngIf="bidManager.isAccepted(bid)" class="content">
                    Proposition <span class="accepted">acceptée</span>, en attente de paiement.
                  </div>
                  <div *ngIf="bidManager.isDeclined(bid)" class="content">
                    Proposition <span class="declined">refusée</span>.
                  </div>
                  <div *ngIf="bidManager.isCounterOffer(bid)" class="content">
                    Votre <span class="counter-offer">contre-offre</span> de <span class="amount">{{ bid.counterOfferAmount | currency:'full' }}€</span> a bien été envoyée à l'acheteur.<br><br>
                    L'acheteur a les cartes en main : il peut accepter votre offre ou la refuser.<br>
                    S'il la refuse, pensez à lui faire une nouvelle contre-offre !
                  </div>
                </div>

                <div class="content bid-date has-text-left discreet-text">
                  <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                  {{ bid.createdAt | date:'dd/MM/yyyy' }} à {{ bid.createdAt | date:'hh:mm' }}
                </div>
              </div>
            </div>
          </div>

          <!-- If no bid has been placed yet -->
          <div *ngIf="!saleManager.hasBids(sale)"class="content bid">
            Aucune proposition pour le moment. ='(
          </div>

          <a class="product-page" (click)="goToProductPage(sale.product.slug, sale.id)">Accéder à la page du produit</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- ##### MODALS ##### -->

<!-- Offer acceptance -->
<div class="modal {{ modals.get('acceptOffer') }}">
  <div class="modal-background" (click)="modals.close('acceptOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment accepter cette offre ?</h2>

      <div class="content discreet-text">
        Félicitations ! Si vous acceptez cette offre, votre produit sera vendu.
      </div>

      <button (click)="offerAcceptanceConfirmation('yes')" class="button is-success">Oui</button>
      <button (click)="offerAcceptanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('acceptOffer')"></button>
</div>

<!-- Offer declinance -->
<div class="modal {{ modals.get('declineOffer') }}">
  <div class="modal-background" (click)="modals.close('declineOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment refuser cette offre ?</h2>

      <div class="content discreet-text">
        En refusant cette offre, l'acheteur ou l'acheteuse sera contraint(e) d'acheter votre produit au prix ferme que vous indiquez.
        Pensez à faire une contre-offre !
      </div>

      <button (click)="offerDeclinanceConfirmation('yes')" class="button is-danger">Oui</button>
      <button (click)="offerDeclinanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('declineOffer')"></button>
</div>

<!-- Counter offer -->
<div class="modal {{ modals.get('counterOffer') }}">
  <div class="modal-background" (click)="modals.close('counterOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Quelle est votre contre-offre ?</h2>

      <div class="content discreet-text">
        En effectuant une contre-offre, l'utilisateur ou utilisatrice sera contraint(e) d'acheter le produit à ce prix. Vous aurez
        la possibilité de baisser votre prix s'il ou elle la refuse, mais lui ou elle ne pourra vous faire de nouvelles propositions.
      </div>

      <input class="input" type="number" oninput="this.value=(parseInt(this.value)||0)" [(ngModel)]="counterOfferAmount">

      <button (click)="modals.open('counterOfferConfirmation')" class="button is-success addlittlespaceabove">Proposer une contre-offre à {{ counterOfferAmount }}€</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('counterOffer')"></button>
</div>

<!-- Counter offer confirmation -->
<div class="modal {{ modals.get('counterOfferConfirmation') }}">
  <div class="modal-background" (click)="modals.close('counterOfferConfirmation')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Etes-vous sûr(e) de vouloir proposer une contre-offre à {{ counterOfferAmount }}€ ?</h2>

      <button (click)="counterOfferConfirmation('yes')" class="button is-success">Oui</button>
      <button (click)="counterOfferConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('counterOfferConfirmation')"></button>
</div>
