<div class="content">
  <h2 class="subtitle">Mes ventes en cours</h2>
  <div id="notifications" style="margin-bottom: 10px;"></div>

  <div *ngIf="isLoaded">
    <div class="content" *ngIf="runningSales.length === 0">
      Vous n'avez posté aucune annonce pour le moment :'-(

      <div class="content">
        N'hésitez pas à <a routerLink="/product/create" class="accepted">commencer à vendre un produit !</a>
      </div>
    </div>

    <mat-accordion *ngIf="runningSales.length > 0">
      <mat-expansion-panel *ngFor="let sale of runningSales">
          <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon *ngIf="saleManager.hasNonTreatedBids(sale)" class="section-icon new-bid" [icon]="['fas', 'circle']"></fa-icon>
            <fa-icon class="section-icon" [icon]="['fas', 'tools']"></fa-icon>
            {{ sale.product.name }}
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Prix de réserve : {{ sale.product.reservePrice | currency:'full' }}€<br>

          </mat-panel-description>

          <!-- Displayed when sale is running -->
          <div *ngIf="!saleManager.isClosed(sale)" class="content bids">
            <div class="content bid" *ngFor="let bid of bidManager.sortBidsByAmount(sale.bids)">
              <div class="content">
                <fa-icon class="offer-icon" [icon]="['fas', 'hand-holding-usd']"></fa-icon>
                  Offre de <span class="bidder">{{ bid.bidder.username }}</span> à <span class="amount">{{ bid.amount | currency:'full' }}€</span>

                <div *ngIf="!bidManager.isClosed(bid)" class="field has-addons has-text-centered actions">
                  <p class="control">
                    <button (click)="modals.open('acceptOffer'); currentBid = bid" class="button is-dark is-small green action" title="Accepter l'offre">
                      <fa-icon class="choice" [icon]="['fas', 'check']"></fa-icon>Accepter
                    </button>
                  </p>
                  <p class="control">
                    <button (click)="modals.open('counterOffer'); currentBid = bid; counterOfferAmount = bid.amount / 100" class="button is-dark is-small yellow" title="Faire une contre-offre">
                      <fa-icon class="choice" [icon]="['fas', 'share']"></fa-icon>Contre-offre
                    </button>
                  </p>
                  <p class="control">
                    <button (click)="modals.open('declineOffer'); currentBid = bid" class="button is-dark is-small red" title="Refuser l'offre">
                      <fa-icon class="choice" [icon]="['fas', 'times']"></fa-icon>Refuser
                    </button>
                  </p>
                </div>

                <div *ngIf="bidManager.isClosed(bid)" class="content">
                  <div *ngIf="bidManager.isAccepted(bid)" class="content">
                    Proposition <span class="accepted">acceptée</span>, en attente de paiement.
                  </div>
                  <div *ngIf="bidManager.isDeclined(bid)" class="content">
                    Proposition <span class="declined">refusée</span>.
                  </div>
                  <div *ngIf="bidManager.isCounterOffer(bid)" class="content">
                    <span class="counter-offer">Contre proposition</span> à <span class="amount">{{ bid.counterOfferAmount | currency:'full' }}€</span>. <br>
                    En attente d'une décision de l'acheteur.
                  </div>
                </div>
              </div>
            </div>

            <!-- If no bid has been placed yet -->
            <div *ngIf="!saleManager.hasBids(sale)"class="content">
              Aucune proposition pour le moment. ='(
            </div>

          </div>

          <a class="product-page" (click)="goToProductPage(sale)">Accéder à la page du produit</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- ##### MODALS ##### -->

<!-- Offer acceptance -->
<div class="modal {{ modals.get('acceptOffer') }}">
  <div class="modal-background" (click)="modals.close('acceptOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment accepter cette offre ?</h2>

      <button (click)="offerAcceptanceConfirmation('yes')" class="button is-success">Oui</button>
      <button (click)="offerAcceptanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('acceptOffer')"></button>
</div>

<!-- Offer declinance -->
<div class="modal {{ modals.get('declineOffer') }}">
  <div class="modal-background" (click)="modals.close('declineOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment refuser cette offre ?</h2>

      <button (click)="offerDeclinanceConfirmation('yes')" class="button is-danger">Oui</button>
      <button (click)="offerDeclinanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('declineOffer')"></button>
</div>

<!-- Counter offer -->
<div class="modal {{ modals.get('counterOffer') }}">
  <div class="modal-background" (click)="modals.close('counterOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Combien proposez-vous comme contre-offre ?</h2>

      <input class="input" type="number" [(ngModel)]="counterOfferAmount">

      <button (click)="modals.open('counterOfferConfirmation')" class="button is-success">Proposer cette contre-offre</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('counterOffer')"></button>
</div>

<!-- Counter offer confirmation -->
<div class="modal {{ modals.get('counterOfferConfirmation') }}">
  <div class="modal-background" (click)="modals.close('counterOfferConfirmation')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Etes-vous sûr(e) de vouloir proposer une contre-offre à {{ counterOfferAmount }}€ ?</h2>

      <button (click)="counterOfferConfirmation('yes')" class="button is-success">Oui</button>
      <button (click)="counterOfferConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('counterOfferConfirmation')"></button>
</div>
