<app-loading *ngIf="!loaded"></app-loading>

<div *ngIf="loaded" class="columns is-centered">
  <div class="column is-6">
    <div class="content">
      <h2 class="subtitle">Mes annonces</h2>
      <div id="notifications"></div>

      <div>
        <div class="content" *ngIf="runningSales && runningSales.length === 0">
          <div [innerHTML]=wording.EMPTY></div>

          <div class="content">
            <a routerLink="/product/create" class="button is-success">Commencer à vendre</a>
          </div>
        </div>

        <mat-accordion *ngIf="runningSales && runningSales.length > 0">
          <mat-expansion-panel *ngFor="let sale of saleManager.sortSalesByLastUpdate(runningSales)">
              <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon *ngIf="saleManager.hasNonTreatedBids(sale) || saleManager.hasNonAnsweredQuestions(sale)" class="section-icon new-bid" [icon]="['fas', 'bell']"></fa-icon>
                {{ sale.product.name }}
                <span class="tag is-info is-light small-text small-left-margin" *ngIf="sale.status === 'new'">&nbsp;En attente de validation</span>
                <span class="tag is-success is-light small-text small-left-margin" *ngIf="sale.status === 'online'">&nbsp;En ligne</span>
              </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                Prix de votre produit : {{ sale.product.reservePrice | currency:'full' }}€<br>

              </mat-panel-description>

              <!-- Questions about product -->
              <div class="content">
                <h2 class="subtitle">Questions posées</h2>

                <mat-accordion>
                  <mat-expansion-panel *ngFor="let question of sale.product.validQuestions">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ question.question }}
                      <span class="tag is-danger is-light small-text small-left-margin" *ngIf="!question.answer">&nbsp;Non répondu</span>
                      <span class="tag is-success is-light small-text small-left-margin" *ngIf="question.answer">&nbsp;Répondu</span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <span *ngIf="question.answer">
                      {{ question.answer }}
                    </span>

                    <button *ngIf="!question.answer" class="button is-danger is-small" (click)="currentQuestion=question; modals.open('answer-question')">Répondre à cette question</button>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <!-- Displayed when sale is running -->
              <div *ngIf="!saleManager.isClosed(sale)" class="content bids">
                <div class="content bid" *ngFor="let bid of bidManager.sortBidsByDate(sale.bids, 'decreasing')">
                  <div class="content">
                      Vous avez reçu une offre d'achat de<br>
                      <span class="amount">{{ bid.amount | currency:'full' }}€</span>

                    <div *ngIf="!bidManager.isClosed(bid)" class="field has-addons has-text-centered actions">
                      <p class="control choice">
                        <button (click)="modals.open('acceptOffer'); currentBid = bid" class="button is-dark is-small green action" title="Accepter l'offre">
                          <fa-icon [icon]="['fas', 'check']"></fa-icon>Accepter
                        </button>
                      </p>
                      <p class="control choice">
                        <button (click)="modals.open('counterOffer'); currentBid = bid; currentSale = sale; counterOfferAmount = (bid.amount / 100) + 1" class="button is-dark is-small yellow action" title="Faire une contre-offre">
                          <fa-icon [icon]="['fas', 'share']"></fa-icon>Négocier
                        </button>
                      </p>
                      <p class="control choice">
                        <button (click)="modals.open('declineOffer'); currentBid = bid" class="button is-dark is-small red action" title="Refuser l'offre">
                          <fa-icon [icon]="['fas', 'times']"></fa-icon>Refuser
                        </button>
                      </p>
                    </div>

                    <div *ngIf="bidManager.isClosed(bid)" class="content">
                      <div *ngIf="bidManager.isAccepted(bid)" class="content" [innerHTML]=wording.ACCEPTED></div>
                      <div *ngIf="bidManager.isDeclined(bid)" class="content" [innerHTML]=wording.DECLINED></div>
                      <div *ngIf="bidManager.isCounterOffer(bid)" class="content">
                        Votre <span class="counter-offer">contre-offre</span> de <span class="amount">{{ bid.counterOfferAmount | currency:'full' }}€</span> a bien été envoyée à l'acheteur.<br><br>
                        L'acheteur a les cartes en main : il peut accepter votre offre ou la refuser.<br>
                        S'il la refuse, pensez à lui faire une nouvelle contre-offre !
                      </div>
                    </div>

                    <div class="content bid-date has-text-left discreet-text">
                      <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                      {{ bid.updatedAt | date:'dd/MM/yyyy' }} à {{ bid.updatedAt | date:'HH:mm' }}
                    </div>
                  </div>
                </div>
              </div>

              <!-- If no bid has been placed yet -->
              <div *ngIf="!saleManager.hasBids(sale)"class="content bid">
                <div *ngIf="sale.status === 'new'" class="info bold" [innerHTML]=wording.VALIDATING></div>

                <div *ngIf="sale.status !== 'new'" [innerHTML]=wording.NO_PROPOSITION></div>
              </div>

              <a class="product-page" (click)="goToProductPage(sale.product.slug, sale.id)">Accéder à la page du produit</a>

              <div class="content bid-date has-text-left discreet-text">
                <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                {{ sale.createdAt | date:'dd/MM/yyyy' }} à {{ sale.createdAt | date:'HH:mm' }}
              </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<!-- ##### MODALS ##### -->

<!-- Offer acceptance -->
<div class="modal {{ modals.get('acceptOffer') }}">
  <div class="modal-background" (click)="modals.close('acceptOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment accepter cette offre ?</h2>

      <div class="content discreet-text" [innerHTML]=wording.ACCEPTING></div>

      <button (click)="offerAcceptanceConfirmation('yes'); updateBid(currentBid.id, 'accepted')" class="button is-success">Oui</button>
      <button (click)="offerAcceptanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('acceptOffer')"></button>
</div>

<!-- Offer declinance -->
<div class="modal {{ modals.get('declineOffer') }}">
  <div class="modal-background" (click)="modals.close('declineOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Voulez-vous vraiment refuser cette offre ?</h2>

      <div class="content discreet-text" [innerHTML]=wording.DECLINING></div>

      <button (click)="offerDeclinanceConfirmation('yes'); updateBid(currentBid.id, 'declined')" class="button is-danger">Oui</button>
      <button (click)="offerDeclinanceConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('declineOffer')"></button>
</div>

<!-- Counter offer -->
<div class="modal {{ modals.get('counterOffer') }}">
  <div class="modal-background" (click)="modals.close('counterOffer')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Quelle est votre contre-offre ?</h2>

      <div class="content discreet-text" [innerHTML]=wording.COUNTER_OFFERING></div>

      <input class="input" type="number" oninput="this.value=parseInt(this.value)|0" [(ngModel)]="counterOfferAmount">

      <button *ngIf="currentSale && counterOfferStatus()" (click)="checkCounterOfferInput()" class="button is-success addlittlespaceabove">Proposer une contre-offre à {{ counterOfferAmount }}€</button>
      <button *ngIf="currentSale && !counterOfferStatus()" class="button is-light addlittlespaceabove">Proposer une contre-offre à {{ counterOfferAmount }}€</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('counterOffer')"></button>
</div>

<!-- Counter offer confirmation -->
<div class="modal {{ modals.get('counterOfferConfirmation') }}">
  <div class="modal-background" (click)="modals.close('counterOfferConfirmation')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Etes-vous sûr(e) de vouloir proposer une contre-offre à {{ counterOfferAmount }}€ ?</h2>

      <button (click)="counterOfferConfirmation('yes'); updateBid(currentBid.id, 'counter-offer', counterOfferAmount)" class="button is-success">Oui</button>
      <button (click)="counterOfferConfirmation('no')" class="button is-light">Non</button>

    </div>
  </div>
  <button class="modal-close is-large addlittlespaceabove" aria-label="close" (click)="modals.close('counterOfferConfirmation')"></button>
</div>

<div class="modal {{ modals.get('answer-question') }}">
  <div class="modal-background" (click)="modals.close('answer-question')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Répondre à une question</h2>

      <div class="content discreet-text">
        Maximum {{ maxAnswerLength }} caractères.
      </div>

      <div *ngIf="currentQuestion" class="content">
        {{ currentQuestion.question }}
      </div>

      <div class="content">
        <textarea class="textarea" [maxlength]=maxAnswerLength [(ngModel)]="currentQuestion.answer"></textarea>
      </div>

      <div *ngIf="productManager.answerSent" class="notification is-success">
        Votre réponse a bien été envoyée !
      </div>

      <button *ngIf="!productManager.answerSent" class="button is-success" (click)="productManager.answerQuestion(currentQuestion.id, currentQuestion.answer)">Envoyer la réponse</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
