.box {
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.5em;
}

.addspacebelow {
  margin-bottom: 20px;
}

.removespacebelow {
  margin-bottom: 5px;
}

.shortline {
  margin-top: 2px;
  margin-bottom: 2px;
}

.shortpadding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.wrapped {
  word-break: break-all;
}

.no-overflow {
  white-space: normal;
  padding: 8px;
  height: auto;
}

.discreet-text {
  font-size: 0.8em;
  color: var(--MAT-GREY);
}
