<h1 class="title has-text-centered">Récapitulatif de votre commande</h1>

<div class="columns is-variable is-8 is-centered">

  <!-- General information -->
  <div class="column is-6">
    <app-product-summary [priceToPay]="priceToPay"></app-product-summary>
    <app-delivery-summary *ngIf="deliveryMethod === 'mondial-relay'"
      [relayId]="relayId"
      [relayCountry]="relayCountry">
    </app-delivery-summary>
    <app-hand-delivery *ngIf="deliveryMethod === 'hand'"></app-hand-delivery>
  </div>

  <!-- Side information -->
  <div class="column is-3">
    <app-information-summary
      (userEmitter)="getUser($event)"
      (recipientEmitter)="getRecipient($event)">
    </app-information-summary>
    <app-price-summary (priceToPayEvent)="getRealPriceToPay($event)"
      [deliveryMethod]="deliveryMethod">
    </app-price-summary>
    <app-conditions-of-sale (areConditionsAccepted)="checkConditionsAccepted($event)"></app-conditions-of-sale>
    <app-payment-call-to-action
      [areConditionsAccepted]="areConditionsAccepted"
      [sale]="sale"
      [user]="user"
      [recipient]="recipient"
      [bid]="bid"
      [relayCountry]="relayCountry"
      [relayId]="relayId"
      [priceToPay]="priceToPay"
      [deliveryMethod]="deliveryMethod">
    </app-payment-call-to-action>
    <app-payment-means-information></app-payment-means-information>
  </div>
</div>
