<fa-icon class="category-icon" [icon]="['fas', categoryIcon]"></fa-icon>
<h2 class="subtitle">
  {{ title }}
</h2>

<div class="content discreet-text">Lorem ipsum dolorsit amet, consectetur adipiscing elit</div>
<div class="in-line" *ngFor="let sale of sales | async">
  <div class="card">
    <div class="card-content">
      <img *ngIf="sale.product.mainImage" [src]="mediaBaseUri + sale.product.mainImage.path">
      <h2 *ngIf="sale.product.name.length < maxTitleSize" class="subtitle is-5 product-title">{{ sale.product.name }}</h2>
      <h2 *ngIf="sale.product.name.length > maxTitleSize" class="subtitle is-5 product-title" [title]=sale.product.name>{{ sale.product.name | slice:0:maxTitleSize }}...</h2>

      <div class="columns is-vcentered">
        <div class="column declined inline-mobile">
          {{ sale.product.reservePrice | currency:'full' }}€
        </div>

        <div class="column has-text-left has-text-centered-mobile inline-mobile">
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
          {{ sale.product.locality }}
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column inline-mobile">
          Mode de remise :
        </div>

        <div class="column has-text-left has-text-centered-mobile inline-mobile">
          <nav class="level inline-mobile">
            <div *ngIf="sale.product.toDeliver" class="level-item inline-mobile">
              <img class="delivery-icon" src="/assets/img/logo/mondial-relay-logo.png" title="Expédition via Mondial Relay">
            </div>

            <div class="level-item inline-mobile">
              <img class="delivery-icon" src="/assets/img/logo/hand-delivery-logo.png" title="Remise en mains propres">
            </div>
          </nav>
        </div>
      </div>

      <button class="button is-danger product-link">
        Voir le produit
      </button>
    </div>
  </div>
</div>

<!-- <div class="content has-text-centered">
  <button class="button is-danger is-outlined load-more no-overflow" (click)="loadMoreCategory('3')">Voir d'autres produits</button>
</div> -->
