<div class="box has-text-centered is-hidden-mobile">
    <buying-call-2-action [sale]="sale"></buying-call-2-action>
</div>

<div class="box has-text-centered has-background-grey-lighter">
    <author-information [sale]="sale"></author-information>
</div>

<div class="box has-text-centered is-hidden-mobile">
    <question-to-vendor></question-to-vendor>
</div>

<div class="box has-text-centered">
    <payment-information></payment-information>
</div>

<div class="box has-text-centered">
    <selling-call-2-action></selling-call-2-action>
</div>