@media screen and (min-width: 768px) {
  #general {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  #main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#sell {
  margin-top: 30px;
}

#frise {
  width: 100%;
  height: auto;
}
