<div id="main" class="content">
  <div id="general" class="columns is-centered is-vcentered">
    <div class="column is-4 has-text-right has-text-centered-mobile">
      <h1 class="title">
        Quelques clics et hop&nbsp;!<br>
        Votre stock est prêt à être vendu auprès de milliers d'acheteurs.
      </h1>

      <div class="content has-text-right is-hidden-mobile">
        <img height="50" width="50" src="/assets/img/logo/helmet.jpg">
        Pour les professionnels du secteur,<br>
        profitez de 3 mois gratuits, sans condition.
      </div>
    </div>

    <div class="column is-4 has-text-centered">
      <div class="content">
        <button class="button is-warning is-large" routerLink="/product/create/announcement-title">Commencer à vendre &#8594;</button>
      </div>
    </div>
  </div>

  <div class="content has-text-centered">
    <button id="sell" class="button is-light no-overflow" routerLink="/product/create/announcement-title">Je suis particulier et je veux vendre aussi&nbsp;!</button>
  </div>
</div>

<footer class="content addgiantspaceabove">
  <img id="frise" height="50" width="800" src="/assets/img/misc/frise_onboarding.jpg">
</footer>
