<!-- [Modal] Know more about products state -->
<div class="modal {{ modals.get('knowMore') }}">
    <div class="modal-background" (click)="closeModal('knowMore')"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="subtitle">Nous différencions 5 états de produits :</h2>

            <div class="content">
            <ol type="1">
                <li>Comme neuf</li>
                <li>Bon</li>
                <li>Correct</li>
                <li>Mauvais</li>
                <li>Très mauvais</li>
            </ol>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeModal('knowMore')"></button>
</div>

<!-- [Modal] Google maps localisation -->
<div class="modal {{ modals.get('localisation') }}">
    <div class="modal-background" (click)="closeModal('localisation')"></div>
    <div class="modal-content">
        <div class="box">
            <figure class="image">
                <img src="assets/img/product/maps-preview.png">
            </figure>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeModal('localisation')"></button>
</div>
