.amount {
  font-weight: bold;
}

.accepted {
  color: var(--KTKP-GREEN);
  font-weight: bold;
}

.declined {
  color: var(--KTKP-RED);
  font-weight: bold;
}

.counter-offer {
  color: var(--KTKP-BLUE-DARKER);
  font-weight: bold;
}

#proposition-price {
  display: inline-flex;
  margin-left: 10px;
  width: 100px;
}

#proposition-price fa-icon {
  font-size: 0.8em;
}

fa-icon.return {
  margin-right: 5px;
}

#info {
  background-color: var(--KTKP-BLUE);
  padding: 10px;
  color: var(--KTKP-BLUE-DARKER);
}

#info fa-icon {
  margin-right: 5px;
}

#devise {
  color: black;
}
