<h2 class="subtitle has-text-centered bold">Produit victime de son succès</h2>

<div class="columns is-centered">
  <div class="column is-6">

    <div id="desktop" class="box has-text-centered">

      <div class="content">
        <img src="https://media.giphy.com/media/l2JehQ2GitHGdVG9y/giphy.gif">
      </div>

      <h2 class="subtitle bold">Désolé !</h2>

      <div class="content bold">
        Le produit qui vous intéressait n'est plus disponible :'(
      </div>

      <div class="content discreet-text">
        Néanmoins n'hésitez pas à <a class="link bold" routerLink="/home">en voir d'autres qui pourraient vous plaire</a> ;-)
      </div>
    </div>
  </div>
</div>
