<div class="columns has-text-centered">
    <div class="column is-two-thirds has-text-centered">
        <div class="columns has-text-centered">
            <div class="column">
                <div class="card is-shady">
                    <div class="card-content">
                        <img src="../../assets/img/tool1.jpg">
                        <h2 class="subtitle is-5">Titre du produit</h2>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card is-shady">
                    <div class="card-content">
                        <img src="../../assets/img/tool2.jpg">
                        <h2 class="subtitle is-5">Titre du produit</h2>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card is-shady">
                    <div class="card-content">
                        <img src="../../assets/img/tool3.jpg">
                        <h2 class="subtitle is-5">Titre du produit</h2>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card is-shady">
                    <div class="card-content">
                        <img src="../../assets/img/tool4.jpg">
                        <h2 class="subtitle is-5">Titre du produit</h2>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card is-shady">
                    <div class="card-content">
                        <img src="../../assets/img/tool5.jpg">
                        <h2 class="subtitle is-5">Titre du produit</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>