<div class="content has-text-left">
    <div class="field">
        <label class="label">*{{ step }}. E-mail</label>
        <input class="input" type="email" placeholder="(ex : marc.dutroux@gmailaucul.com)" required [(ngModel)]="user.userProfile.email" #name="ngModel">
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="box has-background-danger has-text-white">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>