<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <p class="control has-icons-left">
            <input id="name" name="name" class="input" (keydown)="onKey($event)" type="text" placeholder="(ex : DarkSasukedu78)" [(ngModel)]="user.username" #name="ngModel" required minlength="4">
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="content error has-text-left">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>

    <div *ngIf="name.errors.minlength">
        Le nom d'utilisateur doit contenir au moins 4 caractères !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>