  <div class="box">
    <h2 class="subtitle section-title has-text-centered has-text-weight-bold">Vos informations</h2>

    <!-- DESKTOP Display-->
    <div class="content is-hidden-touch">
      <div class="columns desktop-field has-text-left">
        <div class="column is-1 shortpadding">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </div>
        <div class="column shortpadding">
          {{ 'Lenne' | uppercase }} Sidonie
        </div>
      </div>

      <div class="columns desktop-field has-text-left shortline">
        <div class="column is-1 shortpadding">
          <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
        </div>
        <div class="column shortpadding">
          06.00.00.00.00
        </div>
      </div>

      <div class="columns desktop-field has-text-left shortline">
        <div class="column is-1 shortpadding">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </div>
        <div class="column shortpadding">
          sidonie.lenne@gmail.com
        </div>
      </div>

      <div class="columns desktop-field has-text-left">
        <div class="column is-1 shortpadding">
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
        </div>
        <div class="column shortpadding">
          177 boulevard du Parc,<br>
          77700 Coupray
        </div>
      </div>
    </div>

    <!-- TABLET Display -->
    <div class="content is-hidden-desktop">

      <div class="content has-text-centered shortline">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </div>
        <div class="content tablet-field">
          {{ 'Lenne' | uppercase }} Sidonie
        </div>
      </div>

      <div class="content has-text-centered shortline">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
        </div>
        <div class="content tablet-field">
          06.00.00.00.00
        </div>
      </div>

      <div class="content has-text-centered shortline">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </div>
        <div class="content tablet-field">
          sidonie.lenne@gmail.com
        </div>
      </div>

      <div class="content has-text-centered shortline">
        <div class="content tablet-field">
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
        </div>
        <div class="content tablet-field">
          177 boulevard du Parc,<br>
          77700 Coupray
        </div>
      </div>
    </div>

    <div class="content has-text-centered">
      <button class="button is-danger is-outlined no-overflow is-hidden-touch is-desktop">
        Modifier mes informations
      </button>

      <button class="button is-danger is-outlined no-overflow is-hidden-desktop is-mobile">
        Modifier mes informations
      </button>

      <div class="content discreet-text">
        Ces informations restent confidentielles
      </div>
    </div>
</div>
