mat-expansion-panel {
    background: white;
    box-shadow: none !important;
    color: black;
}

mat-panel-title {
    color: var(--KTKP-RED);
    font-weight: bold;
}

.answer {
    color: grey;
}
