<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="(ex : 94230)" [(ngModel)]="user.userProfile.address.zipcode" #name="ngModel" required minlength=5 maxlength=5>
            <span class="icon is-left">
                <fa-icon [icon]="['fas', 'globe-europe']"></fa-icon>
            </span>
        </p>
    </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="content error has-text-left">
    <div *ngIf="name.errors.required">
        Le champ est requis !
    </div>

    <div *ngIf="name.errors.minlength">
        Un code postal est composé de 5 chiffres !
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>