<div class="content">
  <h2 class="subtitle">Mes achats</h2>

  <div class="content" *ngIf="buyerOrders && buyerOrders.length === 0">
    Vous n'avez acheté aucun produit pour le moment :'-(

    <div class="content">
      <a routerLink="/home" class="button is-danger">Consulter nos produits</a>
    </div>
  </div>

  <mat-accordion *ngIf="buyerOrders && buyerOrders.length > 0">
    <mat-expansion-panel *ngFor="let order of buyerOrders">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="content product-title">
            {{ order.sale.product.name }}
          </div>

          <div class="content order-date has-text-right discreet-text">
            {{ order.createdAt | date:'dd-MM-yyyy'}}
          </div>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Commande N°{{ order.id }}
        </mat-panel-description>

        <!-- If Hand Delivery -->
        <div *ngIf="order.shipMethod === 'HandDelivery'" class="content bid">
          <h2 class="panel-title has-text-centered">Votre commande est validée !</h2>

          <div class="content has-text-centered">
            Il n'y a plus qu'à <span class="bold">contacter le vendeur</span> grâce aux informations ci-dessous :
          </div>

          <div class="seller-info box has-text-centered">
            <div class="columns is-vcentered">
              <div class="column">
                <div class="content">
                  <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                  {{ order.sale.seller.userProfile.lastname | uppercase }} {{ order.sale.seller.userProfile.firstname }}
                </div>
              </div>

              <div class="column">
                <div class="content">
                  <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                  {{ order.sale.seller.userProfile.email }}
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="content">
                  <fa-icon class="icon" [icon]="['fas', 'phone-alt']"></fa-icon>
                  {{ order.sale.seller.userProfile.phone1 | phone }}
                </div>
              </div>

              <div class="column">
                <div class="content">
                  <fa-icon class="icon" [icon]="['fas', 'home']"></fa-icon>
                  {{ order.sale.seller.userProfile.mainAddress.zipcode }} {{ order.sale.seller.userProfile.mainAddress.city }}
                </div>
              </div>
            </div>
          </div>

          <div class="content has-text-centered">
            <button class="button order-reception is-success">
              <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
              Je confirme la réception du colis
            </button>
          </div>

          <div class="columns">
            <div class="column">
              <a class="link-normal" (click)="goToProductPage(order)">Voir le produit</a>
            </div>

            <div class="column">
              <a class="link-normal" (click)="currentOrder = order; modals.open('order-overview')">Voir le résumé de ma commande</a>
            </div>
          </div>
        </div>

        <!-- If Mondial Delivery -->
        <div *ngIf="order.shipMethod === 'RelayShip'" class="content">
          <div class="columns has-text-centered">
            <div class="column">
              <a class="link-normal" (click)="goToProductPage(order)">Voir le produit</a>
            </div>

            <div class="column">
              <a (click)="currentOrder = order; modals.open('order-overview')" class="link-normal">Voir le résumé de la commande</a>
            </div>
          </div>

          <div class="content has-text-centered">
            <h2 class="panel-title">Votre commande est validée !</h2>
          </div>

          <div class="content has-text-centered">
            Il n'y a plus qu'à attendre son arrivée.
          </div>

          <div *ngIf="order.mrExpedition" class="content has-text-centered">
            Votre numéro de suivi est le<br>
            <span class="bold">{{ order.mrExpedition }}</span>
          </div>

          <div class="content has-text-centered">
            <a class="link-normal">Suivre mon colis</a>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- MODALS -->

<!-- Order Overview -->
<div *ngIf="currentOrder !== null" class="modal {{ modals.get('order-overview') }}">
  <div class="modal-background" (click)="modals.close('order-overview')"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle has-text-centered">Résumé de votre commande</h2>

      <div class="columns">
        <div class="column">
          <h2 class="small-title">Montant</h2>

          <!-- Price -->
          <div class="columns">
            <div class="column has-text-left-tablet has-text-centered-mobile bold">
              {{ currentOrder.sale.product.name }}
            </div>

            <div class="column has-text-right-tablet has-text-centered-mobile">
              {{ currentOrder.amountPrice | currency:'full' }}€
            </div>
          </div>

          <!-- Fees -->
          <div class="columns">
            <div class="column has-text-left-tablet has-text-centered-mobile bold">
              Commission
            </div>

            <div class="column has-text-right-tablet has-text-centered-mobile">
              {{ getCommissionFees(currentOrder) | currency:'full' | number:'1.2-2'}}€
            </div>
          </div>

          <!-- Shipping Fees -->
          <div *ngIf="currentOrder.shipMethod === 'RelayShip'" class="columns">
            <div class="column has-text-left-tablet has-text-centered-mobile bold">
              Livraison
            </div>

            <div class="column has-text-right-tablet has-text-centered-mobile">
              {{ getShippingFees(currentOrder) | currency:'full' | number:'1.2-2' }}€
            </div>
          </div>

          <!-- Total -->
          <div class="columns">
            <div class="column has-text-left-tablet has-text-centered-mobile bold overline-thick">
              Total
            </div>

            <div class="column has-text-right-tablet has-text-centered-mobile overline-thick">
              {{ getTotalPrice(currentOrder) | currency:'full' | number:'1.2-2'}}€
            </div>
          </div>
        </div>

        <div class="column">
          <h2 class="small-title">Coordonnées</h2>

          <!-- Name -->
          <div class="columns">
            <div class="column has-text-centered">
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
              {{ currentOrder.recipient.lastname | uppercase }} {{ currentOrder.recipient.firstname }}
            </div>
          </div>

          <!-- Phone number -->
          <div class="columns">
            <div class="column has-text-centered">
              <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
              {{ currentOrder.recipient.phone | phone }}
            </div>
          </div>

          <!-- Email -->
          <div class="columns">
            <div class="column has-text-centered">
              <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
              {{ currentOrder.recipient.email }}
            </div>
          </div>

          <!-- Address -->
          <div class="columns">
            <div class="column has-text-centered">
              <fa-icon [icon]="['fas', 'home']"></fa-icon>
              {{ currentOrder.recipient.addLine1 }}<br>
              {{ currentOrder.recipient.zipcode }} {{ currentOrder.recipient.city }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('order-overview')"></button>
</div>
