<div class="content">
  <h2 class="subtitle">Mes offres confirmées</h2>

  <div class="content" *ngIf="purchases.length === 0">
    Vous n'avez fait aucune offre pour le moment :'-(

    <div class="content">
      N'hésitez pas à <a routerLink="/home" class="accepted">consulter nos produits ici !</a>
    </div>
  </div>

  <mat-accordion *ngIf="purchases.length > 0">
    <mat-expansion-panel *ngFor="let purchase of purchases">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon class="section-icon" [icon]="['fas', 'tools']"></fa-icon>
          {{ purchase.productName }}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Prix de réserve : {{ purchase.reservePrice | currency:'full' }}€
        </mat-panel-description>
          <div *ngIf="purchase.isAccepted" class="content bid">
            <fa-icon class="choice accepted" [icon]="['fas', 'check-circle']"></fa-icon>
            Félicitations !<br><br>
            Votre offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> a été <span class="accepted">acceptée</span>. ;-)<br>
            Rendez-vous <a (click)="goToRelayPoint(purchase)" class="accepted">ici</a> pour finaliser la transaction.

            <div (click)="modals.open('purchase-explanation')" class="content pointed">
              <fa-icon class="info-icon" [icon]="['fas', 'info-circle']"></fa-icon> <span style="text-decoration: underline;">Comment ça se passe ?</span>
            </div>
          </div>
          <div *ngIf="purchase.isAccepted === false" class="content bid">
            <fa-icon class="choice declined" [icon]="['fas', 'times-circle']"></fa-icon>
            Quel dommage !<br><br>
            Votre offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> a été <span class="declined">refusée</span>. :-(<br>
            Vous ne pouvez plus faire de proposition mais vous pouvez toujours acheter le produit au prix de réserve. :-)
          </div>
          <div *ngIf="purchase.counterOfferAmount !== null" class="content bid">
            <fa-icon class="choice counter-offer" [icon]="['fas', 'share']"></fa-icon>
            On y arrive !<br><br>
            Votre offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> a été <span class="counter-offer">contre-proposée à {{ purchase.counterOfferAmount | currency:'full' }}€</span>.<br>
            Si elle vous convient, rendez-vous <a (click)="goToRelayPoint(purchase)" class="accepted">ici</a> pour finaliser la transaction.

            <div (click)="modals.open('purchase-explanation')" class="content pointed">
              <fa-icon class="info-icon" [icon]="['fas', 'info-circle']"></fa-icon> <span style="text-decoration: underline;">Comment ça se passe ?</span>
            </div>
          </div>
          <div *ngIf="purchase.isClosed === null" class="content bid">
            <fa-icon class="choice waiting-icon" [icon]="['fas', 'stopwatch']"></fa-icon>
            Offre de <span class="amount">{{ purchase.bidAmount | currency:'full' }}€</span> envoyée !<br><br>
            En attente d'une réponse de la part du vendeur.
          </div>
        <a class="product-page" (click)="goToProductPage(purchase)">Accéder à la page du produit</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
