<div class="content">
  <h2 class="subtitle">Mes offres confirmées</h2>

  <div class="content" *ngIf="purchases.length === 0">
    Vous n'avez acheté aucun produit pour le moment :'-(

    <div class="content">
      N'hésitez pas à <a routerLink="/home" class="accepted">consulter nos produits ici !</a>
    </div>
  </div>

  <mat-accordion *ngIf="purchases.length > 0">
    <mat-expansion-panel *ngFor="let purchase of purchases">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon class="section-icon" [icon]="['fas', 'tools']"></fa-icon>
          {{ purchase.productName }}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
        </mat-panel-description>

        <h2 class="subtitle has-text-centered">Votre commande est validée !</h2>
        <a class="product-page" (click)="goToProductPage(purchase)">Accéder à la page du produit</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
