<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <form *ngIf="form" [formGroup]="form">
      <p class="control">
        <input id="lastname" class="input no-border"
        type="text"
        (keydown)="onKey($event)"
        placeholder="{{ placeholder }}"
        [(ngModel)]="user.userProfile.lastname"
        formControlName="lastname"
        [ngClass]="{'is-invalid': controls.lastname.errors }">
      </p>
    </form>

    <!-- Errors display -->
    <div *ngIf="controls.lastname.errors" class="invalid-feedback has-text-centered" [ngClass]="{'is-invalid': controls.lastname.errors }">
      <div class="error" *ngIf="controls.lastname.errors.required">Le nom est requis</div>
    </div>
  </div>
</div>

<app-navigation
  [controls]=controls.lastname.errors
  [data]=formDataService
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
