<h2 class="subtitle is-5 has-text-weight-bold">A propos du vendeur</h2>

<article class="media">
    <div class="media-content has-text-centered">
        <h2 class="subtitle is-6 has-text-weight-bold">{{ sale.seller.userProfile.anonFirstName }} {{ sale.seller.userProfile.anonLastName }}</h2>

        <div *ngIf="sale.seller.nbOpenSales > 0" class="content">
          Cet article vous plaît ? Ce vendeur en propose d'autres !<br><br>
          <a id="vendor-products" (click)="goToSellerProducts()" class="has-text-danger">Voir les {{ sale.seller.nbOpenSales }} articles à vendre</a>
        </div>
    </div>
</article>

<article class="media">
    <div class="media-content">
        <div *ngIf="sale.product.warrantyDuration > 0" class="content has-text-centered">
          <fa-icon [icon]="['fas', 'hourglass-half']"></fa-icon> En achetant chez ce vendeur professionnel, le produit est garanti <span class="has-text-weight-bold">{{ sale.product.warrantyDuration }} mois</span>.
        </div>
    </div>
</article>
