<div class="box">
  <div class="columns">
    <div class="column">
      <h2><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon> Message important</h2>
      <p>
        Ce site est le reste d'une aventure réalisée par une start-up de 4 personnes entre 2020 et 2021. Le projet n'ayant pas décollé il a dû être arrêté, néanmoins nous le laissons en ligne pour le plaisir de se remémorer la réalisation d'un tel projet.
      </p>
      <p>
        Il n'est par conséquent <strong>plus possible d'acheter, de vendre ou d'estimer</strong> quelque produit que ce soit sur ce site.
      </p>
    </div>
  </div>
</div>
