<div class="box cta">
    <div class="columns">
        <div class="column">
          {{ brandName }} ouvre ses portes ! Envie de nous aider ?
          Vous avez un problème ? <a (click)="openModal()">Venez vite nous en parler !</a>
        </div>

        <div class="column has-text-right is-hidden-mobile">
          <img id="french-flag" src="/assets/img/icon/french-flag.svg"> {{ brandName }} est fière d'être une start-up française. Cocorico ! #FrenchTech
        </div>
    </div>
</div>

<app-contact-form
  [click]=click>
</app-contact-form>
