<div class="box cta">
    <div class="columns">
        <div class="column">
          {{ brandName }} ouvre ses portes ! Envie de nous aider ?
          Vous avez un problème ? <a (click)="modals.open('contact-form')">Venez vite nous en parler !</a>
        </div>

        <div class="column has-text-right is-hidden-mobile">
          <img id="french-flag" src="/assets/img/icon/french-flag.svg" title="îcone du drapeau français" alt="îcone du drapeau français" height="15" width="auto"> {{ brandName }} est fière d'être une start-up française. Cocorico ! #FrenchTech
        </div>
    </div>
</div>

<div class="modal {{ modals.get('contact-form') }}">
  <div class="modal-background" (click)="modals.close('contact-form')"></div>
  <div class="modal-content">
    <div class="box">
      <app-contact-form></app-contact-form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('contact-form')"></button>
</div>
