.box {
  background-color: var(--KTKP-YELLOW);
  font-size: 12px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  box-shadow: none;
}

a, a:link, a:visited {
  text-decoration: underline;
  color: var(--KTKP-BLUE-DARKER);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}
