<div id="general-terms" class="content">
  <h1 class="title">CGVU</h1>

  <div class="content">
    Les présentes Conditions Générales de Vente et d'Utilisation (ci-après "CGVU") régissent les rapports entre :
    la Société et les Utilisateurs du site www.outilly.com
    les Utilisateurs eux-mêmes dans le cadre de l'utilisation du site
    Elles sont proposées par la société L'Outillerie (ci-après "la Société"), SAS au capital de 1 000 euros, inscrite au Registre du commerce et des sociétés de Pontoise sous le numéro 879 811 784, représentée par Christophe VINCENT. Son numéro de téléphone non surtaxé est le 0761033212, son adresse de courrier électronique est bonjour@outilly.com et son numéro individuel d'identification TVA intracommunautaire FR83879811784.

  </div>

  <div class="content">
    La société est propriétaire et éditeur du site internet https://www.outilly.com/ (ci-après "la Plateforme"). La Plateforme est hébergée par o2switch, société du groupe Zohey SAS au capital de 100 000 euros, dont le siège est situé au 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand (Siret : 510 909 80700024)

    <div class="content">
      <ul>
        <li>Directeur de la publication : Christophe VINCENT</li>
        <li>Président : Christophe VINCENT</li>
        <li>Directeur général : Yannick PIAULT</li>
      </ul>
    </div>

    <div class="content">
      Avant toute utilisation de la Plateforme, l'Utilisateur doit s'assurer qu'il dispose des moyens techniques et informatiques lui permettant d'utiliser la Plateforme et de commander les services et les produits sur la Plateforme, et que son navigateur permet un accès sécurisé à la Plateforme. L'Utilisateur doit également s'assurer que la configuration informatique de son matériel/équipement est en bon état et ne contient pas de virus.
    </div>
  </div>

  <h1 class="title">DÉFINITIONS</h1>

  <div class="content">
    <ul>
      <li><span class="bold">Société</span> : L'Outillerie, société par actions simplifiées représentante de la Plateforme.</li>
      <li><span class="bold">Plateforme</span> : site internet accessible via l'URL https://www.outilly.com/.</li>
      <li><span class="bold">Utilisateur</span> : statut initial de tout visiteur authentifié ou non-authentifié sur la Plateforme</li>
      <li><span class="bold">Compte</span> : moyen d'être identifié en tant que personne physique ou morale sur la Plateforme au travers d'un identifiant et d'un mot de passe.</li>
      <li><span class="bold">Client</span> : Utilisateur authentifié via son Compte et apte à enchérir.</li>
      <li><span class="bold">Vendeur</span> : Utilisateur authentifié via son Compte comme Client et ayant la possibilité technique de soumettre à la vente un Lot sur la Plateforme.</li>
      <li><span class="bold">Commande</span> : processus de transaction commerciale pour un Lot entre un Client et un Vendeur.</li>
      <li><span class="bold">Lot ou Annonce</span> : produit mis en vente ou vendu par un Vendeur.</li>
      <li><span class="bold">Mondial Relay</span> : société tierce proposant des services de livraison aux particuliers en points relais.</li>
      <li><span class="bold">MangoPay</span> : société tierce proposant des services de paiement sécurisé.</li>
      <li><span class="bold">Commission / Frais de service</span> : pourcentage perçu sur la vente des Lot(s) par la Société.</li>
    </ul>
  </div>

  <h1 class="title">APPLICATION ET OPPOSABILITÉ DES CGVU</h1>

  <div class="content">
    Les présentes CGVU ont pour objet de définir l'ensemble des conditions dans lesquelles la Société met à disposition des Clients et des Vendeurs un service d'intermédiation pour organiser une vente d'un ou plusieurs Lot(s) via la Plateforme. Elles s'appliquent donc à toute Commande ("Commande") de produits et/ou services passée sur la Plateforme par le Client.
    Le Client déclare avoir pris connaissance et accepté les présentes CGVU avant la passation de sa Commande.
    Le Vendeur déclare avoir pris connaissance et accepté les présentes CGVU avant la mise en ligne de son Annonce.
    La validation de l'Annonce ou de la Commande vaut donc acceptation de ces CGVU. Celles-ci sont régulièrement mises à jour, les CGVU applicables sont celles en vigueur sur la Plateforme à la date de passation de la Commande ou la validation de l'Annonce.
    Toute condition contraire posée par le Client ou le Vendeur serait donc, à défaut d'acceptation expresse, inopposable à la Société quel que soit le moment où elle aura pu être portée à sa connaissance.
    Le fait que la Société ne se prévale pas à un moment donné d'une quelconque disposition des présentes CGVU, ne peut être interprété comme valant renonciation à se prévaloir ultérieurement d'une quelconque disposition desdites CGVU.
  </div>

  <h1 class="title">ACCÈS A LA PLATEFORME ET GARANTIE DE SERVICE</h1>

  <div class="content">
    <ul>
      <li>2.1 La majorité des contenus et services de la Plateforme est proposée en français.</li>
      <li>2.2 La Plateforme est accessible 24/24 heures et 7/7 jours.</li>
      <li>2.3 Elle peut être inaccessible en cas de force majeure, soit à cause de tiers, soit pour cause d'une ou plusieurs interventions de maintenance utiles et impératives au bon fonctionnement de la Plateforme. La Société s'efforcera d'avertir les Utilisateurs d'une interruption au travers, par exemple, d'une notification visible en page d'accueil.</li>
      <li>2.4 Le Société ne peut en aucun cas être tenue pour responsable de la fiabilité de la transmission des données, des temps d'accès, des éventuelles restrictions d'accès sur le réseau Internet ou les réseaux qui lui sont connectés.</li>
      <li>2.5 La responsabilité de la Société ne peut être engagée en cas d'interruption des réseaux d'accès à la Plateforme, d'indisponibilité totale ou partielle de la Plateforme résultant notamment de l'opérateur de télécommunications, en cas d'erreur de transmission ou de problèmes liés à la sécurité des transmissions, en cas de défaillance notamment du matériel de réception.</li>
      <li>2.6 L'accès à la Plateforme nécessite un accès à internet au débit suffisant et l'utilisation d'un terminal d'accès (ordinateur, tablette, mobile ou autres) adapté (les éventuels frais liés à l'accès à internet et à la politique tarifaire de votre fournisseur d'accès sont à votre charge).</li>
      <li>2.7 La Société n'est pas responsable si vous ne parvenez pas à vous connecter sur la Plateforme ou celle d'un de ses fournisseurs, du fait de tout problème technique ou de tout problème lié à l'encombrement du réseau ou à l'utilisation d'un débit inapproprié.</li>
      <li>2.8 L'Utilisateur s'engage à ne pas porter atteinte à la sécurité de la Plateforme. A cette fin, il s'engage à ne pas procéder à tout accès et/ou maintien frauduleux dans le système d'information de la Société. L'Utilisateur ne peut non plus porter atteinte ou entraver le système d'information de la Société. A défaut, la Société pourra prendre à son encontre toute mesure et notamment engager sa responsabilité pénale au titre des articles 323-1 et suivants du Code pénal.</li>
      <li>2.9 En cas de Commandes simultanées, il se peut que la requête ou Commande d'un Client potentiel puisse être invalidée par une autre en cours de traitement et non encore affichée.</li>
    </ul>
  </div>

  <h1 class="title">FONCTIONNEMENT DU SERVICE</h1>

  <h2 class="subtitle is-5">SERVICE D'ACHAT ET DE REVENTE CLASSIQUE</h2>

  <div class="content">
    <ul>
      <li>1.1.1 Sur la Plateforme, l'Utilisateur doit créer un compte pour passer une Commande. Ce compte ne peut être valide que si les informations suivantes sont renseignées : nom, prénom, date de naissance, pays, statut, adresse postale, numéro de téléphone, adresse de messagerie et mot de passe.</li>
      <li>1.1.2 L'Utilisateur s'engage à communiquer des informations exactes.</li>
      <li>1.1.2.1 L'Utilisateur s'engage à ce que les informations ne constituent pas l'objet d'une tromperie ou d'une usurpation. Ces informations ne peuvent pas non plus être injurieuses vis-à-vis d'autrui et ne pourront pas faire référence à une symbolique incitant à la violence, la discrimination et la haine raciale ou évoquant des personnes ou événements liés à des actes de guerre, terrorisme… Enfin, elles ne pourront pas non plus être constituées d'informations relatives à des coordonnées quelconques (numéro de téléphone, adresse postale, adresse de messagerie électronique). Le cas échéant, la Société se réserve le droit, après sommation facultative, de supprimer le compte de l'Utilisateur.</li>
      <li>1.1.2.2 Si l'Utilisateur est professionnel, il est tenu de définir son statut comme tel lors de son inscription en renseignant impérativement le nom de sa société et son numéro de SIRET. La Société se réserve le droit, après sommation facultative, de suspendre le compte de l'Utilisateur tant que son statut n'est pas mis à jour.</li>
      <li>1.1.3 Pour s'inscrire, l'Utilisateur doit impérativement être majeur sans quoi le formulaire d'inscription ne peut être validé. La Société ne peut en être tenue pour responsable le cas échéant. Une restriction technique ne permet pas aux mineurs de s'inscrire : il s'agit d'un délit de faux et d'usage de faux puni par la loi.</li>
      <li>1.1.4 Un seul et même compte peut être attribué par personne, physique ou morale.</li>
      <li>1.1.5 Pour chaque Annonce, pendant la période de vente, le Client est en mesure d'acheter le Lot au prix indiqué par le Vendeur.</li>
      <li>1.1.6 Le Client est également en mesure de faire une offre chiffrée au Vendeur inférieure au prix indiqué. Le montant de cette offre est techniquement limité par la Plateforme à un taux prédéfini.</li>
      <li>1.1.7 Le Vendeur peut alors accepter ou refuser cette offre, ou bien effectuer une nouvelle contre-proposition chiffrée. Cette contre-proposition est alors définitive et sans limite de durée : le Client peut l'accepter ou la refuser, sans la possibilité de la négocier à nouveau. La contre-proposition expire dès lors que le ou les Lot(s) sont vendus à autrui.</li>
      <li>1.1.8 Lorsqu'un Client passe Commande, l'Annonce relative à cette Commande est clôturée. L'Annonce est alors pourvue d'une mention significative.</li>
      <li>1.1.9.1 Chaque nouvelle Offre émise par le Client ou Contre-proposition émise par le Vendeur ne confère ni à l'un ni à l'autre un droit de priorité sur la Commande. Ainsi, par exemple, si un Client reçoit une contre-proposition du Vendeur mais qu'un autre Client passe sa Commande au prix initial en même temps auprès de ce Vendeur, c'est ce dernier Client qui obtient la primeur de la Commande.</li>
      <li>1.1.9.2 Une Offre émise par un Client sur un Lot ne peut pas être annulée.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">PAIEMENT</h2>

  <div class="content">
    <div class="content">
      Outilly.com sécurise chaque transaction passée sur sa Plateforme grâce à son prestataire de paiement MangoPay. Cliquez ici pour télécharger ses Conditions Général d'Utilisation.
    </div>

    <div class="content">
      <ul>
        <li>3.1.1 Pour passer une Commande, le Client accepte de renseigner ses coordonnées bancaires.</li>
        <li>3.1.2 Le paiement fonctionne au travers d'un processus de pré-autorisation. Le Client enregistre ainsi ses coordonnées bancaires et autorise la Société à effectuer une pré-autorisation.</li>
        <li>3.2.1 Les coordonnées bancaires ne sont jamais enregistrées sur la Plateforme ou par la Société.</li>
        <li>3.2.2 Le montant total ainsi débloqué est transféré du « eWallet » Client au « eWallet » Vendeur par le biais du service de paiement MangoPay. La somme sera débloquée et transférable sur le compte bancaire du Vendeur dans un délai maximum de vingt et un (21) jours si aucun litige sur le transport et/ou la conformité du produit n'est ouvert dans ce délai.</li>
        <li>3.2.3.1 Pour que la somme soit débloquée et transférable sur le compte bancaire du Vendeur, il doit impérativement renseigner une pièce d'identité valide ainsi qu'un Relevé d'Identité Bancaire valide. Lors qu'il dispose du statut professionnel, il doit de surcroît renseigner le document K-BIS de sa société datant de mois de 3 mois et le document des statuts constitutifs de son entreprise.</li>
        <li>3.2.3.2 Le traitement de ces documents par notre prestataire de paiement MangoPay est gratuit pour les Vendeurs disposant du statut particulier et payant à hauteur de 2,50€ pour chaque nouveau traitement des documents d'un Vendeur disposant du statut professionnel. Pour ces derniers, une facturation peut être appliquée dans le cas où le traitement nécessite d'être à nouveau effectué pour cause d'invalidité des documents traités.</li>
        <li>3.2.3.3 Ces documents et informations sont provisoirement hébergés par la Plateforme afin que notre prestataire de paiement MangoPay effectue la vérification des pièces justificatives. Une fois validées ou déclinées, les documents et informations sont effacées de la base de données et des espaces de stockage de la Plateforme.</li>
        <li>3.3 Tous les prix sont exprimés en TTC (Toutes Taxes Comprises). Toute TVA suite à la Commande d'un Client ne peut être récupérée par ce dernier.</li>
        <li>3.4.1 En cas de litige, le Vendeur et le Client sont tenus de se référer aux présentes conditions d'utilisation.</li>
        <li>3.4.2 Si le Client n'a pas reçu les Lots payés ou pour toute autre raison dans un délai de dix-huit (18) jours après validation de sa Commande, il est tenu dans ce délai d'en informer la Société afin d'ouvrir un litige.</li>
        <li>3.6 Dans le cas où le Client manque à ses obligations quant aux paiements dus, et après sommation voire mise en demeure de la Société, celle-ci peut remettre la créance en recouvrement, auquel cas les différents frais extrajudiciaires que la Société sera en mesure d'exposer en raison du retard de paiement sont à la charge du Client. Les frais concernés sont établis selon la Loi sur les normes des frais de recouvrement extrajudiciaires.</li>
        <li>3.7 La Société peut lancer une procédure de recouvrement si le Client ne donne aucune suite au premier avertissement de mise en demeure.</li>
        <li>3.8 L'ensemble des frais juridiques engagés par la Société dans le contexte du défaut de paiement incombe au Client.</li>
        <li>3.9.1 Le Vendeur ne peut tenir la Société d'encaisser le montant dû dans le cas où le Client a manqué à son obligation de paiement sur fondement du paragraphe.</li>
        <li>3.9.2 La Société n'est pas tenue de procéder au recouvrement du montant de la vente et peut en informer le Vendeur qui dispose alors, dans ce cas de figure uniquement, du droit d'annuler le contrat de vente sans qu'une mise en demeure soit nécessaire. La Société peut alors décider de procéder au remboursement au Vendeur de la commission dans le cas où il en aurait préalablement réglée une.</li>
        <li>3.9.3 Toute transaction effectuée en-dehors de la Plateforme et par quelque moyen qui soit ne pourra être couverte par le service de sécurisation de la Plateforme ; aussi, le cas échéant, aucune réclamation ne pourra être formulée auprès de la Plateforme ni de la Société.</li>
      </ul>
    </div>
  </div>

  <h2 class="subtitle is-5">LA LIVRAISON</h2>

  <div class="content">
    <ul>
      <li>4.1 Le Lot peut être retiré directement chez le Vendeur si celui-ci le permet. Ce type de transaction est défini par les termes de “remise en main propre”. Cette information est systématiquement précisée dans le contenu de l'Annonce par le Vendeur. Le cas échéant, les informations identitaires et les coordonnées du Client et du Vendeur sont fournies à l'un et à l'autre par la Plateforme, après paiement du Client et validation de sa Commande.</li>
      <li>4.2 Quand le Vendeur accepte de faire livrer son Lot, il est tenu de l'indiquer dans son Annonce. Le Client sélectionne ainsi le transporteur de son choix parmi ceux dans la liste.</li>
      <li>4.3 En ce sens, il est impératif au Vendeur d'indiquer avec précision le poids final de son colis dans l'annonce et de respecter les dimensions dans la longueur, la largeur, la profondeur ainsi que dans l'addition des trois autorisées par ledit transporteur, ceci afin que le Client potentiel puisse prendre connaissance des tarifs indicatifs en vigueur des transporteurs et être en mesure de régler les frais relatifs au transport lors de sa Commande.</li>
      <li>4.4 Cette condition s'applique pour les colis éligibles aux services choisis et mis à disposition du Client et du Vendeur par la Plateforme.</li>
      <li>4.5 Le Vendeur est tenu responsable de la véracité des informations liées au poids et aux dimensions du colis final.</li>
      <li>4.6 Le Client s'engage à régler les frais de livraison en vigueur pour assurer le cheminement du ou des Lot(s).</li>
      <li>4.7.1 Le Client accepte de se conformer aux grilles tarifaires en vigueur des différents services de transports proposés par la Plateforme : <a href="https://www.mondialrelay.fr/envoi-de-colis/Tarifs-expeditions" target="_blank" class="link underline">https://www.mondialrelay.fr/envoi-de-colis/Tarifs-expeditions</a>. Il en accepte les évolutions tarifaires potentielles, dont la Société ne peut en être tenue responsable.</li>
      <li>4.9 Ces prix ne tiennent pas compte de l'assurance à laquelle le Vendeur ou son mandataire expéditeur sont tenus de souscrire en dehors de la Plateforme. Avec Mondial Relay, une assurance de 25 Euros forfaitaire est comprise dans le tarif.</li>
      <li>4.9.2 Si le Vendeur n'a pas indiqué lesdites informations de poids et de dimensions de manière exacte, quelle qu'en soit la raison, il ne peut tenir responsable ni la Société, ni le Client d'un éventuel surplus dont il devra en assumer la charge.</li>
      <li>4.9.4 En cas de casse ou de perte dans les transports, le Vendeur a la responsabilité de se retourner vers le transporteur afin de trouver un accord et faire fonctionner l'assurance à laquelle lui ou son mandataire expéditeur a souscrit. Dans un second temps, le Client et le Vendeur peuvent solliciter le service client de la Plateforme via les moyens de contact mis à leur disposition afin qu'il puisse tenter de trouver une solution amiable.</li>
      <li>4.9.6 La Société ne peut être impliquée dans les processus liés au transport du ou des Lot(s). En ce sens, elle ne pourra être tenue responsable d'un éventuel litige lié au transport.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">RESPONSABILITÉS ET OBLIGATIONS VENDEUR</h2>

  <div class="content">
    <ul>
      <li>5.1 La Plateforme est une place de marché qui correspond à une série de Lots soumis par des Vendeurs tiers.</li>
      <li>5.2.1 Les Utilisateurs sont habilités, via la rubrique prévue à cet effet, à soumettre à la Société une série de lots afin de s'informer de leur éligibilité à paraître sur la Plateforme au travers d'un formulaire unique.</li>
      <li>5.2.3 Seule la Société est habilitée à valider l'éligibilité des Lots à être publiés sous forme d'Annonce sur la Plateforme. Cette validation est basée sur des critères objectifs fondés sur la bonne marche et le positionnement de la Plateforme et le Vendeur ne pourrait tenir la Société comme responsable d'un quelconque préjudice en cas de refus de validation du ou des Lot(s) soumis.</li>
      <li>5.3.1 Les dates de publication et de clôture sont définies par la Plateforme.</li>
      <li>5.3.2 La Société informe le Vendeur par voie électronique de la date de mise en vente de son ou ses Lot(s) ainsi que du délai de clôture de la vente.</li>
      <li>5.4.1 Le Vendeur déclare être en pleine propriété des produits qu'il met en vente et de la véracité des informations communiquées.</li>
      <li>5.4.2 Le Vendeur s'engage à tenir les lots disponibles à partir de la validation de l'Annonce qui est caractérisée par la réception d'un message électronique dédié, durant toute la durée de publication de l'Annonce. Si le Vendeur ne dispose plus du ou des lots, il s'engage à supprimer l'Annonce de la Plateforme.</li>
      <li>5.4.3 Le Vendeur est responsable du contenu des Annonces.</li>
      <li>5.4.4 Le Vendeur est tenu de décrire de manière conforme le Lot mis en vente. Le cas échéant, le Vendeur est également responsable de la non-conformité éventuelle du bien avec la description de l'Annonce.</li>
      <li>5.5.2 Le Vendeur n'est pas en droit de modifier le contenu de son Annonce une fois qu'il l'a soumise à validation.</li>
      <li>5.5.3 Si le Vendeur accepte d'envoyer son Lot au Client, lui ou son mandataire sont tenus d'accepter, pour chaque Lot, le prix d'expédition indiqué par la grille tarifaire indicative des services de transports sélectionnés par la Plateforme. (Mondial Relay : https://www.mondialrelay.fr/envoi-de-colis/Tarifs-expeditions.) Il en accepte les évolutions tarifaires potentielles, dont la Société ne peut en être tenue responsable.</li>
      <li>5.5.5 Le Client s'engage à régler les frais de livraison en vigueur pour assurer le cheminement du ou des Lot(s).</li>
      <li>5.5.6 Le Vendeur est tenu responsable en cas d'absence de livraison au Client du bien, des défauts ou des vices cachés du bien vendu et des risques attachés au transport des biens.</li>
      <li>5.5.7 Si le Client n'a pas récupéré le Lot dans les délais impartis par le transporteur tiers et que le Lot est retourné par le transporteur chez l'expéditeur, le Vendeur s'engage à conserver ledit Lot pour un délai supplémentaire jusqu'à trouver arrangement avec le Client pour un nouvel envoi aux frais du Client. Cette nouvelle transaction ne pourra pas être assurée sur la Plateforme.</li>
      <li>5.5.8 S'il le souhaite, le Vendeur a la possibilité de choisir l'option de remise en main propre pour remettre ses lots physiquement au Client. Dans ce cas de figure, le Client doit accepter de se déplacer à l'adresse indiquée par le Vendeur pour récupérer son ou ses Lot(s).</li>
      <li>5.7.1 Le Vendeur est tenu responsable de la bonne exécution de ses obligations.</li>
      <li>5.7.3 Lorsque la Commande est payée par le Client, le Vendeur (ou son mandataire) est tenu de valider la transaction et a la responsabilité d'expédier le Lot vendu, le tout dans un délai de six (6) jours consécutifs pleins.</li>
      <li>5.8.1 Passé ce délai, la Société annule automatiquement la vente. Les fonds sont alors renvoyés au Client dans un délai maximum de 14 jours.</li>
      <li>5.8.2 Le Vendeur est tenu de contracter par ses propres moyens les assurances nécessaires relatives à l'expédition afin de couvrir un minimum la valeur de vente entendue. Avec Mondial Relay, une assurance forfaitaire de 25€ est incluse. Aucune assurance supplémentaire ne peut être souscrite depuis la Plateforme. Sans assurance à hauteur de la valeur transigée, le remboursement incluant le ou les Lot(s), la commission et le coût du transport du Client pourront être intégralement dus au Client par le Vendeur si et seulement si la Société le requête.</li>
      <li>5.8.2 Le Vendeur est tenu responsable de la véracité des informations liées au poids et aux dimensions du colis final.</li>
      <li>5.8.3 En cas d'erreur dans les informations de poids et de dimensions, quelle qu'en soit la raison et la nature, le Vendeur ne peut tenir responsable ni la Société, ni le Client d'un éventuel surplus dont il devra en assumer la charge au titre de sa responsabilité de Vendeur.</li>
      <li>5.9.2 Dans le cas où le Client ne respecte pas son obligation de paiement, le Vendeur ne peut en aucun cas se retourner contre la Société pour exiger la somme due.</li>
      <li>5.9.3 Le Vendeur est informé qu'en publiant son annonce sur la Plateforme, celle-ci peut être susceptible d'être partagée sur d'autres supports (tels que des réseaux sociaux).</li>
      <li>5.9.4 Si un Client ouvre un litige dans le temps qui lui est imparti de 18 jours après paiement, en raison d'un cas de force majeur ou d'un problème de livraison dont le transporteur est responsable, le Vendeur accepte que la Plateforme maintienne le blocage des fonds jusqu'à résolution du litige dont l'état dépend de la Société.</li>
      <li>5.9.5 Il appartient au Vendeur disposant d'un statut professionnel d'annoncer et de faire valoir ses droits (rétractation, garantie, vice caché, etc.) au Client. Par exemple, d'après l'article L121-21 du code de la consommation, le Client peut disposer d'un délai de rétractation de 14 jours. Ainsi, si le Client souhaite utiliser l'un de ses droits à la condition que cette décision n'est pas motivée par un manquement quelconque du Vendeur, le Client s'engage à retourner les articles à ses frais et dans le même état qu'ils ont été décrits dans l'annonce publiée.</li>
      <li>5.9.6 Le Vendeur n'est pas tenu de fournir une facture au Client qui lui passe Commande, excepté lorsque le Vendeur dispose d'un statut professionnel et que le Client lui en fait la demande.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">RESPONSABILITÉ ET OBLIGATIONS DU CLIENT</h2>

  <div class="content">
    <ul>
      <li>6.1 Pour s'inscrire sur la Plateforme, le Client doit obligatoirement être majeur. Le cas contraire, il s'agirait d'un délit de faux et d'usage de faux puni par la loi, la Société ne pouvant être tenue responsable de ce délit. Une restriction technique ne permet pas à un Utilisateur mineur de s'inscrire sur la Plateforme.</li>
      <li>
        6.2.2 Le Client accepte de reconnaître que toute décision d'achat de sa part a été motivée par :<br>
        * La description du Lot<br>
        * Le prix du Lot<br>
        * La localisation du Lot<br>
        * Ainsi son acceptation de l'offre vaut engagement immuable de contracter avec le Vendeur aux conditions de cette offre. Le Client ne peut pas invoquer de fautes de frappe ou d'erreurs.
      </li>
      <li>6.2.3.1 Le Client accepte que compte tenu de la nature du service fourni par la Société, dont la Plateforme agit simplement comme intermédiaire, le droit de rétractation défini à l'article L121-21 du code de la consommation n'est pas applicable, excepté dans le cas où le Vendeur est un professionnel. Le cas échéant, il appartient au Client de faire valoir ses droits auprès du Vendeur : la Société ne peut alors être impliquée dans cette démarche.</li>
      <li>6.2.3.2 Le Client dispose d'un droit de garantie légale de conformité qui est une garantie contre tous les défauts de conformité existant déjà à la date de livraison du produit. Tout vendeur doit respecter ce droit. Son contenu est également fixé par la loi, elle ne s'applique pas si le Client avait connaissance du défaut au moment de l'achat ou s'il ne pouvait pas ignorer le défaut au moment de l'achat. La garantie s'applique uniquement entre un Client particulier et un Vendeur professionnel. Elle ne s'applique pas en cas de vente entre 2 particuliers ou entre 2 professionnels.</li>
      <li>6.2.4 Le Client est tenu de procéder au paiement sécurisé via le lien prévu à cet effet qui apparaît sur la page Produit concernée ou sur son espace personnel et/ou sa messagerie électronique, et qui lui permet de régler le montant de sa Commande ainsi que les frais de livraison et les frais de service par notre prestataire de paiement MangoPay.</li>
      <li>6.2.5.1 Il appartient au Vendeur disposant d'un statut professionnel d'annoncer et de faire valoir ses droits (rétractation, garantie, vice caché, etc.) au Client. Par exemple, d'après l'article L121-21 du code de la consommation, le Client peut disposer d'un délai de rétractation de 14 jours. Ainsi, si le Client souhaite utiliser l'un de ses droits à la condition que cette décision n'est pas motivée par un manquement quelconque du Vendeur, le Client s'engage à retourner les articles à ses frais et dans le même état qu'ils ont été décrits dans l'annonce publiée.</li>
      <li>6.2.5.2 Le cas échéant, le Vendeur professionnel est tenu de rembourser le Client à hauteur du prix du ou des Lot(s). Les frais de service et l'ensemble des frais de livraison restent à la charge du Client.</li>
      <li>6.2.5.3 Si le Client subit un litige attesté par la Société, le Vendeur sera dans l'obligation de rembourser le Client de la somme réglée pour le ou les Lot(s) ainsi qu'à prendre en charge les frais de transport pour le retour du ou des Lot(s).</li>
      <li>6.2.5.4 Dans tous les cas, la Société se réserve le droit de conserver le montant des frais de service dus par le Client.</li>
      <li>6.2.6 En cas de contestation ultérieure à la période de litige accordée, le Client reconnaît qu'aucune contestation ne sera reçue par la Société. Il reconnaît également avoir connaissance que les photos ou les illustrations présentes sur la Plateforme n'ont pas de valeur contractuelle et qu'elles ont vocation à illustrer du mieux possible le descriptif du ou des Lot(s) et que seul prévaut ledit descriptif du produit mis en ligne par le Vendeur.</li>
      <li>6.3 Les réclamations relatives à un achat devront être immédiatement signifiées à la Société par le Client, durant le délai imparti de dix-huit (18) jours après paiement de la Commande, au moyen de l'envoi d'un message électronique à bonjour@outilly.com.</li>
      <li>6.4 Sur demande de la Société, le Client s'engage à lui fournir tout justificatif d'identité ou à défaut, la Société peut annuler automatiquement sa Commande en cours et/ou suspendre son compte.</li>
      <li>6.5 Dans le cas où le Vendeur n'accepte que la remise en main propre de son Lot ou que le Client décide de récupérer le Lot en main propre, le Client accepte de se déplacer à l'adresse indiquée par le Vendeur pour récupérer son ou ses Lot(s). L'adresse exacte est communiquée sur la Plateforme au Client à la suite du paiement dû pour le ou les Lot(s).</li>
      <li>6.6 Le Client est tenu responsable de la bonne exécution de ses obligations.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">RESPONSABILITÉS ET RÉMUNÉRATION DE LA SOCIÉTÉ</h2>

  <div class="content">
    <ul>
      <li>7.1 La Société n'accordera pas d'indemnités en cas de non-paiement, de perte d'argent lors d'un paiement, de sommes indûment payées, d'annonces mensongères, d'objets détériorés, volés ou perdus lors d'une transaction, ou toute autre infraction aux présentes conditions, à la loi en vigueur en France.</li>
      <li>7.2 La Société ne peut être tenue responsable d'un quelconque litige dû à une difficulté ou impossibilité d'accéder à un ou plusieurs de ses services, une défaillance matérielle, logicielle ou humaine, une rectification juste et nécessaire de données erronées ou la modification d'un ou plusieurs de ses services.</li>
      <li>7.3 L'Utilisateur (Client ou Vendeur) accepte d'indemniser la Société, y compris les frais d'avocat, en cas de poursuite de ce dernier par un tiers résultant d'une violation par le membre concerné des présentes conditions, de droits de ce tiers ou de la loi.</li>
      <li>7.4 La Société a la responsabilité d'afficher les Lots et les offres disponibles pendant toute la durée de la vente, mais ne peut être tenue responsable de problèmes techniques survenant sur la Plateforme.</li>
      <li>7.5 La Société a la responsabilité de mettre à disposition de chaque partie un moyen de paiement sécurisé et anonyme via son prestataire de paiement MangoPay, afin de procéder à la transaction des Lots vendus.</li>
      <li>7.6.1 La Société est habilitée à dévoiler l'identité du Client au Vendeur après paiement de ce premier afin de faciliter l'expédition ou la remise en main propre du ou des Lot(s).</li>
      <li>7.6.2 La Société est habilitée à dévoiler l'identité du Vendeur au Client après paiement de ce premier afin de faciliter la remise en main propre ou l'expédition du ou des Lot(s).</li>
      <li>7.7 La Société ne peut être tenue responsable de la qualité, de l'authenticité, de la traçabilité, de l'exactitude des Lots publiés sur la Plateforme. Elle ne peut être tenue responsable ni du contenu des Annonces, ni du fait que le Vendeur ne soit pas le propriétaire légitime du bien de son annonce, de la non-conformité éventuelle du bien avec la description de l'annonce, de l'absence de conclusion d'une vente, de la bonne exécution par les parties de leurs obligations, de l'absence de livraison par le Vendeur au Client du bien, du retour du bien par le Client, des défauts ou des vices cachés du bien acheté, des risques attachés au transport des biens.</li>
      <li>7.8.1 La Société facture l'utilisation de son service auprès du Client à hauteur de 6% TTC ajoutés au montant du ou des Lot(s), avec un minimum de facturation de 1,50€.</li>
      <li>7.8.2 Les frais d'expédition ne sont pas assujettis au commissionnement de la Société.</li>
      <li>7.9.1 Pour toute demande d'informations ou de précisions, le Client doit contacter, en priorité, le service de transport sélectionné si le problème rencontré dépend de ses compétences ; le Client peut aussi contacter le service client de la Société afin de lui permettre de tenter de trouver une solution au problème.</li>
      <li>
        7.9.2 Le service client de la Société est accessible de 10h00 à 17h00 (UTC+1) sans interruption, du lundi au vendredi, aux coordonnées suivantes :<br>
        Email : bonjour@outilly.com
      </li>
    </ul>
  </div>

  <h2 class="subtitle is-5">PROPRIÉTÉ INTELLECTUELLE</h2>

  <div class="content">
    <ul>
      <li>8.1 L'ensemble des éléments de cette Plateforme, sont protégés par le droit d'auteur, le droit des marques, des dessins et modèles et/ou tous autres droits de propriété intellectuelle. Ces éléments sont la propriété exclusive de la Société. L'ensemble de ces droits est réservé pour le monde entier.</li>
      <li>8.2 Le nom et la marque, les logos, les dessins et modèles, lettres stylisées, marques figuratives, et tous les signes représentés sur cette Plateforme sont et demeureront la propriété exclusive de la Société.</li>
      <li>8.3 Aucun titre ni droit quelconque sur aucun élément ou logiciel ne sera obtenu par téléchargement ou copie d'éléments de cette Plateforme. Il est formellement interdit au Client de reproduire (à part pour son utilisation personnelle et non commerciale), publier, éditer, transmettre, distribuer, montrer, enlever, supprimer, ajouter à ce Site et aux éléments et logiciels qu'il contient, pas plus que les modifier ou effectuer un quelconque travail en les prenant pour base, ni vendre ou participer à aucune vente en rapport avec cette Plateforme, les éléments de cette Plateforme ni aucun logiciel y afférant.</li>
      <li>8.4 La Société concède au Client une licence non exclusive pour utiliser la Plateforme. Cette licence est strictement personnelle et ne peut en aucun cas être cédée ou transférée à quel que tiers que ce soit. la licence est concédée pour la durée d'utilisation de la Plateforme.</li>
      <li>8.5 Toute utilisation par le Client des dénominations sociales, marques et signes distincts appartenant à la Société est strictement prohibée sauf en cas d'accord exprès et préalable de la Société.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">NEWSLETTER</h2>

  <div class="content">
    <ul>
      <li>9.1 En cochant la case prévue à cet effet ou en donnant expressément son accord à cette fin, le Client accepte que la Société puisse lui faire parvenir, à une fréquence et sous une forme déterminée par le Client ou préalablement explicitée par la Société, une newsletter (lettre d'information) pouvant contenir des informations relatives à son activité.</li>
      <li>9.2 Lorsque le Client coche la case prévue à cet effet dans le processus d'inscription sur la plateforme, il accepte de recevoir des offres commerciales de la Société pour des produits/services analogues à ceux commandés.</li>
      <li>9.3 Le Client aura la faculté de se désinscrire de la newsletter en cliquant sur le lien prévu à cet effet, présent dans chacune des newsletters (lettres d'information).</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">LOI APPLICABLE ET ATTRIBUTION DE JURIDICTION</h2>

  <div class="content">
    <ul>
      <li>10.1 Les présentes CGVU sont régies et interprétées conformément au droit français, sans tenir compte des principes de conflits de lois.</li>
      <li>10.2 En cas de litige, les Parties chercheront une solution amiable avant toute action judiciaire. En cas d'échec de ces tentatives, toutes contestations relatives à la validité, l'interprétation, l'exécution, la résiliation, les conséquences et les suites des présentes CGU-CGV devront être portées même en cas de pluralité des défendeurs ou d'appel en garantie, devant les tribunaux compétents du département où siège la Société.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">SIGNALEMENT D'UN CONTENU ILLICITE OU INEXACT</h2>

  <div class="content">
    <ul>
      <li>11.1 Dans l'hypothèse où vous souhaiteriez nous signaler la présence sur la Plateforme, d'une information erronée ou d'un contenu illicite, vous devrez préciser à la Société obligatoirement vos données personnelles d'identification (nom, prénom, domicile, adresse e-mail), une description précise du contenu qui vous semble erroné ou illicite et les raisons. Cela suppose que vous acceptiez le traitement par loutillerie.fr des données personnelles que vous nous transmettez et plus généralement notre Politique de confidentialité et de respect des données personnelles.</li>
      <li>11.2 En revanche, nous vous rappelons que signaler un contenu illicite dans le but d'en obtenir le retrait et/ou d'en faire cesser la diffusion, en sachant cette information inexacte, est sanctionné pénalement par l'article 6 al. 4 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et vous expose à des poursuites judiciaires pénales et/ou civiles.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">MODIFICATION DES CONDITIONS GÉNÉRALES D'UTILISATION</h2>

  <div class="content">
    <ul>
      <li>12.1 Nous nous réservons le droit de modifier les présentes conditions générales d'utilisation, notamment si la plateforme venait à offrir de nouveaux services ou pour se conformer à de nouvelles réglementations.</li>
      <li>12.2 Nous vous avertirons des modifications sur la page d'accueil de la Plateforme et/ou par voie électronique.</li>
      <li>12.3 Elles entreront en vigueur à compter duur mise en ligne. Si vous refusez ces modifications, vous ne serez plus en droit d'utiliser la plateforme à compter de la prise d'effet de ces modifications.</li>
      <li>12.4 Dans l'hypothèse où une clause des présentes était annulée ou réputée non écrite, par une décision de justice, les autres dispositions resteraient en vigueur.</li>
    </ul>
  </div>

  <h2 class="subtitle is-5">VIOLATION DES PRÉSENTES CONDITIONS GÉNÉRALES D'UTILISATION</h2>

  <div class="content">
    La Plateforme se réserve la faculté de suspendre et/ou clôturer le compte de tout Utilisateur qui enfreindrait les présentes conditions générales d'utilisation, sans préjudice d'éventuelles poursuites civiles ou pénales.
  </div>
</div>
