<div class="content has-text-left">
  <div class="field">
      <app-step-label class="has-text-centered"
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <div class="columns is-vcentered has-text-centered">
        <div class="column">
          <div id="classic-announce" class="content tile" (click)="product.buyingOption = 'classic'; setFocus('classic-announce')">
            Annonce classique
          </div>
        </div>

        <div class="column">
          <div id="hybrid-announce" class="content tile" (click)="product.buyingOption = 'hybrid'; setFocus('hybrid-announce')">
            Hybrid bid
          </div>
        </div>
      </div>
  </div>
</div>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [rootUri]=rootUri
  [previousOn]=previousOn
  [nextOn]=nextOn>
</app-navigation>
