<div class="columns is-centered">
  <div class="content">
    <h1 class="title">Mot de passe oublié ?</h1>

    <div class="content">
      <div class="field">
        <label class="label">E-mail</label>
        <p class="control">
          <input class="input" type="text" [(ngModel)]=email>
        </p>
      </div>
    </div>

    <div *ngIf="success === false" class="notification is-danger has-text-centered">
      Une erreur est survenue
    </div>

    <div *ngIf="emailExists === false" class="notification is-danger has-text-centered">
      L'e-mail n'existe pas
    </div>

    <div *ngIf="success" class="notification is-success has-text-centered">
      Le mail de changement de mot de passe a bien été envoyé
    </div>

    <div class="content has-text-centered">
      <button *ngIf="!success" class="button is-success no-overflow" (click)="requestPassword()">Envoyer le mail pour changer de mot de passe</button>
    </div>
  </div>
</div>
