#connection-container {
  border-top: solid 5px var(--KTKP-BLUE);
  margin-bottom: 20px;
  color: white;
}

#connection-button {
  background-color: var(--KTKP-BLUE);
  border-bottom-left-radius: 10px;
}

#connection-button div {
  color: var(--KTKP-BLUE-DARKER);
  outline: none;
  font-size: 1em;
  transition: 0.3s;
}

#connection-button div:hover {
  padding-right: 35px;
}

.level-left, .level-right {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
