<div id="searchBox" class="columns is-centered has-text-centered">
    <div class="column is-one-third">
        <h1 class="title">Trouvez du matériel sur Ekip<span class="brandName">r</span></h1>

        <form class="form">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" placeholder="Que recherchez-vous ?">
                </p>
            </div>
        </form>

        <div class="columns">
            <div class="column">
                <!-- Catégories -->
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Catégories</span>
                        </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <a href="#" class="dropdown-item">
                            Jardin
                          </a>
                          <a class="dropdown-item">
                            Bricolage
                          </a>
                          <a href="#" class="dropdown-item">
                            Mécanique
                          </a>
                          <a href="#" class="dropdown-item">
                            Autre
                          </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <!-- Localisation -->
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Localisation</span>
                            <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
                        </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a href="#" class="dropdown-item">
                                75 - Paris
                            </a>
                            <a class="dropdown-item">
                                77 - Seine-et-Marne
                            </a>
                            <a href="#" class="dropdown-item">
                                78 - Yvelines
                            </a>
                            <a href="#" class="dropdown-item">
                                91 - Essonne
                            </a>
                            <a href="#" class="dropdown-item">
                                92 - Hauts-de-Seine
                            </a>
                            <a href="#" class="dropdown-item">
                                93 - Seine-Saint-Denis
                            </a>
                            <a href="#" class="dropdown-item">
                                94 - Val-de-Marne
                            </a>
                            <a href="#" class="dropdown-item">
                                95 - Val-d'Oise
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <button class="button">Autres filtres</button>
            </div>

            <div class="column">
                <button class="button is-danger">Rechercher</button>
            </div>
        </div>
    </div>
</div>