<!-- DESKTOP Version -->
<div id="filters" class="is-hidden-mobile">
  <div class="in-line">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Catégories</span>
          <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <li *ngFor="let category of allCategories" class="dropdown-item" (click)="addFilter('category', category.label); getReferences()">
            {{ category.label }}
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="in-line">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Type</span>
          <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div *ngIf="!hasFilter('category', 'Consommable')" class="dropdown-content">
          <li *ngFor="let type of allTypes" class="dropdown-item" (click)="addFilter('type', type.label)">
            {{ type.label }}
          </li>
        </div>

        <div *ngIf="hasFilter('category', 'Consommable')" class="dropdown-content">
          <div *ngFor="let type of allCategories">
            <li *ngIf="type.label !== 'Consommable'" class="dropdown-item" (click)="addFilter('category', type.label)">
              {{ type.label }}
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="in-line">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Produit</span>
          <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <li *ngIf="references.length === 0" class="dropdown-item discreet-text">
            Choisissez des catégories pour voir la liste des produits
          </li>
          <li *ngFor="let reference of references" title="{{ reference.label }}" class="dropdown-item" (click)="addFilter('reference', reference.label)">
            {{ reference.label }}
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="in-line">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Prix décroissant</span>
          <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <li class="dropdown-item" (click)="addFilter('decreasingPrice', 'Oui')">
            Oui
          </li>
          <li class="dropdown-item" (click)="addFilter('decreasingPrice', 'Non')">
            Non
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="in-line">
    <button *ngIf="!loading" class="button is-danger search" (click)="currentPage=1; getSales()">Rechercher</button>
    <button *ngIf="loading" class="button is-light is-loading"></button>
  </div>
</div>

<!-- MOBILE Version -->
<div id="search-container-mobile" class="columns is-centered is-hidden-tablet has-text-centered">
  <div class="column">
    <div class="content has-text-left">
      <span class="bold medium-left-margin">Trier par :</span>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-5">

        <!-- Catégories -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Catégories</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <li *ngFor="let category of allCategories" class="dropdown-item" (click)="addFilter('category', category.label); getReferences()">
                {{ category.label }}
              </li>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-5">
        <!-- Type -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Type</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div *ngIf="!hasFilter('category', 'Consommable')" class="dropdown-content">
              <li *ngFor="let type of allTypes" class="dropdown-item" (click)="addFilter('type', type.label)">
                {{ type.label }}
              </li>
            </div>

            <div *ngIf="hasFilter('category', 'Consommable')" class="dropdown-content">
              <div *ngFor="let type of allCategories">
                <li *ngIf="type.label !== 'Consommable'" class="dropdown-item" (click)="addFilter('category', type.label)">
                  {{ type.label }}
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-mobile is-centered">
      <div class="column is-5">
        <!-- Produit -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Produit</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <li *ngIf="references.length === 0" class="dropdown-item discreet-text">
                Choisissez des catégories pour voir la liste des produits
              </li>
              <li *ngFor="let reference of references" title="{{ reference.label }}" class="dropdown-item" (click)="addFilter('reference', reference.label)">
                {{ reference.label }}
              </li>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-5">
        <!-- Decreasing Price -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Prix décroissant</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <li class="dropdown-item" (click)="addFilter('decreasingPrice', 'Oui')">
                Oui
              </li>
              <li class="dropdown-item" (click)="addFilter('decreasingPrice', 'Non')">
                Non
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search -->
    <div class="content">
      <button *ngIf="!loading" class="button is-danger search" (click)="currentPage=1; getSales()">Rechercher</button>
      <button *ngIf="loading" class="button is-light is-loading"></button>
    </div>
  </div>
</div>

<!-- Chosen filters -->
<div id="filter-display" *ngIf="filters.length > 0" class="content has-text-centered">
  <span class="bold">Filtres choisis</span> :
</div>

<div id="current-filters" class="content is-vcentered has-text-centered addspacebelow">
  <button (click)='removeFilter(filter.type, filter.value); getReferences()' *ngFor="let filter of filters" class="button medium-right-margin">
    <fa-icon class="small-right-margin" [icon]="['fas', 'times']"></fa-icon>
    {{ filter.type | productFilter }}: {{ filter.value }}
  </button>
</div>
