<!-- DESKTOP Version -->
<div class="columns is-centered is-hidden-mobile has-text-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column">
        <!-- Catégories -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Catégories</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a *ngFor="let category of allCategories" class="dropdown-item" (click)="addFilter('category', category.label); getReferences()">
                {{ category.label }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <!-- Type -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Type</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a *ngFor="let type of allTypes" class="dropdown-item" (click)="addFilter('type', type.label)">
                {{ type.label }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <!-- Produit -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Produit</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a *ngIf="references.length === 0" class="dropdown-item discreet-text">
                Choisissez des catégories pour voir la liste des produits
              </a>
              <a *ngFor="let reference of references" title="{{ reference.label }}" class="dropdown-item" (click)="addFilter('reference', reference.label)">
                {{ reference.label }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <!-- Decreasing Price -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Prix décroissant</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" (click)="addFilter('decreasingPrice', 'Oui')">
                Oui
              </a>
              <a class="dropdown-item" (click)="addFilter('decreasingPrice', 'Non')">
                Non
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <button class="button is-danger search" (click)="currentPage=1; getSales()">Rechercher</button>
      </div>
    </div>

    <div *ngIf="filters.length > 0" class="content has-text-left">
      <span class="underline">Filtres choisis</span> :
    </div>

    <div id="current-filters" class="columns is-vcentered has-text-centered">
      <button (click)='removeFilter(filter.type, filter.value); getReferences()' *ngFor="let filter of filters" class="button medium-right-margin">
        <fa-icon class="small-right-margin" [icon]="['fas', 'times']"></fa-icon>
        {{ filter.type | productFilter }}: {{ filter.value }}
      </button>
    </div>
  </div>
</div>

<!-- MOBILE Version -->
<div class="columns is-centered is-hidden-tablet has-text-centered">
  <div class="column">
    <div class="content has-text-left">
      <span class="bold medium-left-margin">Trier par :</span>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-5">

        <!-- Catégories -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Catégories</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Jardin
              </a>
              <a class="dropdown-item">
                Bricolage
              </a>
              <a href="#" class="dropdown-item">
                Mécanique
              </a>
              <a href="#" class="dropdown-item">
                Autre
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-5">
        <!-- Type -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Type</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                  75 - Paris
              </a>
              <a class="dropdown-item">
                  77 - Seine-et-Marne
              </a>
              <a href="#" class="dropdown-item">
                  78 - Yvelines
              </a>
              <a href="#" class="dropdown-item">
                  91 - Essonne
              </a>
              <a href="#" class="dropdown-item">
                  92 - Hauts-de-Seine
              </a>
              <a href="#" class="dropdown-item">
                  93 - Seine-Saint-Denis
              </a>
              <a href="#" class="dropdown-item">
                  94 - Val-de-Marne
              </a>
              <a href="#" class="dropdown-item">
                  95 - Val-d'Oise
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-mobile is-centered">
      <div class="column is-5">
        <!-- Produit -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Produit</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                  75 - Paris
              </a>
              <a class="dropdown-item">
                  77 - Seine-et-Marne
              </a>
              <a href="#" class="dropdown-item">
                  78 - Yvelines
              </a>
              <a href="#" class="dropdown-item">
                  91 - Essonne
              </a>
              <a href="#" class="dropdown-item">
                  92 - Hauts-de-Seine
              </a>
              <a href="#" class="dropdown-item">
                  93 - Seine-Saint-Denis
              </a>
              <a href="#" class="dropdown-item">
                  94 - Val-de-Marne
              </a>
              <a href="#" class="dropdown-item">
                  95 - Val-d'Oise
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-5">
        <!-- Decreasing Price -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Prix décroissant</span>
              <fa-icon class="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Oui
              </a>
              <a class="dropdown-item">
                Non
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <button class="button search is-danger">Rechercher</button>
    </div>

    <div class="content has-text-centered">
      <span class="underline">Filtres choisis</span> :
    </div>

    <div id="current-filters" class="columns is-vcentered has-text-centered">
      <button *ngFor="let elem of ['filtre 1', 'filtre 2', 'filtre 3']" class="button medium-right-margin">
        <fa-icon class="small-right-margin" [icon]="['fas', 'times']"></fa-icon>
        {{ elem }}
      </button>
    </div>
</div>
