.in-line {
  display: inline-block;
  margin: auto;
  margin-right: 16px;
  margin-left: 16px;
  vertical-align: middle;
}

#filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-container, #search-container-mobile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dropdown-trigger button {
  font-size: 0.8em;
  height: 50px;
  border-width: 3px;
  border-color: var(--KTKP-GREY-DARKER);
}

.dropdown-trigger button:hover {
  border-color: var(--KTKP-GREEN);
}

.dropdown-content {
  max-height: 14em;
  max-width: 25em;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-content li:hover {
  cursor: pointer;
  background-color: var(--KTKP-GREY);
  color: var(--KTKP-GREEN);
}

.search {
  height: 50px;
}

.angle-down {
  margin-left: 5px;
  font-size: 1.5em;
}

#filter-display {
  margin-bottom: 5px;
}

#current-filters button {
  margin-top: 5px;
  font-size: 0.6em;
}

#current-filters button:hover {
  background-color: var(--KTKP-RED);
  color: white;
}

.form
{
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #searchHeader {
      border-radius: 60px;
  }

  .dropdown-trigger button {
    width: 150px;
    height: 60px;
  }

  .angle-down {
    font-size: 2.2em;
  }

  .search {
    width: 95%;
    height: 60px;
  }

  .chosen-filters {
    margin-bottom: 10px;
  }
}
