<div id="legal-mentions" class="content">
  <h1 class="title">Edition du site internet</h1>

  <div class="content">
    Le site Outilly (ci-après "le Site"), accessible à l'adresse https://www.outilly.com est édité par la société L'Outillerie (ci-après "l'Editeur"), SAS au capital de 1000 euros, dont le siège social est situé XXX 95690 NESLES LA VALLEE.
    RCS 879 811 784 Pontoise
  </div>

  <h1 class="title">Rédaction du site internet</h1>

  <div class="content">
    Directeur de la publication : Christophe VINCENT
    Contact : 0761033212 ; bonjour@outilly.com
  </div>

  <h1 class="title">Hébergeur du site internet</h1>

  <div class="content">
    Le Site est hébergé par o2switch, société du groupe Zohey SAS au capital de 100 000 euros, dont le siège est situé au 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand (Siret : 510 909 80700024)
  </div>

  <h1 class="title">Respect de la propriété intellectuelle</h1>

  <div class="content">
    Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
    Ils sont la propriété pleine et entière de l'Editeur ou de ses partenaires, sauf mentions particulières. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'Editeur, sont strictement interdites. Le fait pour l'Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.
    Seule l'utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d'atteinte aux droits voisins, sanctionnées par Code de la propriété intellectuelle.
    La reprise de tout ou partie de ce contenu nécessite l'autorisation préalable de l'Editeur ou du titulaire des droits sur ce contenu.
  </div>

  <h1 class="title">Liens hypertextes</h1>

  <div class="content">
    Le Site peut contenir des liens hypertexte donnant accès à d'autres sites web édités et gérés par des tiers et non par l'Editeur. L'Editeur ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.
    La création de liens hypertexte vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de l'Editeur.
  </div>
</div>
