<div *ngIf="loaded" id="product-information">

  <app-activitation-account-warning *ngIf="auth.isLogged()"
    [activated]=activated>
  </app-activitation-account-warning>

  <div *ngIf="sale.status === 'new'" class="notification is-danger has-text-centered">
    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    Ce produit est en cours de validation, seul vous pouvez la consulter pour l'instant.
  </div>

  <div class="columns is-centered">

      <!-- General information -->
      <div class="column is-half">
        <general-information
          [sale]=sale>
        </general-information>
      </div>

      <!-- Side information -->
      <div class="column is-one-quarter">
        <side-information
          [isSeller]=isSeller
          [sale]=sale
          [mrCosts]=mrCosts
          [isAvailable]=isAvailable
          [priceToPay]=priceToPay
          (openState)=getOpenState($event)>
        </side-information>
      </div>

      <sticky-menu *ngIf="!isSeller && sale.id !== 0 && sale.status !== 'sold'"
        [sale]=sale
        [isSeller]=isSeller
        [mrCosts]=mrCosts
        [priceToPay]=priceToPay
        [errorMsg]=errorMsg
        [minPrice]=minPrice
        [maxPrice]=maxPrice
        [proposedPrice]=proposedPrice
        [openState]=openMenuState>
      </sticky-menu>
  </div>
</div>
