.navbar {
  background: rgba(0, 0, 0, 0);
  border-bottom: solid 5px var(--KTKP-RED);
  margin: 0 auto;
  padding: 0px;
}

mat-accordion {
  margin: auto;
  text-align: center;
}

mat-expansion-panel {
  background: var(--KTKP-RED);
}

mat-panel-title {
  color: white;
  font-weight: bold;
}
