<div class="columns is-centered">

    <!-- General information -->
    <div class="column is-half">
      <general-information
        [sale]="sale"
        [genericQuestions]="genericQuestions">
      </general-information>
    </div>

    <!-- Side information -->
    <div class="column is-one-quarter">
      <side-information
        [sale]="sale"
        [isAvailable]="isAvailable"
        (openState)="getOpenState($event)"></side-information>
    </div>

    <sticky-menu *ngIf="!isSeller() && sale.id !== 0 && isAvailable"
      [sale]="sale"
      [isLogged]="auth.logged"
      [accessToken]="auth.accessToken"
      [errorMsg]="errorMsg"
      [minPrice]="minPrice"
      [maxPrice]="maxPrice"
      [proposedPrice]="proposedPrice"
      [openState]="openMenuState">
    </sticky-menu>
</div>
