#localisation {
    margin: auto;
    height: 200px;
    width: auto;
}

#product-name, #brands {
    margin-bottom: 40px;
}

#predefined-question {
    border: solid 0px;
}

.state-title {
  margin-bottom: 0px;
}

.state-description {
  margin-top: 15px;
}
