.button {
  width: 100%;
}

.announce {
  font-size: 1.3em;
  border: none;
  margin-top: 2px !important;
  padding-top: 2px;
}

.content {
  margin-top: 5px;
  margin-bottom: 5px;
}

.column {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#redo {
  color: var(--KTKP-GREEN);
}

#order-date {
  position: absolute;
  right: 50px
}
