<div class="content has-text-left">
    <div class="field">
        <label class="label">7. Pays</label>
        <div class="control has-icons-left">
            <div class="select is-hovered">
                <select [(ngModel)]="user.userProfile.address.country">
                    <option value="france" selected>France</option>
                    <option value="belgium">Belgique</option>
                    <option value="switzerland">Suisse</option>
                    <option value="luxemburg">Luxembourg</option>
                </select>
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'globe']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<div class="field is-grouped">
    <p class="control">
        <input class="button is-dark" value="Précédent" type="button" (click)="goTo('status')"/>
    </p>
    <p class="control">
        <input class="button is-dark" value="Suivant" type="button" (click)="goTo('zipcode')"/>
    </p>
</div>