<div class="content has-text-left">
    <div class="field">
        <label class="label">*{{ step }}. Quel est votre pays ?</label>
        <div class="control has-icons-left">
            <div class="select is-hovered">
                <select [(ngModel)]="user.userProfile.address.country" #name="ngModel" required>
                    <option value="france" selected>France</option>
                    <option value="belgium">Belgique</option>
                    <option value="switzerland">Suisse</option>
                    <option value="luxemburg">Luxembourg</option>
                </select>
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'globe']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath></app-navigation>