<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option #matOption *ngFor="let option of filteredOptions | async" [value]="option" (click)="addBrand()">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <p class="control has-icons-right">
      <input id="product-brand" class="input no-border is-hidden-mobile" type="text" placeholder="{{ placeholder }}" matInput [matAutocomplete]="auto" [formControl]="myControl">
      <input id="product-brand-mobile" class="input no-border is-hidden-tablet" type="text" placeholder="{{ placeholder }}" matInput [matAutocomplete]="auto" [formControl]="myControl">
      <span id="caret-down" class="icon is-right">
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </span>
    </p>
  </div>

  <div class="tags">
    <div *ngFor="let brand of product.brands" title="{{ brand.name }}" class="tag is-danger is-medium">
      <span *ngIf="brand.name.length > 20">{{ brand.name | slice:0:20 }}...</span>
      <span *ngIf="brand.name.length <= 20">{{ brand.name }}</span>
      <button (click)="removeBrand(brand.name)" class="delete is-small"></button>
    </div>
  </div>
</div>

<button *ngIf="product.brands.length === 0" (click)="nextOn = true" class="button is-light no-overflow">Je ne connais pas la marque de mon produit / elle n'est pas référencée</button>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
