<div class="content has-text-left">
  <div class="field">

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option #matOption *ngFor="let option of filteredOptions | async" [value]="option" (click)="addBrand()">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <p class="control has-icons-right">
      <input id="product-brand" class="input no-border" type="text" placeholder="{{ placeholder }}" matInput [matAutocomplete]="auto" [formControl]="myControl">
      <span id="caret-down" class="icon is-right">
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </span>
    </p>
  </div>

  <nav class="level new-element" id="{{ brand.name }}" *ngFor="let brand of product.brands">
    <div class="level-left">
      {{ brand.name }}
    </div>

    <div class="level-right">
      <button (click)="removeBrand(brand.name)" class="button cross"><fa-icon [icon]="['fas', 'times-circle']"></fa-icon></button>
    </div>
  </nav>
</div>

<button *ngIf="product.brands.length === 0" (click)="nextOn = true" class="button is-small is-light">Je ne connais pas la marque de mon produit</button>

<div *ngFor="let error of errorMessages" class="content error has-text-left">
  {{ error }}
</div>

<app-navigation
  [data]=formData
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
