<div class="hero-body">
  <app-connection-menu>
  </app-connection-menu>

  <app-search-box class="is-hidden-tablet"
    [advancedSearch]=false
    [buttonHidden]=true>
  </app-search-box>

  <div id="promise-title-container" class="container has-text-centered">
    <h1 id="promise-title" class="title">Ne jetez plus,<br>réemployez vos outils et matériaux.</h1>
    <p class="is-hidden-mobile">
      Ici, vous pouvez revendre et acheter du matériel de seconde main.
    </p>
  </div>

  <div id="call-to-action" class="box has-text-centered">
    <div class="columns is-centered">
      <div class="column is-4">

        <p class="discreet-text is-hidden-mobile">Achetez votre matériel simplement en toute sécurité</p>
        <p class="discreet-text is-hidden-tablet">Ici, vous pouvez revendre et acheter du matériel de seconde main.</p>
        <a routerLink="/search" class="button is-large is-success no-overflow addspacebelow">Accéder au catalogue</a>
      </div>

      <div class="column is-4">
        <p class="discreet-text">Transformez vos stocks en trésorerie</p>
        <a routerLink="/introduction" class="button is-large is-warning no-overflow">Essayer gratuitement</a>
      </div>
    </div>

    <div *ngIf="!auth.isLogged()" id="how-it-works" class="is-hidden-mobile">
      <a href="" routerLink="/onboarding"><u>Rejoindre la communauté</u></a>
    </div>
  </div>
</div>
