.hero-body
{
    background-image: url("../../../../assets/img/background/atelier75.jpg");
    margin-bottom: 50px;
}

.container
{
    background: rgba(30,30,30,0.75);
    padding: 30px
}

.box
{
    background: rgba(0,0,0,0);
    color: white;
}

.title
{
    font-size: 50px;
}

.subtitle
{
    font-size: 30px;
}

.title, .subtitle, p, a
{
    color: white;
}

#brandName
{
    color:#E35557;
}

p
{
    font-size: 22px;
}