.hero-body {
  background-image: url("/assets/img/background/latelier-darkened-mq.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  padding-bottom: 200px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  height: 650px;
}

.hero-icon {
  border: solid 2px white;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}

.hero-icon:hover {
  background-color: var(--KTKP-GREEN);
  border-color: var(--KTKP-GREEN);
}

.hero-label {
  margin-top: 10px;
}

.category {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.category .content {
  width: 150px;
}

#brand-logo {
  height: 75px;
}

.level-left, .level-right {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#personal-space {
  border-top: solid 4px var(--KTKP-BLUE);
}

#personal-space .level-right {
  background-color: var(--KTKP-BLUE);
  font-size: 12px;
}

#personal-level {
  padding: 10px;
  width: 300px;
}

#personal-level a {
  font-size: 1em;
  color: var(--KTKP-BLUE-DARKER);
}

#personal-level a:hover {
  color: black;
  font-weight: bold;
  padding-right: 35px;
}

#how-it-works {
  margin-top: 30px;
}

.container {
  padding: 30px
}

.box {
  background: rgba(0,0,0,0);
  color: white;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
}

.title, .subtitle, p, a {
  color: white;
}

p {
  font-size: 22px;
}

#call-to-action {
  margin-top: 50px;
}

#call-to-action p {
  width: 250px;
  margin: auto;
  font-size: 1em;
  margin-bottom: 8px;
  text-shadow: 1px 1px 2px black;
}

#call-to-action a {
  font-size: 1.2em;
  width: 250px;
  border-radius: 10px;
}

.level-right {
  background-color: #F9F9F9;
  border-bottom-left-radius: 10px;
}

.account {
  color: var(--KTKP-RED) !important;
}

@media screen and (max-width: 768px) {
  .hero-body {
    background-image: url("/assets/img/background/latelier-darkened-mq-mobile.jpg");
  }

  #promise-title {
    font-size: 2em;
    margin-bottom: 0px;
  }

  #promise-title-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  #call-to-action {
    margin-top: 0px;
  }

  #call-to-action a {
    font-size: 1.2em;
    width: auto;
  }

  .category .content {
    width: 100px;
  }

  #call-to-action p {
    width: 280px;
  }

  #call-to-action a {
    width: 280px;
  }
}
