<div class="hero-body">
  <div class="level is-mobile" id="personal-space">
    <div class="level-left">

    </div>

    <div id="dashboard-item" class="level-right">
      <div class="level is-mobile" id="personal-level">
        <div class="level-item dashboard has-text-centered">
          <a routerLink="/user/dashboard/activity-log">{{ "Mon activité" | uppercase }}</a>
        </div>
        <div class="level-item dashboard">
          <a routerLink="/user/dashboard/information">{{ "Mes informations" | uppercase }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container has-text-centered">
    <h1 class="subtitle">Faites de la place !</h1>
    <h1 class="title">Revendez votre matériel</h1>
    <p>
      Sur Outill<span class="accepted">y</span>,<br>
      vous pouvez acheter ou revendre du matériel de seconde main en toute sécurité.
    </p>
  </div>

  <div class="box has-text-centered">
    <a class="button is-large is-success">Commencez à vendre</a>
    <p>
      <a href=""><u>Comment ça marche ?</u></a>
    </p>
  </div>
</div>
