<div class="hero-body">
  <app-connection-menu>
  </app-connection-menu>

  <app-search-box class="is-hidden-tablet"
    [buttonHidden]=true>
  </app-search-box>

  <div class="container has-text-centered">
    <h1 class="subtitle">Faites de la place,</h1>
    <h1 class="title">Revendez votre matériel.</h1>
    <p>
      Sur {{ brandName }}, achetez et revendez du matériel de seconde main en toute sécurité.
    </p>
  </div>

  <div class="content category has-text-centered has-text-white">
    <a [href]="categoryService.getCategoryRoute(1, true)" [routerLink]="categoryService.getCategoryRoute(1)">
      <div class="content">
        <fa-icon class="hero-icon huge-icon" [icon]="['fas', 'wrench']"></fa-icon>
        <div class="content hero-label">
          Mécanique
        </div>
      </div>
    </a>

    <a [href]="categoryService.getCategoryRoute(3, true)" [routerLink]="categoryService.getCategoryRoute(3)">
      <div class="content">
        <fa-icon class="hero-icon huge-icon" [icon]="['fas', 'seedling']"></fa-icon>
        <div class="content hero-label">
          Jardin
        </div>
      </div>
    </a>

    <a [href]="categoryService.getCategoryRoute(2, true)" [routerLink]="categoryService.getCategoryRoute(2)">
      <div class="content">
        <fa-icon class="hero-icon huge-icon" [icon]="['fas', 'hammer']"></fa-icon>
        <div class="content hero-label">
          Habitat
        </div>
      </div>
    </a>
  </div>

  <div id="call-to-action" class="box has-text-centered">
    <a routerLink="/product/create" class="button is-large is-success">Vendre gratuitement</a>
    <div id="how-it-works">
      <a href="" routerLink="/faq"><u>Comment ça marche ?</u></a>
    </div>
  </div>
</div>
