<div id="buying">
  <div class="columns is-vcentered">
    <div class="column has-text-left">
      <div class="content">
        <table class="table">
          <tr>
            <td><span class="has-text-weight-bold">Le prix du produit</span> :</td>
            <td>{{ sale.product.reservePrice }}€</td>
          </tr>
          <tr>
            <td><span class="has-text-weight-bold">Nos frais de sécurisation (6%)</span> :</td>
            <td>{{ sale.product.reservePrice * 0.06 }}€</td>
          </tr>
          <tr>
            <td><span class="has-text-weight-bold">Les frais de port avec <span class="warning">{{ sticky.deliveryName }}</span></span> :</td>
            <td>{{ sticky.deliveryFees }}€</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="is-divider-vertical is-hidden-mobile"></div>

    <div class="column has-text-centered">
      <button routerLink="/checkout" class="button is-danger">
        Passer à l'étape suivante
      </button>
    </div>
  </div>

  <div class="content">
    <button class="normal" (click)="sticky.previousStep()">Choisir un nouveau mode de remise</button>
  </div>
</div>
