<div id="buying">
  <div class="columns is-vcentered">
    <div class="column has-text-left">
      <div class="content">
        <table class="table">
          <tr>
            <td><span class="has-text-weight-bold">Prix du produit</span></td>
            <td>{{ priceToPay | currency:'full' | number:'1.2-2'}}€</td>
          </tr>
          <tr>
            <td><span class="has-text-weight-bold">Frais de sécurisation</span></td>
            <td>{{ securisationFees | currency:'full' | number:'1.2-2' }}€</td>
          </tr>
          <tr>
            <td *ngIf="deliveryName === 'Mondial Relay'"><span class="has-text-weight-bold">Livraison <span class="warning">{{ deliveryName }}</span></span></td>
            <td *ngIf="deliveryName === 'Remise en main propre'"><span class="has-text-weight-bold"><span class="warning">Remise en mains propres</span></span></td>
            <td>{{ deliveryFees | currency:'full' | number:'1.2-2' }}€</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="is-divider-vertical is-hidden-mobile"></div>

    <div class="column has-text-centered">
      <button (click)="goToCheckout()" class="button is-danger">
        Passer à l'étape suivante
      </button>
    </div>
  </div>

  <div class="content">
    <fa-icon class="return" [icon]="['fas', 'chevron-left']"></fa-icon>
    <button class="normal" (click)="sticky.previousStep()">Choisir un nouveau mode de remise</button>
  </div>
</div>
