.is-divider-vertical, .is-divider-vertical:before {
  color: var(--KTKP-RED);
  border: solid 4px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.table td {
  text-align: right;
}

fa-icon.return {
  margin-right: 5px;
}
