<div *ngIf="showProgressBar && loadings.isLoading('input')">
  <span id="percentage-value">{{ fileUploadManager.getPercents() }}</span>%
  <progress class="progress is-small is-danger" [value]=fileUploadManager.getPercents() max="100"></progress>
</div>

<input [accept]=mediaFormatAccepted type="file" id="product-pictures" multiple name="medias" (change)="handleFile($event)" [hidden]=true>
<button *ngIf="!loadings.isLoading('input') && fileUploadManager.productMedias.length < maxFiles" (click)="openImgPicker()" id="file-select" class="button is-success">
  <fa-icon class="side-icon" [icon]="['fas', 'file-upload']"></fa-icon>
  {{ title }}
</button>

<button *ngIf="!loadings.isLoading('input') && fileUploadManager.productMedias.length >= maxFiles" id="file-select" class="button is-light">
  <fa-icon class="side-icon" [icon]="['fas', 'file-upload']"></fa-icon>
  {{ title }}
</button>

<div id="uploaded-media" class="content" *ngIf="fileUploadManager.productMedias.length > 0">
  <mat-accordion>
    <mat-expansion-panel class="padded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="subtitle is-5">Vos médias téléchargés (<span class="green">{{ fileUploadManager.productMedias.length }}</span>)</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <nav class="content" id="medias">
        <div class="content has-text-left" *ngFor="let media of fileUploadManager.productMedias">
          <div [ngStyle]="{ 'background-image': getBackgroundUrl(media.path) }" height="50px" width="auto" class="uploaded-file" [title]="'file'">
            <fa-icon [icon]="['fas', 'times-circle']" class="pointed" (click)="fileUploadManager.cancelMedia(media)"></fa-icon>
          </div>
        </div>
      </nav>
    </mat-expansion-panel>
  </mat-accordion>
</div>
