#percentage-value {
  color: var(--KTKP-RED);
}

.uploaded-file {
  margin: auto;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: solid 4px var(--MAT-GREY);
  border-radius: 10px;
}

.uploaded-file fa-icon {
  font-size: 2em;
  transition: 0.2s;
  color: var(--MAT-GREY);
}

.uploaded-file fa-icon:hover {
  color: var(--KTKP-RED);
}

.uploaded-file fa-icon svg {
  margin-top: 10px;
}

#uploaded-media {
  margin: auto;
  max-width: 500px;
  margin-top: 10px;
}
