<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label class="has-text-centered"
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <form *ngIf="form" [formGroup]="form">
      <p class="control">
        <input id="announceTitle" class="input no-border is-hidden-mobile"
          type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="product.name"
          formControlName="announceTitle"
          [ngClass]="{'is-invalid': controls.announceTitle.errors }">

          <input id="announceTitle-mobile" class="input no-border is-hidden-tablet"
          type="text"
          (keydown)="onKey($event)"
          placeholder="{{ placeholder }}"
          [(ngModel)]="product.name"
          formControlName="announceTitle"
          [ngClass]="{'is-invalid': controls.announceTitle.errors }">
      </p>
    </form>

    <!-- Errors display -->
    <div *ngIf="controls.announceTitle.errors" class="invalid-feedback has-text-centered" [ngClass]="{'is-invalid': controls.announceTitle.errors }">
      <div class="error" *ngIf="controls.announceTitle.errors.required">Le titre est requis</div>
      <div class="error" *ngIf="controls.announceTitle.errors.notValid">Le titre n'est pas assez explicite</div>
    </div>
  </div>
</div>

<app-navigation
  [controls]=controls.announceTitle.errors
  [data]="formData"
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
