<div id="documents" class="content">
  <h2 class="subtitle">Vérifier mon profil</h2>

  <div class="content discreet-text">
    Ces informations vous permettent de bénéficier du statut <span class="accepted">Vérifié(e)</span> et de percevoir votre argent
    lorsque vous réussissez une vente.
  </div>

  <article *ngIf="isKycCreated()" class="message is-success">
    <div class="message-body">
      <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
      Votre pièce d'identité a été validée.
    </div>
  </article>

  <div *ngIf="isKycAsked()" class="message is-info">
    <div class="message-body">
      <fa-icon [icon]="['fas', 'clock']"></fa-icon>
      Votre pièce d'identité est en cours de validation.
    </div>
  </div>

  <div *ngIf="isKycRefused()" class="message is-danger">
    <div class="message-body">
      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
      Votre pièce d'identité a été refusée. Veuillez en proposer une autre.
    </div>
  </div>

  <div class="columns">
    <div *ngIf="getKycDisplay()" class="column">
      <button class="button kyc is-dark is-small no-overflow" (click)="modals.open('kyc')">
        <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
        Ajouter une pièce d'identité
      </button>
    </div>

    <div class="column">
      <button class="button kyc is-dark is-small no-overflow" (click)="modals.open('iban')">
        <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
        Enregistrer votre IBAN
      </button>
    </div>
  </div>
</div>


<!-- MODALS -->

<!-- Kyc Modal -->
<div class="modal {{ modals.get('kyc') }}">
  <div class="modal-background" (click)="modals.close('kyc')"></div>
  <div class="modal-content">
    <div class="box">

      <h2 class="subtitle">Ajouter une pièce d'identité</h2>

      <div class="content">
        De quel type de pièce d'identité s'agit-il ?
      </div>

      <div class="columns has-text-centered">
        <div class="column">
          <div id="id-card" class="content tile" (click)="setFocus('id-card'); kycType = 'id-card'">
            <fa-icon [icon]="['fas', 'id-card']" class="side-icon"></fa-icon>
            Carte d'identité
          </div>
        </div>

        <div class="column">
          <div id="passport" class="content tile" (click)="setFocus('passport'); kycType = 'passport'">
            <fa-icon [icon]="['fas', 'passport']" class="side-icon"></fa-icon>
            Passeport
          </div>
        </div>
      </div>

      <!-- Error display -->
      <div class="error" *ngFor="let message of errorManager.messages">
        {{ message }}
      </div>

      <input accept="{{ acceptedKycFormats }}" type="file" id="kyc" name="product-pictures" (change)="handleFile($event)" style="display: none;">


      <h2 *ngIf="kycSent.length > 0" class="subtitle">
        Documents envoyés :
      </h2>

      <div class="columns is-centered is-vcentered">
      <div class="column" *ngFor="let kyc of kycUrl; index as i">
        <div class="content">
          <img [src]="kyc" height="50px" width="auto" class="kyc-doc" [alt]="kycSent[i]" [title]="kycSent[i]">
        </div>

        <div class="content green">
          {{ kycSent[i] }}
        </div>
      </div>
      </div>

      <div *ngIf="!loading" class="content">
        <button *ngIf="kycType && !recto" class="button kyc is-dark is-small no-overflow addspaceabove" (click)="page='recto'; openImgPicker('kyc')">
          <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
          Ajouter le recto
        </button>

        <button *ngIf="recto && kycType === 'id-card' && !verso" class="button kyc is-dark is-small no-overflow addspaceabove" (click)="page='verso'; openImgPicker('kyc')">
          <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
          Ajouter le verso
        </button>

        <button *ngIf="isKycComplete() && isKycAsked()" (click)="askKycValidation()" class="button is-success addspaceabove">Valider ma pièce d'identité</button>
      </div>

      <div *ngIf="loading">
        <button class="button is-light is-loading"></button>
      </div>

      <div *ngIf="isKycAsked()" class="notification is-success addspaceabove">
        Les documents ont bien été envoyés et seront vérifiés très prochainement.
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="modals.close('kyc')"></button>
</div>

<!-- IBAN Modal -->
<div class="modal {{ modals.get('iban') }}">
  <div class="modal-background" (click)="modals.close('iban')"></div>
  <div class="modal-content">
    <div class="box">

    <h2 class="subtitle">Ajouter un IBAN</h2>


    </div>
  </div>
  <button class="modal-close is-large" (click)="modals.close('iban')"></button>
</div>
