<div id="documents" class="content">
  <h2 class="subtitle">Vérifier mon profil</h2>

  <div class="content discreet-text">
    Ces informations vous permettent de bénéficier du statut <span class="accepted">Vérifié(e)</span> et de percevoir votre argent
    lorsque vous réussissez une vente.
  </div>

  <ng-container *ngIf="kycManager.hasMangoPayData()">
    <div *ngIf="kycManager.hasBankInfo() && kycManager.bankDoc.isSent" class="notification is-success">
      Votre RIB a bien été pris en compte
    </div>

    <article *ngIf="kycManager.isKycCreated()" class="message is-success">
      <div class="message-body">
        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
        Votre pièce d'identité a été validée.
      </div>
    </article>

    <div *ngIf="kycManager.isKycAsked()" class="message is-info">
      <div class="message-body">
        <fa-icon [icon]="['fas', 'clock']"></fa-icon>
        Les documents ont bien été envoyés et sont en cours de vérification.
      </div>
    </div>

    <div *ngIf="kycManager.isKycRefused()" class="message is-danger">
      <div class="message-body">
        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
        Votre pièce d'identité a été refusée. Veuillez en proposer une autre.
      </div>
    </div>

    <div *ngIf="kycManager.bankDoc.iban" class="content">
      <h2 class="subtitle has-text-left">RIB actuellement utilisé :</h2>

      <div class="content has-text-left">
        <span class="tag is-light"><span class="bold">IBAN</span>&nbsp;: {{ kycManager.bankDoc.iban }}</span><br>
        <span class="tag is-light"><span class="bold">BIC</span>&nbsp;: {{ kycManager.bankDoc.bic }}</span>
      </div>
    </div>
  </ng-container>

  <div class="columns">
    <div *ngIf="kycManager.hasMangoPayData() && kycManager.getKycDisplay()" class="column">
      <button class="button kyc is-dark is-small no-overflow" (click)="modals.open('kyc')">
        <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
        Ajouter une pièce d'identité
      </button>
    </div>

    <div class="column">
      <button *ngIf="kycManager.hasMangoPayData() && userManager.user.mangoPayData.ibanId === null" class="button kyc is-dark is-small no-overflow" (click)="modals.open('bank-account')">
        <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
        Ajouter un RIB
      </button>

      <button *ngIf="kycManager.hasMangoPayData() && userManager.user.mangoPayData.ibanId !== null" class="button kyc is-dark is-small no-overflow" (click)="modals.open('contact-form')">
        <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
        Remplacer ce RIB
      </button>
    </div>
  </div>
</div>


<!--
  ##########
  ##########
  MODALS
  ##########
  ##########
-->

<!-- Kyc Modal -->
<div class="modal" [ngClass]="modals.get('kyc')">
  <div class="modal-background" (click)="modals.close('kyc')"></div>
  <div class="modal-content">
    <div class="box">

      <h2 class="subtitle">Ajouter une pièce d'identité</h2>

      <div class="content">
        De quel type de pièce d'identité s'agit-il ?
      </div>

      <div class="columns has-text-centered">
        <div class="column">
          <div id="id-card" class="content tile" (click)="setFocus('id-card'); kycManager.setId()">
            <fa-icon [icon]="['fas', 'id-card']" class="side-icon"></fa-icon>
            Carte d'identité
          </div>
        </div>

        <div class="column">
          <div id="passport" class="content tile" (click)="setFocus('passport'); kycManager.setPassport()">
            <fa-icon [icon]="['fas', 'passport']" class="side-icon"></fa-icon>
            Passeport
          </div>
        </div>
      </div>

      <!-- Error display -->
      <div class="error" *ngFor="let message of kycManager.errorManager.errorMessages">
        {{ message }}
      </div>

      <h2 *ngIf="kycManager.hasKyc()" class="subtitle">
        Documents envoyés :
      </h2>

      <div class="columns is-centered is-vcentered">
        <div class="column" *ngFor="let kyc of kycManager.kycDocs">
          <div class="content">
            <img [src]="kyc.url" height="50px" width="auto" class="kyc-doc" [alt]="kyc.path" [title]="kyc.path">
          </div>
        </div>
      </div>

      <div *ngIf="!loading" class="content">
        <input #kycInput [accept]=acceptedKycFormats type="file" id="kyc" name="product-pictures" (change)="kycManager.handleFile($event, loading)" [hidden]="true">

        <button *ngIf="!kycManager.currentKycDoc.hasRecto" class="button kyc is-dark is-small no-overflow addspaceabove" (click)="openKycPicker('verso')">
          <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
          Ajouter le recto
        </button>

        <button *ngIf="!kycManager.currentKycDoc.hasVerso && kycManager.currentKycDoc.type === 'carte d\'identité'" class="button kyc is-dark is-small no-overflow addspaceabove" (click)="openKycPicker('recto')">
          <fa-icon [icon]="['fas', 'plus']" class="side-icon"></fa-icon>
          Ajouter le verso
        </button>

        <button *ngIf="kycManager.isKycComplete() && !kycManager.isKycAsked()" (click)="kycManager.askKycValidation(modals)" class="button is-success addspaceabove">Valider ma pièce d'identité</button>
      </div>

      <div *ngIf="loading">
        <button class="button is-light is-loading"></button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="modals.close('kyc')"></button>
</div>

<!-- Bank account Modal -->
<div id="bank-account" class="modal" [ngClass]="modals.get('bank-account')">
  <div class="modal-background" (click)="modals.close('bank-account')"></div>
  <div class="modal-content">
    <div class="box">

      <h2 class="subtitle">Ajouter un RIB</h2>

      <div *ngIf="!kycManager.hasBankInfo()" class="notification is-danger">
        Le RIB est incorrect
      </div>

      <div class="field is-horizontal is-mobile">
        <div class="field-label is-normal">
          <label class="label">IBAN</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control has-text-centered-mobile">
              <input class="input" [(ngModel)]="kycManager.bankDoc.iban">
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal is-mobile">
        <div class="field-label is-normal">
          <label class="label">BIC</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control has-text-centered-mobile">
              <input class="input" [(ngModel)]="kycManager.bankDoc.bic">
            </p>
          </div>
        </div>
      </div>

      <button class="button is-success" (click)="kycManager.bankAccountRegister(kycManager.bankDoc.iban, kycManager.bankDoc.bic, modals)">Ajouter ce RIB</button>

    </div>
  </div>
  <button class="modal-close is-large" (click)="modals.close('bank-account')"></button>
</div>

<!-- Contact form Modal -->
<div class="modal" [ngClass]="modals.get('contact-form')">
  <div class="modal-background" (click)="modals.close('contact-form')"></div>
  <div class="modal-content">
    <div class="box">
      <app-contact-form
        [chosenSubject]=chosenSubject
        [message]=message>
      </app-contact-form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="modals.close('contact-form')"></button>
</div>
