@import "./assets/css/bulma-custom.css";

:root {
    --KTKP-RED: #E35557;
    --KTKP-BLUE: #F9F9FE;
    --KTKP-BLUE-DARKER: #3A4984;
    --KTKP-GREEN: #7DD2B3;
    --KTKP-YELLOW: #F6A933;
    --KTKP-GREY: #F5F5F5;
    --KTKP-GREY-DARKER: #DEDEDE;
    --KTKP-BLACK: rgb(42, 41, 41);

    --GREY-LIGHT: #DBDBDB;
    --FAKE-WHITE: rgba(248, 248, 248, 0.865);
    --MAT-GREY: rgb(80, 80, 80);
}

.brandName
{
    color: var(--KTKP-RED);
}

.sold {
    text-decoration: line-through;
    text-decoration-color: var(--KTKP-RED);
}

.overline {
  border-top: solid 2px var(--FAKE-WHITE);
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.error {
  color: var(--KTKP-RED);
}

.pointed {
  cursor: pointer;
}

.wrapped {
  word-break: break-all;
}

.no-overflow {
  white-space: normal;
  padding: 8px;
  height: auto;
}

.addspacebelow {
  margin-bottom: 20px;
}

.removespacebelow {
  margin-bottom: 5px;
}

.shortline {
  margin-top: 2px;
  margin-bottom: 2px;
}

.shortpadding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.discreet-text {
  font-size: 0.8em;
  color: var(--MAT-GREY);
}

.accepted {
  color: var(--KTKP-GREEN);
  font-weight: bold;
}

.declined {
  color: var(--KTKP-RED);
  font-weight: bold;
}

.counter-offer {
  color: var(--KTKP-BLUE-DARKER);
  font-weight: bold;
}

.mat-expansion-panel-header {
  min-height: 48px;
  height: auto !important;
}

a:link, a:visited {
  color: black;
}

.link:link, .link:visited {
  color: var(--KTKP-GREEN);
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }
