@import "./assets/css/bulma-custom.css";

:root {
  --KTKP-RED: #E35557;
  --KTKP-BLUE: #F9F9FE;
  --KTKP-BLUE-DARKER: #3A4984;
  --KTKP-GREEN: #7DD2B3;
  --KTKP-YELLOW: #F6A933;
  --KTKP-GREY: #F5F5F5;
  --KTKP-GREY-LIGHT: #F8F8F8;
  --KTKP-GREY-DARKER: #DEDEDE;
  --KTKP-BLACK: rgb(42, 41, 41);
  --KTKP-PURPLE: #711e80;

  --GREY-LIGHT: #DBDBDB;
  --FAKE-WHITE: rgba(248, 248, 248, 0.865);
  --MAT-GREY: rgb(80, 80, 80);
}

.brandName
{
  color: var(--KTKP-RED);
}

/* General style effects */

.normal {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.overline {
  border-top: solid 2px var(--FAKE-WHITE);
}

.overline-thick {
  border-top: solid 4px black;
}

.no-margin {
  margin: 0px;
}

.purple {
  color: var(--KTKP-PURPLE);
}

.red {
  color: var(--KTKP-RED);
}

.green {
  color: var(--KTKP-GREEN);
}

.grey {
  color: var(--MAT-GREY);
}

/* Tags definition */

.small-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.medium-title {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.big-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.confirmation-notification {
  color: var(--KTKP-GREEN);
  border: solid 1px var(--KTKP-GREEN);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification-container {
  margin-right: 10px;
}

.notification-icon {
  margin-right: 0px !important;
  color: var(--KTKP-RED) !important;
}

.notification-icon.invert {
  color: var(--MAT-GREY) !important;
}

.notification-icon.side-icon {
  margin-right: 5px !important;
}

/* Helpers */

.sold {
  text-decoration: line-through;
  text-decoration-color: var(--KTKP-RED);
}

.error {
  color: var(--KTKP-RED);
}

.info {
  color: var(--KTKP-BLUE-DARKER);
}

.pointed {
  cursor: pointer;
}

.wrapped {
  word-break: break-all;
}

.break-word {
  word-break: break-word !important;
}

.no-overflow {
  white-space: normal;
  padding: 8px;
  height: auto;
}

.small-left-margin {
  margin-left: 5px;
}

.medium-left-margin {
  margin-left: 10px;
}

.small-right-margin {
  margin-right: 5px;
}

.medium-right-margin {
  margin-right: 10px;
}

.hand-delivery-icon {
  height: 15px;
}

.mondial-relay-icon {
  height: 30px;
}

.small-icon {
  font-size: 0.5em;
}

.medium-icon {
  font-size: 0.75em;
}

.big-icon {
  font-size: 1em;
}

.huge-icon {
  font-size: 1.5em;
}

.side-icon {
  margin-right: 10px;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.addgiantspaceabove {
  margin-top: 100px;
}

.addhugespaceabove {
  margin-top: 50px;
}

.addspaceabove {
  margin-top: 20px;
}

.addlittlespaceabove {
  margin-top: 10px;
}

.addspacebelow {
  margin-bottom: 20px;
}

.addhugespacebelow {
  margin-bottom: 50px;
}

.removespacebelow {
  margin-bottom: 0px;
}

.little-title {
  font-size: 1.5em;
}

.left {
  text-align: left;
}

.shortline {
  margin-top: 2px;
  margin-bottom: 2px;
}

.shortpadding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.small-text {
  font-size: 0.8em;
}

.less-discreet-text {
  font-size: 0.9em;
  color: var(--MAT-GREY);
}

.discreet-text {
  font-size: 0.8em;
  color: var(--MAT-GREY);
}

.very-discreet-text {
  font-size: 0.6em;
  color: var(--MAT-GREY);
}

.error {
  color: var(--KTKP-RED);
}

.success {
  color: var(--KTKP-GREEN);
}

.accepted {
  color: var(--KTKP-GREEN);
  font-weight: bold;
}

.declined {
  color: var(--KTKP-RED);
  font-weight: bold;
}

.counter-offer {
  color: var(--KTKP-BLUE-DARKER);
  font-weight: bold;
}

.is-pointable {
  pointer-events: initial;
}

/* Animations */
.blinking {
  animation: blinker 3s linear infinite;
}

.blinking-slow {
  animation: blinker 5s linear infinite;
}

.blinking-slower {
  animation: blinker 8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.color-blinking {
  animation: color-blinker 3s linear infinite;
}

.color-blinking-slow {
  animation: color-blinker 5s linear infinite;
}

.color-blinking-slower {
  animation: color-blinker 8s linear infinite;
}

@keyframes color-blinker {
  50% {
    color: white;
  }
}

/* General */
.mat-expansion-panel-header {
  min-height: 48px;
  height: auto !important;
}

.input.is-invalid {
  border-color: var(--KTKP-RED);
}

.input.is-valid {
  border-color: var(--KTKP-GREEN);
}

.button.is-success, .button.is-success:hover {
  color: white;
}

.modal .box {
  border: solid 3px var(--KTKP-GREY);
}

.modal.padded {
  padding-left: 10px;
  padding-right: 10px;
}

button.modal-close {
  background: black;
}

button.modal-close:hover {
  background: var(--KTKP-RED);
}

.input.no-border, .input.no-border:hover, .input.no-border:enabled {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: solid 1px grey;
}

.link-normal {
  text-decoration: underline;
}

a:link, a:visited {
  color: black;
}

.link:link, .link:visited {
  color: var(--KTKP-GREEN);
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }

/* Fa-icons */
fa-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}
fa-icon .fa-2x{
  height: 2em;
}

@media screen and (max-width: 768px) {
  .little-padding-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }

  .normal-padding-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
