:root {
    --KTKP-RED: #E35557;
    --KTKP-BLUE: #F9F9FE;
    --KTKP-BLUE-DARKER: #3A4984;
    --KTKP-GREEN: #7DD2B3;
    --KTKP-YELLOW: #F6A933;

    --GREY-LIGHT: #DBDBDB;
}

.brandName
{
    color: var(--KTKP-RED);
}

.green {
    background-color: var(--KTKP-GREEN);
    color: white;
}

a:link, a:visited {
    color: black;
}