<div class="box">
  <h2 class="subtitle section-title has-text-centered has-text-weight-bold">Comment récupérer mon produit ?</h2>

  <div class="content has-text-centered has-text-weight-bold">
    Vous avez choisi la remise en main propre&nbsp;
  </div>

  <div class="content has-text-centered">
    <img id="hand-logo" src="/assets/img/logo/hand-delivery-logo.png">
  </div>

  <div class="content has-text-centered">
    Nous vous communiquerons les coordonnées du vendeur après la finalisation de votre achat pour que vous puissiez convenir d'un RDV.
  </div>
</div>
