<div id="recap" class="content">
    <h1 class="title">Récapitulatif</h1>

    <table class="table">
      <tr>
        <td colspan="3"><h2 class="subtitle">Informations générales</h2></td>
      </tr>
      <tr>
        <td class="field-name">Prénom</td>
        <td>{{ formDataService.user.userProfile.firstname }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/2/firstname" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Nom</td>
        <td>{{ formDataService.user.userProfile.lastname }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/3/lastname" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Genre</td>
        <td [ngSwitch]="formDataService.user.userProfile.gender">
          <span *ngSwitchCase="'female'">Femme</span>
          <span *ngSwitchCase="'male'">Homme</span>
          <span *ngSwitchCase="'other'">Autre</span>
        </td>
        <td class="has-text-right"><button routerLink="/onboarding/4/gender" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Date de naissance</td>
        <td>{{ formDataService.user.userProfile.birthdate | date:'dd/MM/yyyy' }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/6/birthdate" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Statut</td>
        <td [ngSwitch]="formDataService.user.userProfile.type">
          <span *ngSwitchCase="'individual'">Particulier</span>
          <span *ngSwitchCase="'professional'">Professionnel</span>
        </td>
        <td class="has-text-right"><button routerLink="/onboarding/5/status" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr *ngIf="formDataService.user.userProfile.type === 'professional'">
        <td class="field-name">SIRET</td>
        <td>{{ formDataService.user.userProfile.company.siret }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/5/status/siret" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr *ngIf="formDataService.user.userProfile.type === 'professional'">
        <td class="field-name">TVA</td>
        <td>{{ formDataService.user.userProfile.company.tvanumber }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/5/status/tva" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td colspan="3"><h2 class="subtitle">Localisation</h2></td>
      </tr>
      <tr>
        <td class="field-name">Pays</td>
        <td>
          {{ formDataService.user.userProfile.mainAddress.country.name }}
        </td>
        <td class="has-text-right"><button routerLink="/onboarding/7/country" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Code postal</td>
        <td>{{ formDataService.user.userProfile.mainAddress.zipcode }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/8/zipcode" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Ville</td>
        <td>{{ formDataService.user.userProfile.mainAddress.city }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/9/city" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Voie</td>
        <td>{{ formDataService.user.userProfile.mainAddress.line1 }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/10/street" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td colspan="3"><h2 class="subtitle">Contact</h2></td>
      </tr>
      <tr>
        <td class="field-name">Email</td>
        <td>{{ formDataService.user.userProfile.email }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/1/email" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Téléphone</td>
        <td>{{ formDataService.user.userProfile.phone1 }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/11/phonenumber" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td class="field-name">Newsletter</td>
        <td *ngIf="formDataService.user.userProfile.emailOptin">Oui</td>
        <td *ngIf="!formDataService.user.userProfile.emailOptin">Non</td>
        <td class="has-text-right"><button routerLink="/onboarding/14/emailoptin" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
      <tr>
        <td colspan="3"><h2 class="subtitle">Sécurité</h2></td>
      </tr>
      <tr>
        <td class="field-name">Mot de passe</td>
        <td>{{ formDataService.user.password | anonymize:0 }}</td>
        <td class="has-text-right"><button routerLink="/onboarding/12/password" class="button edit is-success is-small"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button></td>
      </tr>
    </table>

    <button *ngIf="loading" class="button is-light is-loading"></button>
    <button *ngIf="!loading" class="button is-success" (click)="loading = true; submit()">On valide !</button>
</div>
