#slogan-container
{
  margin-bottom: 30px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

#slogan-title {
  background-color: white;
  border-radius: 55px;
  padding: 30px;
}

#brand-logo {
  margin-left: 10px;
  height: 40px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
