<div id="slogan-container" class="columns has-text-centered">
  <div class="column is-hidden-mobile is-one-quarter" id="leftborder"></div>
  <div id="slogan-title" class="column is-half is-hidden-mobile">
    <app-search-box
      [placeholder]=placeholder>
    </app-search-box>
  </div>

  <div id="slogan-title"class="column is-half is-hidden-tablet">
    <h1 class="title little-title">
      Trouvez du matériel sur
    </h1>
    <img id="brand-logo" src="/assets/img/logo/outilly-logo.png" alt="Logo Outilly" title="Logo Outilly" height="40" width="auto">
  </div>
  <div class="column is-hidden-mobile is-one-quarter" id="rightborder"></div>
</div>
