<div *ngIf="loaded" class="columns has-text-centered is-centered">
  <div class="column is-12 has-text-centered">

    <!-- Static sales -->
    <div *ngIf="filtersNb === 0" id="static-sales">

      <!-- Mecanic sales -->
      <div id="mecanic">
        <app-category-products
          [sales]=mecanicProducts
          [maxTitleSize]=maxTitleSize
          [categoryId]=1
          [categoryIcon]=categoryIcons[0]>
        </app-category-products>

        <div class="content has-text-centered">
          <button class="button is-danger is-outlined load-more no-overflow" (click)="launchCategorySearch(1)">Voir plus de produits de cette catégorie</button>
        </div>
      </div>

      <div class="is-divider"></div>

      <!-- Diy sales -->
      <div id="diy">
        <app-category-products
          [sales]=diyProducts
          [maxTitleSize]=maxTitleSize
          [categoryId]=2
          [categoryIcon]=categoryIcons[1]>
        </app-category-products>

        <div class="content has-text-centered">
          <button class="button is-danger is-outlined load-more no-overflow" (click)="launchCategorySearch(2)">Voir plus de produits de cette catégorie</button>
        </div>
      </div>

      <div class="is-divider"></div>

      <!-- Workshop -->
      <div id="workshop">
        <app-category-products
          [sales]=workshopProducts
          [maxTitleSize]=maxTitleSize
          [categoryId]=4
          [categoryIcon]=categoryIcons[3]>
        </app-category-products>

        <div class="content has-text-centered">
          <button class="button is-danger is-outlined load-more no-overflow" (click)="launchCategorySearch(4)">Voir plus de produits de cette catégorie</button>
        </div>
      </div>

      <div class="is-divider"></div>

      <!-- Garden -->
      <div id="garden">
        <app-category-products
          [sales]=gardenProducts
          [maxTitleSize]=maxTitleSize
          [categoryId]=3
          [categoryIcon]=categoryIcons[2]>
        </app-category-products>

        <div class="content has-text-centered">
          <button class="button is-danger is-outlined load-more no-overflow" (click)="launchCategorySearch(3)">Voir plus de produits de cette catégorie</button>
        </div>
      </div>
    </div>

    <!-- Filtered products -->
    <div *ngIf="filtersNb > 0">
      <app-filtered-products
        [sales]=sales
        [maxTitleSize]=maxTitleSize>
      </app-filtered-products>

      <div *ngIf="sales.length !== 0" class="content has-text-centered">
        <button class="button is-danger is-outlined load-more no-overflow" (click)="sendLoadMore()">Voir plus de produits</button>
      </div>

      <div *ngIf="sales.length === 0" class="content has-text-centered">
        Aucun produit ne correspond (pour l'instant) à votre recherche
      </div>
    </div>
  </div>
</div>
