img
{
  width: 95%;
  height: 120px;
}

.card-content {
  padding: 0px;
}

.in-line {
  display: inline-block;
  width: 180px;
  height: 400px;
  margin: 1em;
  vertical-align: top;
}

.card-content {
  transition: 0.5s;
}

.card-content:hover {
  box-shadow: 0 0 20px grey;
  margin-top: -10px;
}

.product-link {
  width: 100%;
}

.thumbnail {
  visibility: hidden;
  z-index: 1;
}

.delivery-icon {
  width: 25px;
  height: auto;
}
