<!-- DESKTOP version -->
<div class="columns is-centered is-hidden-mobile">
  <div class="column is-12">
    <div class="columns is-centered has-text-centered">
      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
        <h2 class="subtitle">Un paiement 100% sécurisé</h2>
        <div class="content incentive-description">
          <span class="discreet-text">Une vente se passe <span class="bold">forcément</span> sur la plateforme : vous êtes assuré(e) que votre argent est entre de bonnes mains avant de récupérer votre produit !</span>
        </div>
      </div>

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'comments']"></fa-icon><br>
        <h2 class="subtitle">Une équipe dédiée à votre écoute</h2>
        <div class="content incentive-description">
          <span class="discreet-text">En cas de pépin, vous pouvez contacter Clémentine et ses équipes du SAV qui seront <span class="bold">vraiment</span> à votre écoute.</span>
        </div>
      </div>

      <div class="column incentive">
        <fa-icon class="incentive-icon" [icon]="['fas', 'ghost']"></fa-icon><br>
        <h2 class="subtitle">Une vente anonymisée (mais vérifiée !)</h2>
        <div class="content incentive-description">
          <span class="discreet-text">Eh oui : nous ne divulguons pas les coordonnées ni l'identité du vendeur pour protéger sa vie privée, mais rassurez-vous : tout est vérifié par nos services avant de conclure une vente.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE Version -->
<div class="content is-centered is-hidden-tablet">

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column incentive">
      <h2 class="subtitle">Paiement 100% sécurisé</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'lock']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Une vente se passe <span class="bold">forcément</span> sur la plateforme : vous êtes assuré(e) que votre argent est entre de bonnes mains avant de récupérer votre produit !</span>
      </div>
    </div>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column incentive">
      <h2 class="subtitle">Une équipe dédiée à votre écoute</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'comments']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">En cas de pépin, vous pouvez contacter Clémentine et ses équipes du SAV qui seront <span class="bold">vraiment</span> à votre écoute.</span>
      </div>
    </div>
  </div>

  <div class="columns is-centered is-mobile has-text-centered">
    <div class="column incentive">
      <h2 class="subtitle">Une vente anonymisée (mais vérifiée !)</h2>
      <fa-icon class="incentive-icon" [icon]="['fas', 'ghost']"></fa-icon><br>
      <div class="content incentive-description">
        <span class="discreet-text">Eh oui : nous ne divulguons pas les coordonnées ni l'identité du vendeur pour protéger sa vie privée, mais rassurez-vous : tout est vérifié par nos services avant de conclure une vente.</span>
      </div>
    </div>
  </div>
</div>
