<h1 *ngIf="userManager.user.userProfile.firstname" class="title has-text-centered">Bienvenue <span id="username">{{ userManager.user.userProfile.firstname }}</span> !</h1>

<app-activitation-account-warning
  [activated]=activated>
</app-activitation-account-warning>

<app-completion-account-warning
  [completed]=auth.isUserCompleted()>
</app-completion-account-warning>

<div class="columns is-centered">
  <div class="column has-text-centered">

    <div id="tabs" class="tabs is-toggle is-toggle-rounded is-centered addspaceabove">
      <ul>
        <li id="information" routerLink="/user/dashboard/information" (click)="setFocus('information')" class="is-active">
          <a>Mes informations</a>
        </li>
        <li id="activities" routerLink="/user/dashboard/activity-log" (click)="setFocus('activities')">
          <a>
            <fa-icon *ngIf="notification.allSalesStatus" class="notification-icon blinking error" [icon]="['fas', 'bell']"></fa-icon>
            Mon activité
          </a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>

    <button class="button is-danger is-light addspaceabove" (click)="logOut()">
      Déconnexion
    </button>
  </div>
</div>
