<div class="content has-text-left">
  <div class="field">
    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns tiles is-multiline is-mobile is-narrow is-vcentered has-text-centered">
      <div class="column">
        <div class="content tile" id="male" (click)="user.userProfile.gender='male'; nextOn=true">
          Homme
        </div>
      </div>

      <div class="column">
        <div class="content tile" id="female" (click)="user.userProfile.gender='female'; nextOn=true">
          Femme
        </div>
      </div>

      <div class="column">
        <div class="content tile" id="other" (click)="user.userProfile.gender='other'; nextOn=true">
          Ne se prononce pas
        </div>
      </div>
    </div>
  </div>
</div>

<app-navigation
  [controls]=controls.gender.errors
  [data]="formDataService"
  [disabledEnterKey]=true
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
