<div class="content has-text-left">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName>
    </app-step-label>

    <div class="columns tiles is-multiline is-mobile is-narrow is-vcentered has-text-centered">
      <div class="column">
        <div class="content tile" id="male" (click)="user.userProfile.gender='male'; additionalControls = true; nextOn=true">
          Homme
        </div>
      </div>

      <div class="column">
        <div class="content tile" id="female" (click)="user.userProfile.gender='female'; additionalControls = true; nextOn=true">
          Femme
        </div>
      </div>

      <div class="column">
        <div class="content tile" id="other" (click)="user.userProfile.gender='other'; additionalControls = true; nextOn=true">
          Ne se prononce pas
        </div>
      </div>
    </div>
  </div>
</div>

<app-navigation
  [data]=formData
  [additionalControls]=additionalControls
  [disabledEnterKey]=true
  [path]=path
  [rootUri]=root
  [nextOn]=nextOn
  [previousOn]=previousOn>
</app-navigation>
