<div id="under-tabs" class="tabs is-boxed is-centered is-small">
  <ul>

    <!-- Sales -->
    <li id="user-sales" class="is-active" (click)="setFocus(activityTabs, 'user-sales')">
      <a (click)="goToSales('running')">
        <fa-icon class="notification-icon blinking" *ngIf="requiresAction['runningSales']" [icon]="['fas', 'bell']"></fa-icon>
        <span class="icon"><fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon></span>
        <span>Mes annonces</span>
      </a>
    </li>
    <li id="user-sales-confirmed" (click)="setFocus(activityTabs, 'user-sales-confirmed')">
      <a (click)="goToSales('confirmed')">
        <span class="icon"><fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon></span>
        <span>Mes ventes</span>
      </a>
    </li>

    <li id="separation">
      <a class="is-hidden-mobile" id="blank"><fa-icon [icon]="['fas', 'grip-vertical']"></fa-icon></a>
    </li>

    <!-- Purchases -->
    <li id="user-purchases" class="purchases" (click)="setFocus(activityTabs, 'user-purchases')">
      <a (click)="goToPurchases('running')">
        <fa-icon class="notification-icon color-blinking" *ngIf="requiresAction['runningPurchases']" [icon]="['fas', 'bell']"></fa-icon>
        <span class="icon"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span>
        <span>Mes négociations</span>
      </a>
    </li>
    <li id="user-purchases-confirmed" class="purchases" (click)="setFocus(activityTabs, 'user-purchases-confirmed')">
      <a (click)="goToPurchases('confirmed')">
        <span class="icon"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span>
        <span>Mes achats</span>
      </a>
    </li>
  </ul>
</div>

<div class="content discreet-text">
  Lorsque l'un de vos achats/ventes se met à jour une notification (<fa-icon class="bell" [icon]="['fas', 'bell']"></fa-icon>) apparaît dans l'onglet concerné et devant le nom du produit.
</div>

<app-user-sales *ngIf="currentSection === 'sales'"
  [runningSales]=runningSales
  [sellerOrders]=sellerOrders
  [saleStatus]=saleStatus>
</app-user-sales>

<app-user-purchases *ngIf="currentSection === 'purchases'"
  [url]=url
  [purchases]=purchases
  [buyerOrders]=buyerOrders
  [purchaseStatus]=purchaseStatus>
</app-user-purchases>
