<div id="under-tabs" class="tabs is-boxed is-centered is-small">
  <ul>

    <!-- Sales -->
    <li id="user-sales" class="is-active" (click)="setFocus('user-sales')">
      <a routerLink="/user/dashboard/activity-log/sales/running">

        <!-- Notification icon -->
        <span *ngIf="notification.runningSalesNotifNb > 0" class="notification-container blinking">
          <fa-icon class="notification-icon" [icon]="['fas', 'bell']"></fa-icon>
          <span class="declined"><sup>{{ notification.runningSalesNotifNb }}</sup></span>
        </span>

        <span class="icon"><fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon></span>
        <span>Mes annonces</span>
      </a>
    </li>
    <li id="user-sales-confirmed" (click)="setFocus('user-sales-confirmed')">
      <a routerLink="/user/dashboard/activity-log/sales/confirmed">

        <!-- Notification icon -->
        <span *ngIf="notification.confirmedSalesNotifNb > 0" class="notification-container blinking">
          <fa-icon class="notification-icon invert" [icon]="['fas', 'bell']"></fa-icon>
          <span class="grey"><sup>{{ notification.confirmedSalesNotifNb }}</sup></span>
        </span>
        <span class="icon"><fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon></span>
        <span>Mes ventes</span>
      </a>
    </li>

    <li id="separation">
      <a class="is-hidden-mobile" id="blank"><fa-icon [icon]="['fas', 'grip-vertical']"></fa-icon></a>
    </li>

    <!-- Purchases -->
    <li id="user-purchases" class="purchases" (click)="setFocus('user-purchases')">
      <a routerLink="/user/dashboard/activity-log/purchases/running">

        <!-- Notification icon -->
        <span *ngIf="notification.runningPurchasesNotifNb > 0" class="notification-container blinking">
          <fa-icon class="notification-icon invert" [icon]="['fas', 'bell']"></fa-icon>
          <span class="grey"><sup>{{ notification.runningPurchasesNotifNb }}</sup></span>
        </span>

        <span class="icon"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span>
        <span>Mes négociations</span>
      </a>
    </li>
    <li id="user-purchases-confirmed" class="purchases" (click)="setFocus('user-purchases-confirmed')">
      <a routerLink="/user/dashboard/activity-log/purchases/confirmed">

        <!-- Notification icon -->
        <span *ngIf="notification.confirmedPurchasesNotifNb > 0" class="notification-container blinking">
          <fa-icon class="notification-icon invert" [icon]="['fas', 'bell']"></fa-icon>
          <span class="grey"><sup>{{ notification.confirmedPurchasesNotifNb }}</sup></span>
        </span>

        <span class="icon"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span>
        <span>Mes achats</span>
      </a>
    </li>
  </ul>
</div>

<div class="content discreet-text">
  Lorsque l'un de vos achats/ventes se met à jour une notification (<fa-icon class="bell" [icon]="['fas', 'bell']"></fa-icon>) apparaît dans l'onglet concerné et devant le nom du produit.
</div>

<router-outlet></router-outlet>
