<div id="display-container" class="content">
  <div [routerLink]="getProductRoute(sale)" class="in-line pointed" *ngFor="let sale of sales">
    <div class="card">
      <div class="card-content">
        <div class="img-container" *ngIf="sale.product.mainImage" [ngStyle]="{ 'background-image': getBackgroundImgUrl(sale.product.mainImageThumbnail.path) }"></div>
        <h2 *ngIf="sale.product.name.length <= maxTitleSize" class="subtitle is-5 product-title">{{ sale.product.name }}</h2>
        <h2 *ngIf="sale.product.name.length > maxTitleSize" class="subtitle is-5 product-title" [title]=sale.product.name>{{ sale.product.name | slice:0:maxTitleSize }}...</h2>

        <div class="columns is-vcentered">
          <div class="column declined inline-mobile">
            {{ sale.product.reservePrice | currency:'full' }}€
          </div>

          <div class="column has-text-left has-text-centered-mobile inline-mobile">
            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
            {{ sale.product.locality }}
          </div>
        </div>

        <div class="columns is-vcentered delivery-method">
          <div class="column is-6 inline-mobile has-text-right">
            Mode de remise :
          </div>

          <div class="column has-text-left has-text-centered-mobile inline-mobile">
            <nav class="level inline-mobile">
              <div *ngIf="sale.product.toDeliver" class="level-item inline-mobile">
                <img class="delivery-icon" src="/assets/img/logo/mondial-relay-logo.png" title="Expédition via Mondial Relay">
              </div>

              <div class="level-item inline-mobile">
                <img class="delivery-icon" src="/assets/img/logo/hand-delivery-logo.png" title="Remise en mains propres">
              </div>
            </nav>
          </div>
        </div>

        <button class="button is-danger product-link">
          Voir le produit
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!noMoreResults" class="content has-text-centered">
  <button (click)="loadMoreCall()" class="button is-danger">
    Voir {{ resultsPerPage }} de plus
  </button>
</div>
