<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
  <mat-accordion>
    <mat-expansion-panel id="sticky" hideToggle [expanded]="openState" (opened)="openState = true" (closed)="openState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="title is-5"><span>Acheter ce produit&nbsp;</span><fa-icon class="caret" *ngIf="!openState" [icon]="['fas', 'caret-up']"></fa-icon><fa-icon class="caret" *ngIf="openState" [icon]="['fas', 'caret-down']"></fa-icon></h1>
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div id="menu-content" class="content">
          <delivery-options [sale]="sale" [errorMsg]="errorMsg" *ngIf="stickyMenuSteps.deliveryOptions"></delivery-options>
          <buying-confirmation [sale]="sale" *ngIf="stickyMenuSteps.buyingConfirmation"></buying-confirmation>
          <buying-proposition [sale]="sale"
          [errorMsg]="errorMsg"
          [minPrice]="minPrice"
          [maxPrice]="maxPrice"
          [proposedPrice]="proposedPrice"
          *ngIf="stickyMenuSteps.buyingProposition"></buying-proposition>
        </div>

    </mat-expansion-panel>
  </mat-accordion>
</nav>
