<div class="content has-text-left">
    <div class="field">
        <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName></app-step-label>

        <div class="control has-icons-left">
            <div class="select is-hovered">
                <select [(ngModel)]="user.userProfile.type" #name="ngModel" required>
                    <option value="individual" selected>Particulier</option>
                    <option value="professional">Professionnel</option>
                </select>
            </div>

            <div class="icon is-small is-left">
                <fa-icon [icon]="['fas', 'laptop-house']"></fa-icon>
            </div>
        </div>
    </div>
</div>

<app-navigation
[localNextPath]=nextPath
[localPreviousPath]=previousPath
[localCurrentPath]=currentPath
[localType]=name.value ></app-navigation>