<div class="content has-text-left">
  <div class="field">
      <app-step-label
        [stepNb]=stepNb
        [stepName]=stepName>
      </app-step-label>

      <div class="control has-icons-left">
        <div class="select is-hovered">
          <select id="status" [(ngModel)]="user.userProfile.type">
            <option value="individual">Particulier</option>
            <option value="professional">Professionnel</option>
          </select>
        </div>

        <div class="icon is-small is-left">
          <fa-icon [icon]="['fas', 'laptop-house']"></fa-icon>
        </div>
      </div>
  </div>
</div>

<app-navigation
  [controls]=controls.status.errors
  [data]="formDataService"
  [disabledEnterKey]=true
  [path]=path
  [rootUri]="root"
  [nextOn]="nextOn"
  [previousOn]="previousOn">
</app-navigation>
