<div class="content">
  <div class="field">
    <app-step-progress
      [stepNb]=stepNb
      [totalNbSteps]=totalNbSteps>
    </app-step-progress>

    <app-step-label
      [stepNb]=stepNb
      [stepName]=stepName
      [stepSubtitle]=stepSubtitle>
    </app-step-label>
  </div>

  <form [formGroup]="formCreator.form">
    <div class="field">
      <label class="label">Pays</label>
        <div class="control my-select">
          <div class="select">
            <select [(ngModel)]="user.userProfile.mainAddress.country" formControlName="country">
              <option *ngFor="let country of countriesAccepted" [ngValue]="country">
                {{ country.name }}
              </option>
            </select>
          </div>
        </div>
    </div>

    <div class="field">
      <label class="label">Code postal</label>
      <p class="control">
        <input class="input" formControlName="zipcode" [(ngModel)]="user.userProfile.mainAddress.zipcode">
      </p>
    </div>

    <div class="field">
      <label class="label">Ville</label>
      <p class="control">
        <input class="input" formControlName="city" [(ngModel)]="user.userProfile.mainAddress.city">
      </p>
    </div>

    <div class="field">
      <label class="label">Voie</label>
      <p class="control">
        <input class="input" formControlName="line1" [(ngModel)]="user.userProfile.mainAddress.line1">
      </p>
    </div>
  </form>

  <div class="error" *ngIf="!formCreator.form.valid">
    <span *ngIf="formCreator.controls.zipcode.errors && formCreator.controls.zipcode.errors.pattern">Le code postal est incorrect</span>
  </div>

  <app-navigation
    [additionalControls]=formCreator.form.valid
    [disabledEnterKey]=false
    [data]=formData
    [path]=path
    [rootUri]=root
    [nextOn]=nextOn
    [previousOn]=previousOn>
  </app-navigation>
</div>
