@charset "utf-8";

// Set your brand colors
$white: white;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$grey-light: #838383;
$grey-lighter: #F6F6F6;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$success: #7DD2B3;
$danger: #E35557;
$warning: #F6A933;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$link: $grey-light;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: black;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: $grey-light;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma-divider/src/sass/index.sass";
@import "../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../node_modules/bulma-carousel/src/sass/index.sass";
